@charset "utf-8";

@import "qount-variables";
@import 'settings';
@import '../../app/bower_components/foundation-sites/scss/foundation';
@import '../../app/bower_components/motion-ui/motion-ui';
@import "../../app/bower_components/Ionicons/scss/ionicons";
@import "../../app/bower_components/Ionicons/scss/ionicons-font";
@import "../../app/bower_components/Ionicons/scss/ionicons-icons";
@import "../../app/bower_components/Ionicons/scss/ionicons-variables";
@import "../../app/bower_components/glyphicons/styles/glyphicons";
@import "../../app/bower_components/font-awesome/scss/font-awesome";
@import "jquery-ui";
@import "login-signup";
@import "footable.standalone";
@import "line-item-flyout";
@import "toaster";
@import "userprofile";
@import "top-notifications";
@import "pikaday";
@import "pace-theme-minimal";
@import "login-signup";
@import "jquery.tagit";
@import "userprofile";
@import "toaster";
@import "workflow";
@import "custom.footable";
@import "switch.company";
@import "loader";
@import "invoices";
@import "qount-offcanvas-menu";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-off-canvas;
@include foundation-orbit;
//@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


body {
  background: #fff;
  height: auto;
}
#moduleslist>div>ul>li:nth-of-type(odd){
  background-color : #f1f1f1;
}
#moduleslist>div>ul>li:nth-of-type(even){
  background-color : white;
}
@media print{
  .nz {
    color: darkblue !important;
    font-weight:700 !important;
  }

  .nz2 {
    color: darkblue !important;
    font-weight:600 !important;
  }

  .report-heading{
    color: #282895;
    font-weight: 700;
  }

  .report{
    display: none;
  }
  #displayReport1
  {
    display: none;
  }
  *{
    visibility: hidden;

  }

  .report-header, #printableArea,.reportheader{
    display: none;
  }
  #numeric, #numeric *,#displayReport, #displayReport *{
    visibility: visible;
  }
}

*{margin: 0; padding: 0; box-sizing: border-box}

#displayReport{
  display: none;
}
#numeric{
  visibility: hidden;
}
.col {
  float: left;
}
.row {
  width: 100%;
}
.col.half {
  width: 90%;
}
.col.third {
  width: 5%;
}
h1, h2, h3, h4, h5, h6 {
  color: #505458;
}

.hidden {
  visibility: hidden;
}
.webkit{
  -webkit-print-color-adjust:exact;
}

.icon {
  position: relative;
  margin-right: 5px;
}

.icon .badge {
  position: absolute;
  left: 10px;
}

.badge{
  position: absolute;
  background-color: #f05050;
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  transform: translate(0, -2px);
  text-transform: uppercase;
  font-weight: 600;
  padding: 3px 5px;
  margin-top: 1px;
  display: inline-block;
  min-width: 7px;
  font-size: 0.5rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}

.je-badge{
  background-color: #5d9cec;
  padding: 4px 5px;
  font-size: 8px;
}
.payment-je-badge{
  background-color:#81c868;
}

a:hover, a:focus .je-badge{
  color: #ffffff;
}

[hidden]{
  display: none !important;
}

.pointer{
  cursor: pointer;
}


.logo {
  width: 30%;
  //height: 50px;
  margin-top: 10px;
  color: #34d3eb;
  font-size: 21px;
}


/* -- Ripple effect -------------------------------- */
.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 70%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: #fff;
  opacity: 0.6;
}

.top-bar .ink {
  background: #666E76;
}

.top-bar {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0px;
}

.top-bar .search {
  padding: 0px 15px;
  background-color: #fefefe;
  margin-right: 20px;
}

.top-bar .search input {
  border: none;
  display: inline-block;
  background: none;
  box-shadow: none;
  padding: 0px;
  width: 180px;
}

.top-bar .search .icon {
  color: #cacaca;
  font-size: 1.5em;
  padding-right: 10px;
  top: 2px;
}

.top-bar .icon {
  font-size: 1.3em;
  color: #6f7f8f;
  position: relative;
  top: -4px;
}

.top-bar, .top-bar ul li a:hover .icon {
  color: #36404a;
}

.top-bar-title {
  /*margin-top: 0.1em;*/
  padding-left: 2px;
  img {
    height: 43px;
  }
}

.top-bar, .top-bar ul {
  background: #ffffff;
  color: #0a0a0a;
}

.top-bar, .top-bar ul li a {
  color: #36404a;
}

.search-widget{
  position: absolute;
  right: 9rem;
  width: 20rem;
  background-color: #fff;
  box-shadow: 0px 1px 10px $qount-form-border;
  padding: 10px;

  input{
    max-width: none;
  }

  .date-field{
    width: 42%;
    margin: 3px 3px;
  }

  div.text{
    margin-top: 6px;
  }

  button.close-flyout{
    margin-right: 10px;
    font-size: 1.5rem;
    outline: none !important;
    position: absolute;
    top: 10px;
    right: 10px;

    .ion-ios-close-empty{

    }
  }

  .button-group{
    margin-top: 5px;

    .button{
      margin-left: 5px;
      font-size: 9px !important;
    }
  }

  .selected-button{
    color: #fff;
  }

  .amount{
    .columns{
      padding: 3px;
    }

    .between{
      input{
        margin-top: -3px;
      }
    }
  }
}

.main-canvas {
  -webkit-transition : all 0.5s;
  -moz-transition : all 0.5s;
  -o-transition : all 0.5s;
  transition : all 0.5s;
  margin-top:120px;
  overflow: hidden;
}
@media #{$small-only} {
  .main-canvas {
    margin-top:20px;
  }
}

.main-canvas.expanded {
  width: 83.33333%;
}

@media #{$large-up} {
  .main-canvas {
    margin-left : 55px;
  }
  .main-canvas.expanded {
    margin-left: 16.66667%;
  }
}


.icon {
  position: relative;
}

.icon .badge {
  position: absolute;
  left: 10px;
}

.animate {
  -webkit-animation: ripple 0.8s linear;
  -moz-animation: ripple 0.8s linear;
  -ms-animation: ripple 0.8s linear;
  -o-animation: ripple 0.8s linear;
  animation: ripple 0.8s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}

@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}

@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

/*end of ripples*/


/*form-validations*/
form {
  .ng-valid[required] {
    border: 1px solid $qount-brand-red;
    box-shadow: none;
  }
  .ng-dirty.ng-invalid, .ng-touched.ng-invalid {
    border: 1px solid $qount-form-ele-border-error;
    box-shadow: none;
    &.address-component, &.expense-item-info{
      border: none;
    }
  }
}

.error {
  color: $qount-form-ele-border-error;
  padding: 1px 0 5px 0;
}

.success {
  color: #22bb5b;
  font-weight: bold;
}
/*end*/

/* dashboard */


@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}


.ui-state-default .ui-icon {
  background-image: url("../images/ui-icons_777777_256x240.png");
}



/*dailog styling start*/
.widget-main .ui-widget-header {
  border:none;
  background: #fff;
  color: #36404a;
}
.mn{
  overflow-y: scroll;
}
.widget-main .ui-widget {
  font-family: inherit;
}

.widget-main .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border:none;
  background:none
}


.tooltip {
  z-index: 1000;
  max-width: 20rem !important;
  label {
    color: #fefefe;
  }
}


/*create card css end*/


.footable-actions {
  .column {
    .button-group {
      margin-bottom: 0rem;
      .button.small {
        font-size: 0.75rem;
      }
    }
    padding:0px;
    align-items: baseline;
    select {
      margin-bottom: 0rem;
      width: 250px;
    }
    .button {
      margin-bottom: 0rem;
    }
  }
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}


@media #{$medium-up} {

  .main-canvas {
    margin-top: 70px;
  }

  .signup-bg {
    /*background: url("../images/login_bg.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
  }

  .signup-container {
    height: 100%;

    .signup-form-container {
      /*text-align: right;*/

      .form {
        /*margin-right: 10%;
        width: 30%;*/
        //min-width: 32em;
      }
    }

    .login-form-cotainer {
      text-align: center;
      .form {
        /*width: 22%;*/
        //min-width: 24em;
      }
    }
  }
}

/*Side bar*/

.sidebar {
  background: #36404a;
  height: 100%;
  position: fixed;
  -webkit-transition : all 0.5s;
  -moz-transition : all 0.5s;
  -o-transition : all 0.5s;
  transition : all 0.5s;
  top:0px;
  z-index: 100;
}

.sidebar.shrink {
  width : 55px;
}

.sidebar .heading {
  font-size: 0.9rem;
  padding: 0px 0px 0px 35px;
  position: absolute;
  top: 100px;
  color: #9B9C9E;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.sidebar ul.side-nav {
  list-style: none;
  display: block;
  margin-left: 0px;
  position: absolute;
  top: 60px;
  width:100%;
  .dropdown-pane {
    width: 200px;
  }
}

.sidebar.shrink .heading {
  display: none;
}

.sidebar ul.side-nav li {
  display: block;
  list-style: none;
  transition-property: background, box-shadow;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  height: 55px;
}

.sidebar ul.side-nav li a {
  display: block;
  color: #E8E4DB;
  font-size: 1rem;
  padding: 1em 0.5em;
}

.sidebar ul.side-nav li a .icon {
  display: inline-block;
  width: 30px;
  text-align: right;
  margin-right: 20px;
  font-size: 1.3em;
  color: #E8E4DB;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.sidebar ul.side-nav li a .glyphicon, .sidebar ul.side-nav li a .fa{
  font-size: 1.1em;
}

.sidebar ul.side-nav li a.collapsed {
  text-align: left;
  padding: 1em 0.3em;
}

.sidebar ul.side-nav li a.collapsed .icon {
  font-size: 1.3em !important;
  margin-right: 0px;
  width: 30px;
  transform:         scale(1); /* CSS3 */
  -moz-transform:    scale(1); /* Firefox */
  -webkit-transform: scale(1); /* Webkit */
  -o-transform:      scale(1); /* Opera */
  -ms-transform:     scale(1); /* IE 9 */
}

.sidebar ul.side-nav li a.collapsed .glyphicon, .sidebar ul.side-nav li a.collapsed .fa {
  font-size: 1.3em;
}

.sidebar ul.side-nav li a div.name {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 12px;
  left: 60px;
  animation: fadein 2s;
  width: 100%;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.sidebar ul.side-nav li a.collapsed div.name {
  /*display: none;*/
}

.sidebar ul.side-nav li a:hover {
  /*border-left: 3pt solid #50AEE2;*/
  color: #77AFFA;
}

.sidebar ul.side-nav li a.selected {
  // background: #666E76;
  // border-left: 3pt solid #50AEE2;
  color: #77AFFA;
}

.sidebar ul.side-nav li a:hover .icon {
  color: #77AFFA;
}

.sidebar ul.side-nav li {
  height: auto;
  min-height: 55px;
}

ul.side-nav a {
  outline: none;
}

.hover-menu, .hover-menu.dropdown-pane {
  background-color: #36404a;
  z-index: 10000;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

#switchCompany {
  width: 250px;
  top: 100px !important;
  left: 45px !important;

  ul li {
    list-style: none;
    cursor: pointer;
    margin-top: 10px;
  }
}
.button{
  &.text-button{
    position: absolute;
    top: 60px;
    right: 10px;
    background: none;
    color: $qount-text;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-top: 5px;
    transition: background-color 0.3s ease;
    &:hover{
      background: $qount-table-border;
    }
    i{
      font-size: 2.5rem;
    }

  }
}


.report-wrapper {
  margin-top: 50px;
  @media #{$medium-up} {
    margin-top: 0px;
  }
  .reporting-form{
    background: #f4f4f4;
    padding: 1em 0;
    //border: 1px solid $qount-form-border;

    .no-padding {
      padding: 0;
    }

    .report-buttons {
      position: fixed;
      right: 10px;
      top: 25px;
      padding-top: 15px;
      z-index: 5;
    }

  }
  .hide-reporting-form {
    position: absolute;
    i {
      font-size: .8em;
      position: fixed;
      border: 1px solid $qount-form-border;
      border-top: none;
      right: 30px;
      padding: 2px 5px;
      color: $qount-text;
    }
  }
  label {
    margin-left: 5px;
  }

  .printable-area{
    margin:1rem auto;
    .report-grid-container{
      border: 1px solid $qount-table-border;
      border-top: 0px;
      overflow-x: auto;
    }
  }

  .report-icon-header{
    border: 1px solid $qount-table-border;
    background-color: $qount-table-thead-bg;
    color: $qount-text;
    padding-top: 10px;
    .icons{
      font-size: 1.5rem;
      i{
        &:hover{
          color: $qount-brand-blue;
        }
      }
    }
  }

  .display-report{
    border: 1px solid $qount-table-border;
    text-align: center;
    padding-top: 10px;

    img {
      width: 40px;
    }
  }

  .print-report {
    border: 1px solid #e3e5e5;
  }

  .report-failure {
    border: 1px solid #e3e5e5;

    .failure-text {
      margin-top: 2rem;
      margin-bottom: 4rem;
      color: red;
      text-align: center;
    }
  }

  button {
    margin-top: 23px;
    margin-left: 10px;
  }

  .close-icon {
    right: 25px;
    position: absolute;

    i {
      color: #000;
      font-size: 2.5rem;
    }
  }

  .sidenav {
    color: $qount-text;
    background: #ffffff;
    height: 100%;

    position: fixed;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    top: 0px;
    z-index: 100;
    right: -250%;
    overflow-x: hidden;
    padding: 50px 5px 0 0;
  }

  .custom-fields {
    margin-top: 50px;
  }

  .sidenav li {
    list-style: none;
  }

  .expanded {
    right: 0px;
    width: 100%;
  }

  .collapsed {
    right: 100%;
  }

  .filters {
    margin-top: 30px;

    ul {
      margin: 10px 0px 10px 20px;
    }

    li a {
      color: $qount-text;
      font-weight: 600;
      i {
        width: .75rem;
      }
    }

    li a::after {
      display: none;
    }
  }

  .filter-heading {
    font-weight: 500;
  }

  .filter-row {
    padding: 5px 0px;
  }

  a, a:hover, a:focus {
    outline: none;
  }

  footer {
    span {
      font-size: 12px;
    }
  }

  div.left, footer.left {
    float: left;
  }

  div.right, footer.right {
    text-align: right;
  }

  .chartArea{
    margin-top: 2.5em;
  }

  .ap-aging-report-heading{
    color: #282895;
    font-weight: 700;
  }
}

.journal-flyout, .financial-account-flyout{
  .expanded{
    width: 96%;
    top: 15px;
  }
}

.email-report {
  width: 900px;
  height: 700px;

  .heading {
    font-size: larger;
    font-weight: 800
  }

  .to-address-label {
    font-weight: 700;
    margin-top: 20px;
  }

  footer {
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.print-modal {
  .print-wrapper {
    margin-top: 30px !important;
    margin-bottom: 10px;

    .report-print {
      border: 1px solid #e3e5e5;
      margin-left: 20px;
      width: 900px;
      height: 800px;


    }
    img {
      width: 40px;
    }

    div.left, footer.left {
      float: left;
    }

    div.right, footer.right {
      float: right;
    }
  }

  footer {
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }

  footer.left{
    text-align: left;
  }

  footer.right {
    text-align: right;
  }
}

.customization-panel {
  .inline-block {
    display: inline-block;
  }

  .custom-cell {
    width: 49%;
  }
  .customize-vert-tabs{
    height: 100%;
    margin: 0;
    width: 100%;
    .tabs-content{
      border: none;
    }
    .customize-tabs-header{
      background-color: #ffffff;
      padding: 20px 10px;
    }
    .customize-tabs-content-section{
      margin-left: 30px;
      .customize-tabs-content{
        padding: 0px 5px;
        background-color: $qount-table-tr-hover;
      }
    }

    .customize-vert-tabs-division{
      height: 100%;
      margin: 0;
      width: 100%;
      border-right: 1px solid $qount-form-border;
      background-color: $qount-table-tr-hover;
      ul.tabs{
        border: none;
        background-color: $qount-table-tr-hover;
        li{
          &.tabs-title{
            a{
              border-bottom: 1px solid $qount-form-border;
              text-transform: uppercase;
              color: $qount-text;
              font-weight: 600;
              //padding: 10px 25px 10px 5px;
              //vertical-align: middle;
              i{
                float: right;
                border: 1px solid $qount-form-border;
                border-radius: 3px;
                padding: 10px;
                color: $qount-text;
                position: relative;
                top:-1em;
              }
              height:60px;
            }
            a[aria-selected='true']{
              background-color: #ffffff;
            }
          }
          &:first-child{
            a{
              border-top: 1px solid $qount-form-border;
            }
          }
          &.is-active{
            a{
              border-top: 1px solid $qount-form-border;
              border-right: 1px solid $qount-form-border;
              border-radius: 0 5px 5px 0;
              box-shadow: 0px 0px 0px 1px $qount-table-tr-hover;
              color: $qount-brand-blue;
              i{
                background-color: $qount-brand-blue;
                color: #ffffff;
                border: none;
              }
              padding-right: 35px;
            }
            position: relative;
            width: 105%;
          }
        }
      }
    }
  }

  button{
    &.close-button{
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin-top: 50px;
      transition: background-color 0.3s ease;
      &:hover{
        background: $qount-table-border;
      }
      i{
        font-size: 1.5em;
      }
    }
  }
}

/*sidebar end*/

/*Tabber*/

.red-tab {
  background: #e6604a;
  background-image: -webkit-linear-gradient(top, #e6604a, #d45945);
  background-image: -moz-linear-gradient(top, #e6604a, #d45945);
  background-image: -ms-linear-gradient(top, #e6604a, #d45945);
  background-image: -o-linear-gradient(top, #e6604a, #d45945);
  background-image: linear-gradient(to bottom, #e6604a, #d45945);
}

.orange-tab {
  background: #ef8e4f;
  background-image: -webkit-linear-gradient(top, #ef8e4f, #d47e47);
  background-image: -moz-linear-gradient(top, #ef8e4f, #d47e47);
  background-image: -ms-linear-gradient(top, #ef8e4f, #d47e47);
  background-image: -o-linear-gradient(top, #ef8e4f, #d47e47);
  background-image: linear-gradient(to bottom, #ef8e4f, #d47e47);
}

.blue-tab {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

.green-tab {
  background: #45da7d;
  background-image: -webkit-linear-gradient(top, #45da7d, #3dc36f);
  background-image: -moz-linear-gradient(top, #45da7d, #3dc36f);
  background-image: -ms-linear-gradient(top, #45da7d, #3dc36f);
  background-image: -o-linear-gradient(top, #45da7d, #3dc36f);
  background-image: linear-gradient(to bottom, #45da7d, #3dc36f);
}

.tab-container {
  margin: 0 15px;
}
.tabber {
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: #E8E4DB;
  padding: 0px 0px 5px 0px;
  .tab {
    position: relative;
    border-right: 1px solid #ccc;
    &:last-child {
      border-right: none;
    }
    cursor: pointer;
    cursor: hand;
    text-align: center;
    label {
      color: #fdfdfd;
      cursor: pointer;
      cursor: hand;
      font-size: 1.2em;
      padding: 10px;
      text-transform: uppercase;
    }
    .badge {
      position: absolute;
      top: 5px;
      right: 5px;
      background: #fdfdfd;
      font-size: 0.7rem;
      color: #36404a;
    }
    background: #36404a;
  }

  .selected {

    background: $qount-brand-blue;
    background-image: -webkit-linear-gradient(top, $qount-brand-blue, #2980b9);
    background-image: -moz-linear-gradient(top, $qount-brand-blue, #2980b9);
    background-image: -ms-linear-gradient(top, $qount-brand-blue, #2980b9);
    background-image: -o-linear-gradient(top, $qount-brand-blue, #2980b9);
    background-image: linear-gradient(to bottom, $qount-brand-blue, #2980b9);
    .badge {
      color:$qount-brand-blue;
      background: #fdfdfd;

    }
    //top: -5px;
    /*&.red-tab {
      background: #e6604a;
      background-image: -webkit-linear-gradient(top, #e6604a, #d45945);
      background-image: -moz-linear-gradient(top, #e6604a, #d45945);
      background-image: -ms-linear-gradient(top, #e6604a, #d45945);
      background-image: -o-linear-gradient(top, #e6604a, #d45945);
      background-image: linear-gradient(to bottom, #e6604a, #d45945);
      .badge {
        color:#e6604a;
        background: #fdfdfd;

      }
    }

    &.orange-tab {
      background: #ef8e4f;
      background-image: -webkit-linear-gradient(top, #ef8e4f, #d47e47);
      background-image: -moz-linear-gradient(top, #ef8e4f, #d47e47);
      background-image: -ms-linear-gradient(top, #ef8e4f, #d47e47);
      background-image: -o-linear-gradient(top, #ef8e4f, #d47e47);
      background-image: linear-gradient(to bottom, #ef8e4f, #d47e47);
      .badge {
        color:#ef8e4f;
        background: #fdfdfd;
      }
    }

    &.blue-tab {
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      .badge {
        color:#3498db;
        background: #fdfdfd;

      }
    }

    &.green-tab {
      background: #45da7d;
      background-image: -webkit-linear-gradient(top, #45da7d, #3dc36f);
      background-image: -moz-linear-gradient(top, #45da7d, #3dc36f);
      background-image: -ms-linear-gradient(top, #45da7d, #3dc36f);
      background-image: -o-linear-gradient(top, #45da7d, #3dc36f);
      background-image: linear-gradient(to bottom, #45da7d, #3dc36f);
      .badge {
        color:#45da7d;
        background: #fdfdfd;
      }
    }*/
  }

  .tab:hover {
    //top: -5px;
  }

  /*.red-tab{
    .badge {
      color:#fdfdfd;
      background: #e6604a;
    }
  }
  .orange-tab{
    .badge {
      color:#fdfdfd;
      background: #ef8e4f;
    }
  }
  .blue-tab{
    .badge {
      color:#fdfdfd;
      background: #3498db;
    }
  }
  .green-tab{
    .badge {
      color:#fdfdfd;
      background: #45da7d;
    }
  }*/

  /*.orange-tab.selected, .orange-tab:hover {
    border: 1pt solid #d47e47;
  }



  .blue-tab.selected, .blue-tab:hover {
    border: 1pt solid #2980b9;
  }



  .green-tab.selected, .green-tab:hover {
    border: 1pt solid #3dc36f;
  }*/
}

.tab-content {
  border: 1pt solid #ccc;
  border-top: none;
  min-height: 500px;
  background: #ffffff;
  padding-top: 30px;
  .woo-woo {
    color: #d47e47;
    font-weight: 600;
    font-size: 1.2em;
  }
}
/*end tabber*/


/*Box*/
dashboard{
  .header{
    margin-bottom: 10px;
    h6{
      display: inline-block;
    }
    i{
      font-size: 1.2em;
      cursor: pointer;
      vertical-align: sub;
      color: #6f7f8f;
      margin-left: 0.25em;
      margin-right: 0;
      &:hover{
        color: #505458;
      }
    }
  }
}
.box-container {

  &.disabled{
    display: none;
    -webkit-transition: display 2s; /* Safari */
    transition: display 2s;
  }
  margin: 30px 0px 20px 0px;
  .box {
    //padding: 5px 15px;
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    background-color: #ffffff;

    .content {
      height: 100px;
      padding: 0;
      margin: 0;
      display: table;
      width: 100%;
      .flex-item {
        display: table-cell;
        background: #ffffff;
        color: #505458;
        height: 100%;
      }
      .box-status{
        width: 60%;
        display: table-cell;
        vertical-align: middle;
        border-radius: 3px 0px 0px 3px;
        padding: 0 30px;
        div.value {
          font-size: 1.25rem;
          font-weight: 600;
          margin-bottom: 5px;
        }
        .label {
          font-size: 1rem;
          color: $qount-text;
          background: none;
          padding: 0px;
          &.due{
            color: $qount-brand-red;
          }
          &.ytd{
            color: $qount-brand-green;
          }
          &.month{
            background-color: $qount-brand-blue-light;
          }
          &.today{
            background-color: $qount-brand-yellow-light;
          }
        }
      }
      .box-status-icon{
        vertical-align: middle;
        width: 40%;
        text-align: center;
        background-color: $qount-brand-green-light;
        font-size: 2em;
        border-radius: 0px 3px 3px 0px;
        i{
          color: $qount-brand-green;
        }
      }




      .stat-symbol {
        display: inline-block;
        height:100%;
        width: 40%;
        text-align: center;
        align-self: center;

        .badge {
          padding: 30px 30px 30px 35px;
          border-radius: 50px;
          border: 1pt solid #0FB45A;
          background-color: #98FB98;
          margin-top:5px;
          .icon {
            font-size: 2rem;
            color: #0FB45A;
          }
          &.due{
            border: 1pt solid #FA3219;
            background-color: #FFD6D2;
            .icon{
              color: #FA3219;
            }
          }
          &.ytd{
            border: 1pt solid #00B0F0;
            background-color: #D1EFFB;
            .icon{
              color: #00B0F0;
            }
          }
          &.month{
            border: 1pt solid #00B0F0;
            background-color: #D1EFFB;
            .icon{
              color: #00B0F0;
            }
          }
        }
      }



    }
  }
}
.qount-off-canvas-menu .flyout .flyout-placeholder .dimension-values{
  display: block;
}
/*end box*/

i {
  font-size: 1.2em;
  cursor: pointer;
  &.save-row-icon{
    color: $qount-brand-green;
  }
}

.line-items-table{
  input, select{
    margin-bottom: 0;
  }
  ul{
    &.tagit{
      padding: 0;
      margin: 0 3px;
    }
    li{
      display: inline-block;
      &.tagit-new{
        padding: 0 5px;
        margin: 0;
      }
      &.tagit-choice-editable{
        padding: 0 15px 0 5px;
        margin: 5px;
      }
    }
  }
}

.dropdown-values {
  border: 1px solid $qount-form-border;
  border-radius: 3px;
  height: 250px;
  overflow: auto;

  td{
    &.truncate{
      max-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .add-line-item {
    input {
      margin: 0 !important;
      height: 2.5em;
    }
    select {
      margin: 0 !important;
      height: 2.5em;
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: #f4faff;
      }
      input {
        margin: 0 !important;
        height: 2.5em;
      }
      select {
        margin: 0 !important;
        height: 2.5em;
      }

    }
  }

  .dropdown-value-item {
    padding: 5px;
    border-bottom: 1px solid #ebeff2;
    a {
      color: #6f7f8f;
      .icon {
        font-size: 1.2em;
        position: relative;
        top: 4px;
        margin-right: 10px;
      }
    }
  }
  .dropdown-value-item:nth-of-type(odd) {
    background-color: #f4f8fb;
  }
}

.footable .input-group-btn > .btn {
  height: 2.1rem;
}

table.footable-editing-right tr.footable-editing td {
  text-align: right;
}

//combobox

.custom-combobox {
  position: relative;
  input.custom-combobox-input {
    @include disable-mouse-outline;
    margin: 0;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    height: 2.4375rem;
    background: #fefefe;
    padding-left: 10px;
    border-radius: 3px;
    width: 100%;
    &:focus {

    }
  }

  a {
    height: 2.4375rem;
    position: absolute;
    right: -1px;
    z-index: 100;
  }
}

.ui-front {
  z-index: 10000;
}

//workflow

.workflow-cont {
  .accordion {
    .accordion-item {
      .accordion-title {
        color: #ffffff;
        font-size: 0.8rem;
      }
    }

    .red-tab {
      .accordion-title:hover {
        background: #e6604a;
      }
    }

    .orange-tab {
      .accordion-title:hover {
        background: #ef8e4f;
      }
    }

    .blue-tab {
      .accordion-title:hover {
        background: #3498db;
      }
    }

    table {
      .userListItem {
        border-radius: 5px;
        padding: 5px;
        margin-right: 2px;
        background: #d47e47;
        color: #ffffff;
      }
      .checkListItem {
        border-radius: 5px;
        padding: 5px;
        margin-right: 2px;
        background: #3dc36f;
        color: #ffffff;
      }

      .icon {
        color: #6f7f8f;
        font-size: 1.3rem;
        visibility: hidden;
      }

      tr:hover .icon {
        visibility: visible;
      }
    }

  }
}

//footable

.accordion {
  .accordion-content {
    color: #36404a;
    font-size: 1rem;
  }
  .accordion-item {
    .accordion-title {
      color: #36404a;
      font-size: 1rem;
    }
  }
}
.bighalf-tags {
  li {
    &.tagit-choice-editable {
      margin: 10px 5px;
      background-color: #83B5F9;
      color: #ffffff !important;
    }
    &.tagit-choice {
      border-color: #78AFFA;
    }
  }
}
#_1009Form{
  .ion-ios-trash-outline{
    color: $qount-brand-red-medium;
    &:hover{
      color: $qount-brand-red;
    }
  }
}
.qount-form-backgorund{

}
.bill {
  input + div.error {
    margin: 0;
  }
  .bill-form-data {

  }
  .status{
    &.button-style{
      border-radius: 4px;
      border: 2px solid #00B0F0;
      min-width: 125px;
      font-weight: 600;
      &:hover{
        color: #fff;
        background: #00B0F0;
      }

    }
  }
  .bill-form-tabs {
    &.tabs {
      border: none;
    }
    .tabs-title {
      a {
        padding: .5em;
        margin-right: 1em;
        &[aria-selected="true"] {
          border-bottom: 3px solid $qount-btn-primary;
          background-color: #fff;
        }
      }
    }
  }
  .bill-form-tabs-content {
    &.tabs-content {
      border: none;
    }
    .tabs-panel {
      padding: 1em 0;
    }
  }

  .bill-preview-icons {
    position: relative;
    top: -5px;
    margin-right: 1em;
    i {
      font-size: 1.5rem;
      color: #6f7f8f;
      margin-right: .5em;
    }

  }

  .bill-modal-container {

  }
  .bill-container {

    margin-bottom: 15px;
    .bill-preview-container {
      overflow-y: auto;
    }
  }

  .label{
    &.success{
      background-color: $qount-brand-green;
    }
    &.warning{
      background-color: $qount-brand-yellow;
    }
    &.alert{
      background-color: $qount-brand-red-pastel;
    }
    &.secondary{
      background-color: $qount-form-border-hover;
    }

  }

  .coa-description{
    font-size: 13px;
    span{
      font-weight: bold;
    }
  }
}





.bighalf-footable {
  &.bigpay-dashboard {
    /*thead{
      border: 0px;
    }*/
  }
  tbody, thead {
    //background: #fff;

    /*tr{
      &:not( .footable-filtering ){
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
      }
      &:last-child{
        border-bottom: 1px solid #eee;
      }
    }*/
  }
  /*thead{
    tr{
      th{
        font-weight: 400;
      }

    }
  }*/

  tbody {
    tr:nth-of-type(even) {
      background-color: white;
    }
    tr:nth-of-type(odd) {
      background-color: white;
    }
    tr {
      td{
        vertical-align: middle !important;
      }
      color: #36404a;
      &:hover {
        background-color: #f4faff;
        cursor: hand;
        a {
          &.action {
            visibility: visible;
          }
        }
      }
      a {
        &.action {
          font-size: 1rem;
          color: $qount-form-border;
          visibility: hidden;
          margin-right: 0.25em;
          margin-left: 0;
          vertical-align: middle;
          &:hover {
            color: $qount-text;
          }
          i{
            &.ion-edit{
              color: $qount-brand-primary-medium;
              &:hover{
                color: $qount-btn-primary;
              }
            }
            &.ion-trash-b{
              color: $qount-brand-red-medium;
              &:hover{
                color: $qount-brand-red;
              }
            }

          }
        }
      }
    }
  }
}


.bill {
  position: relative;
}

.bill .comments-box {
  position: fixed;
  bottom: 100px;
  right: 70px;
  width: 350px;
  height: 450px;
  background: #fff;
  z-index: 1000;
  border: 1pt solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation: boxFadeIn 1s;
  animation: boxFadeIn 1s;
}

.bill .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: white;
  -webkit-animation: boxFadeIn 1s;
  animation: boxFadeIn 1s;
  z-index: 200;
}

.comments-box .comments-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 20px;
  width: 100%;

}

.close-cont {
  position: absolute;
  top: 0px;
  right: 5px;
  a {
    color: #6f7f8f;
    font-size: 0.9em;
  }
  .icon {
    font-size: 2.5em;
    color: #808B96;
    position: relative;
    top: 5px;
    left: -3px;
  }
}

.comment-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  z-index: 10;
  a {
    border: 1pt solid #dddddd;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 27px;
    background-color: #e1e1e1;
    .icon {
      font-size: 2em;
      margin: 0px;
      position: relative;
      top: 3px;
    }
    opacity: 0.6;
  }
  a:hover {
    opacity: 1;
    background-color: #F1F1F1;
  }
}

.comments-box .comments-body {
  height: 70%;
  overflow: auto;
  padding: 0px 20px;
  width: 100%;
}

.comments-box .comments-body .comment {
  .comment-content {
    .recipient {
      color: #50AEE2;
      margin-right: 10px;
      font-weight: bold;
    }
    color: #36404a;
    padding: 0px 10px;
    font-size: 0.9em;
  }
  .commented-by {
    color: #717F8C;
    padding: 0px 10px;
    font-size: 0.8em;
  }

  margin: 10px 0px;
  border-bottom: 1pt solid #dddddd;
  .mark-read {
    a {
      .icon {
        font-size: 1.6em;
        color: #6f7f8f;
      }
    }
    position: absolute;
    right: 0px;
    top: -5px;
  }

  .alert-message {
    position: relative;
  }
}

.comments-box .comments-header {
  padding: 5px 0px 0px 0px;
  text-align: center;
  width: 100%;
}

.comments-box .comments-header .comments-title {
  color: #36404a;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
}

.recipient-box input {
  width: 280px;
  margin-top: 5px;
}

.ui-autocomplete.ui-widget {
  font-family: inherit;
  font-size: 0.9em;
  z-index: 9999;
}

.ui-autocomplete.ui-widget-content {
  text-align: center;

}

.dwolla_orange_btn {
  color: #fff;
  border: 1px solid #f96f00;
  background: #ff7404;
  border: 1px solid #cd5715;
  background: -moz-linear-gradient(top, #ff8d05, #ff5c03);
  background: -webkit-linear-gradient(top, #ff8d05, #ff5c03);
  background: linear-gradient(to bottom, #ff8d05, #ff5c03);
  text-shadow: 0 -1px 0 #9d4600;
}

.reports {
  &.tabs-content {
    border: none;
  }
  .tabs-panel {
    padding: 1em 0;
  }
  &.tabs {
    border: none;
  }
  .tabs-title {
    a {
      padding: .5em;
      margin-right: 1em;
      &[aria-selected="true"] {
        border-bottom: 3px solid $qount-btn-primary;
        background-color: #fff;
      }
    }
  }
}

.report-callout{
  margin-top: 15px;
  padding: 15px;
  border: 2px solid $qount-table-border;
  border-radius: 3px;
  &:hover{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .report-header {
    color: $qount-text;
    font-weight: 700;
    font-size: 1rem;
  }

}

.report-body {
  margin-top: 10px;
  font-size: 0.9rem;
  color: $qount-text;
  text-align: justify;
}
.report-footer {
  margin-top: 10px;
  color: $qount-anchor-blue;
  font-weight: 500;
  font-size: 16px;
}

.report-heading{
  color: #282895;
  font-weight: 700;
}

.aging-report-table {
  tr {
    &:last-child {
      td {
        border-top: 2px solid #0a4b3e;
        border-bottom: 2px solid #0a4b3e;
        font-weight: bold;
        /*&:last-child {
          border-top: 1px solid #0a4b3e;
        }*/
      }
    }
  }
}

#ruletable, #coa, #coa1, #coa2, #ruletable1{
  tbody{
    tr:hover {
      background-color: white;
    }
    tr{
      td{
        label{
          width:91px;
        }
      }
    }
  }
}
.report-table {

  thead{
    background: $qount-brand-grey-light !important;
  }
  tbody{
    tr{
      &:last-child, &:nth-last-child(2){
        border-bottom: 2px solid $qount-text;
      }
    }
  }
  margin-bottom: 10px;
  .report-cell-value{
    color: $qount-text;
    &:hover{
      //text-decoration: underline;
      color: $qount-brand-primary-medium;
      cursor:pointer;
    }
  }

}

.notificationsTable {
  tr:hover {
    background: #f4faff;
    cursor: pointer;
    cursor: hand;
  }
  thead{
    th{
      font-size: .8em;
    }
  }
}

/*Company page styles*/
.company-details {
  /*Block level element exists on its own*/

  form.company-form {
    padding: 50px 0 50px 0;
    @media #{$medium-up} {
      padding: 0 0 10px 0;
    }
    section {
      &.item-expense-info {
        padding-bottom: 15px;
        .import-link {
          font-size: 14px;
        }
      }
      header {
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }
  hr {
    margin: .8rem 0;
  }
}

.existing-company-wrapper {
  border: 1px solid #cacaca;
  padding: 5px;
}

.existing-company-row {
  margin-top: 5px;
  margin-bottom: 5px;
  span {
    margin-left: 5px;
  }
}

.import-button {
  margin-top: 10px;
}

.company-button-header {

  button {
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 5;
  }

}
#report-tabs {
  .tabs-title {
    z-index: 5;
  }
}

/*qount custom list tagger*/
.qount-custom-tag {
  border: 1px solid #cacaca;
  border-radius: 3px;
  .new-item-input {
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 1px;
  }
  ul {

    list-style: none;
    margin: 0;
    overflow-y: auto;
    li {
      &.item {
        &:hover {
          background-color: #f4faff;
          border-bottom: 1px solid #ccc;
          border-top: 1px solid #ccc;
        }
        padding: .5em .25em;

        .desc-item {
          color: $qount-text;
          display: inline-block;
          width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: text-bottom;
        }
        .remove-item {
          margin: 0 .3em;
          cursor: pointer;
          color: #cacaca;
        }
      }
    }
  }
}

#addCOA {
  .save-btn {
    position: absolute;
    bottom: 5%;
    right: 5%;
  }

  .description p {
    font-size: 12px;
  }

  .subaccount-wrapper {
    margin-top: 5px;

    span {
      margin-left: 3px;
    }
  }

  .type-info{
    font-size: 1.2rem;
  }

  button.create{
    margin-top: 10px;
  }

  .form-section{
    min-height: 400px;
  }
}



#importExpenseModal {
  .close-button {
    font-size: 2em;
  }
}

.row .row {
  max-width: none;
}

.custom-tag-div {
  border: none !important;
}

.tools-grids {
  margin: 20px 0px;
  .tool-grid {
    width: 198px;
    border-radius: 5px;
    color: #f2f3f4;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 20px;
    cursor: pointer;
    text-align: center;
    position: relative;
    &:hover{
      transition: box-shadow .1s ease-in-out;
      box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.2);
      .grid-qount{
        //color: $qount-brand-blue;
      }
      .thumb-label {
        border-color: $qount-brand-blue;
        background-color: $qount-brand-blue;
        color: #fff;
      }
    }
  }
  .grid-icon {
    border-radius: 5px 5px 0px 0px;
    border: 2px solid #f2f3f4;
    height: 130px;
    &.companies {
      background: url("../images/SVG/company.svg") no-repeat;
      background-size: 60px 60px;
      background-position: center center;
    }
    &.vendors {
      background: url("../images/SVG/vendor.svg") no-repeat;
      background-size: 60px 60px;
      background-position: center center;
    }
    &.customers {
      background: url("../images/SVG/customer.svg") no-repeat;
      background-size: 60px 60px;
      background-position: center center;
    }
    &.employees {
      background: url("../images/SVG/customer.svg") no-repeat;
      background-size: 60px 60px;
      background-position: center center;
    }
    &.items {
      background: url("../images/SVG/items.svg") no-repeat;
      background-size: 60px 60px;
      background-position: center center;
    }
    &.chart-of-accounts {
      background: url("../images/SVG/chartofaccounts.svg") no-repeat;
      background-size: 60px 60px;
      background-position: center center;
    }
    &.expense-codes {
      background: url("../images/SVG/expensecode.svg") no-repeat;
      background-size: 60px 60px;
      background-position: center center;
    }
    &.reports {
      background: url("../images/SVG/reports.svg") no-repeat;
      background-size: 60px 60px;
      background-position: center center;
    }
    &.billing {
      background: url("../images/SVG/billing.svg") no-repeat;
      background-size: 60px 60px;
      background-position: center center;
    }
    &.rules {
      background: url("../images/SVG/Payments_Workflow.svg") no-repeat;
      background-size: 60px 60px;
      background-position: center center;
    }
    &.payment-workflow {
      background: url("../images/SVG/Payments_Workflow.svg") no-repeat;
      background-size: 60px 60px;
      background-position: center center;
    }
  }
  .thumb-label {
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    border: 2px solid #f2f3f4;
    border-top: none;
    padding: 12px 0px;
    border-radius: 0px 0px 5px 5px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #36404a;
  }


  .clear {
    clear: both;
  }

  .grid-qount {
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    background-color: #d1d2d4;
    font-weight: 500;
    border-radius: 10px;
    color: #fff;
    line-height: 1;
    padding-top: 3px;
    position: absolute;
    right: 15px;
    margin-top: -10px;
  }

  .tool-grid:hover .thumb-label {
    background-color: $qount-brand-blue;
    color: #fff;
  }
}
.reveal{
  &.qount-flyout{
    padding:3em;
    button{
      &.close-button{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-top: 10px;
        transition: background-color 0.3s ease;
        &:hover{
          background: $qount-table-border;
        }
        i{
          font-size: 1.5em;
        }
      }
    }
  }
}

.report-criteria-container{
  background-color: $qount-table-tr-hover;
  padding: 15px 10px;
  header{
    hr{
      margin: 0;
    }
    .report-criteria-header{
      text-transform: uppercase;
    }
  }
  .report-criteria-form{


    label{
      &.report-form-fields{
        border:1px solid $qount-table-border;
        margin: 10px 0 5px;
        padding: 5px 10px;
        background-color: #ffffff;
        .label-format{
          color: $qount-text;
          text-transform: uppercase;
          font-size: .75rem;
          font-weight: bold;
        }
        .required{
          float:right;
          color: $qount-brand-red;
        }
        .special-seperator{
          color: $qount-text;
          text-transform: uppercase;
          font-size: .7rem;
          font-weight: bold;
          height: 1rem;
        }
        .no-padding{
          padding-left: 0;
        }
        select, input{
          color: $qount-text;
          height: 1.5rem;
          border-bottom: 1px solid $qount-form-border;
          border-radius: 0px;
          padding: 0 1.5rem 0 .25rem;
          margin: 0;
          font-size: .75rem;
          //box-shadow: none;

        }
        input[type=checkbox]{
          vertical-align: bottom;
        }
        input[type="radio"]{
          vertical-align: bottom;
        }
        label{
          color:$qount-text;
          font-size: .9em;
        }
      }

    }
  }
  .report-info-section{
    color: $qount-text;
    padding-top: 2em;
    .section-header{
      color: $qount-text;
      font-size: .75em;
    }
    p{
      padding-left: .75rem;
      text-align: justify;
      font-size: .75em;
    }
  }
}

/* This parent can be any width and height */
.box-notifier {
  $qount-box-icon-width:36px;
  $qount-box-icon-height:48px;
  text-align: center;
  margin-bottom: 10px;
  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
  &:before{
    /* The ghost, nudged to maintain perfect centering */
    content: '';
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  .centered {
    /* The element to be centered, can also be of any width and height */
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }




  .box-border{
    width: 78px;
    height: 78px;
    border-radius: 39px;
    border: 2px solid $qount-brand-grey-light;
    margin-bottom: 10px;
    .box-icon{
      display: block;
      text-indent: -9999px;
      width: $qount-box-icon-width;
      height: $qount-box-icon-height;
      margin: 10px auto 0;
      &.flag{
        background: url("../images/SVG/Payments_Approve.svg");
        background-size: 36px 48px;
      }
      &.overdue{
        background: url("../images/SVG/Payments_expensecode.svg");
        background-size: 36px 48px;
      }
      &.month{
        background: url("../images/SVG/Payments_Pay.svg");
        background-size: 36px 48px;
      }
      &.year{
        background: url("../images/SVG/Payments_Workflow.svg");
        background-size: 36px 48px;
      }
      &.categorize{
        background: url("../images/SVG/Books_Categorize.svg");
        background-size: 36px 48px;
      }
      &.duplicates{
        background: url("../images/SVG/Books_Duplicates.svg");
        background-size: 36px 48px;
      }
      &.flagged{
        background: url("../images/SVG/Books_Flagged.svg");
        background-size: 36px 48px;
      }
      &.reconcile{
        background: url("../images/SVG/Books_Reconcile.svg");
        background-size: 36px 48px;
      }
    }
    &:hover{
      &.blue{
        background-color: $qount-brand-blue;
        border-color: $qount-brand-blue;
        .box-icon{
          &.flag{
            background: url("../images/SVG/Payments_Approve-active.svg");
            background-size: 36px 48px;
          }
          &.overdue{
            background: url("../images/SVG/Payments_expensecode-active.svg");
            background-size: 36px 48px;
          }
          &.month{
            background: url("../images/SVG/Payments_Pay-active.svg");
            background-size: 36px 48px;
          }
          &.year{
            background: url("../images/SVG/Payments_Workflow-active.svg");
            background-size: 36px 48px;
          }
          &.categorize{
            background: url("../images/SVG/Books_Categorize-active.svg");
            background-size: 36px 48px;
          }
          &.duplicates{
            background: url("../images/SVG/Books_Duplicates-active.svg");
            background-size: 36px 48px;
          }
          &.flagged{
            background: url("../images/SVG/Books_Flagged-active.svg");
            background-size: 36px 48px;
          }
          &.reconcile{
            background: url("../images/SVG/Books_Reconcile-active.svg");
            background-size: 36px 48px;
          }
        }
        &+.box-label{
          color: $qount-text;
        }
      }


      cursor: pointer;
      background-color: $qount-brand-grey-light;
      &+.box-label{
        color: $qount-brand-blue;
      }
    }
  }
  .box-notification-circle{
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: $qount-brand-red-pastel;
    color: #ffffff;
    position: relative;
    left:50px;
    bottom: 5px;
    font-size: .9em;

  }
  .box-label{
    color: $qount-text;
    cursor: pointer;
  }
}

tbody{
  tr{
    td{
      vertical-align: middle !important;
    }
    color: #36404a;
    &:hover{
      background-color: #f4faff;
      a{
        &.action{
          visibility: visible;
        }
      }
    }
    a{
      &.action{
        font-size: 1rem;
        color: $qount-form-border;
        visibility: hidden;
        margin-right: 0.25em;
        margin-left: 0;
        vertical-align: middle;
        &:hover{
          color: $qount-text;
        }
        i{
          &.ion-edit{
            color: $qount-brand-primary-medium;
            &:hover{
              color: $qount-btn-primary;
            }
          }
          &.ion-trash-b{
            color: $qount-brand-red-medium;
            &:hover{
              color: $qount-brand-red;
            }
          }

        }
      }
    }
  }
}
.tab-view{
  // background: $qount-brand-blue;
  .tab-view-container{
    text-align: center;
    margin: 5px 0;
    line-height: 2em;
    .icon-action{
      color: $qount-text;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;

      /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
      */
      -ms-user-select: none;
      user-select: none;
      font-size: 1.5em;
      margin: 0 .5em;
      &:hover{
        color: $qount-brand-blue;
      }
    }
    .tab-view-name{
      color: $qount-text;
      vertical-align: text-bottom;
      min-width: 33%;
      display: none;
      &.active{
        display: inline-block;
      }
    }
  }
}

.chartArea {

}
.failure-text {
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: red;
  text-align: center;
}

.coa-field{
  input, a{
    margin-top: -16px !important;
  }
}


.dimension-field{
  #dimension-selectized{
    width: 100% !important;
  }
}

.dimension-link {
  margin-left: 15px;
  margin-top: -10px;
  a {
    border: 1pt solid #dddddd;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 27px;
    background-color: #e1e1e1;
    .icon {
      font-size: 2em;
      margin: 0px;
      position: relative;
      top: 3px;
    }
    opacity: 0.6;
  }
  a:hover {
    opacity: 1;
    background-color: #F1F1F1;
  }
}

.dimension-flyout{
  padding: 15px;

  .dimension-grids{
    padding: 15px;
  }

  .dimension-grid{
    border-radius: 5px;
    height: 200px;
    .dimension-header{
      padding: 6px;
      /*border-bottom: 3px solid $qount-form-border;*/
      height: 35px;
      position: relative;
    }
    .dimension-values{
      max-height: 0px;
      overflow: auto;
      transition: 1s;
      &.selected{
        max-height: 165px;
      }
    }
    .dimension-value{
      padding-left: 7px;
    }

    .bottom {
      position: absolute;
      bottom: 0;
      border-bottom: 3px solid transparent;
      width: 0px;
      transition: 0.5s;
      &.selected {
        border-bottom: 3px solid #0FB45A !important;
        width: 90% !important;
      }
    }

    .icon{
      &.selected{
        color: #0FB45A;
      }
    }
  }
}

#addAccount{
  .options{
    margin: 30px 0px;
  }
}

.bighalf-footable .footable .btn-primary:hover {
  color: #4B96FA;
  background-color: #fff;
  border-color: #ccc;
}

.add-bill-button{
  font-weight: 600;
  min-width: 125px;
}

.financial-account-flyout{
  .button-group{
    .button{
      &.selected{
        background-color: #086FF5;
      }
    }
  }
  .auto-import, .manual-import{
    height: 200px;
  }
  .auto-import{
    label{
      text-align: right;
    }
  }
}

.file-upload-modal{
  color: #36404a;
  padding: 0;
  border-radius: 5px;
  .header{
    padding: 10px;
    border-bottom: .5px solid #eee;
    text-align: center;
    font-size: 1.2em;
  }
  .upload-global-actions{
    padding: 10px 0px;
  }
  section{
    &.upload-area{
      margin: 10px;
      .upload-choose-btn{
        padding: 10px 0px;
        border: .5px dashed  #36404a;
        border-radius: 5px;
        &.popup-file-over{
          border: 2px solid  #3adb76;
        }
      }
      .files-to-upload-section{
        padding: 10px 0px;
        ul{
          list-style: none;
          width:100%;
          margin: 0;
          li{
            &:hover{
              background-color: #eee;
            }
            padding: 5px 10px;
            display: block;
            &:first-child{
              border-top: .5px solid #ccc;
            }
            border-bottom: .5px solid #ccc;
            .item-uploaded{
              color: #2199e8;
            }
            i{
              cursor: pointer;
              font-size: 1.2em;
              margin-right: 0.25em;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  .upload-global-actions{
    border-top: .5px solid #eee;
    .button-group{
      margin: 0;
      .button{
        margin-left: 20px;
        i{
          margin-right: 0.25em;
          margin-left: 0;
        }
      }

    }
  }
}

/* Indentation for child chart of account */
.footable{
  td.coa-child{
    padding-left: 20px !important;
  }
}

.ui-menu .ui-menu-item{
  text-align: left;
}
.invoice-settings{
  .template-type{
    width: 150px;
    float: left;
    border: 1px solid $qount-table-border;
    height: 150px;
    position: relative;
    margin-left: 10px;
    label{
      cursor: pointer;
    }
  }

  .template-text{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
  }

  textarea{
    height: 80px;
  }

  .other{
    input{
      width: auto;
      margin-left: 5px;
    }
  }

  .image-wrapper{
    margin-left: 25px;
    margin-top: 10px;
    img{
      border: 1px solid $qount-form-border;
    }
  }

  .color-field{
    width: 75px;
  }
}

.new-invoice {
  .addCustomerLogo {
    border: 1pt solid #ccc;
    width: 330px;
    height: 100px;
    position: relative;
    margin-bottom: 10px;
    .addCustomerLink {
      position: absolute;
      top: 20%;
      text-align: center;
      width: 100%;
      i.icon {
        font-size: 2.5em;
        position: relative;
        top:8px;
        margin-right: 10px;
      }
    }
  }
  label {
    text-align: right;
  }

  .row.header {
    background: #eee;
    padding: 15px 0px 10px 0px;
    border-bottom:1pt solid #3c3c3c;
    margin-bottom: 10px;
    label {
      text-align: left;
      display: inline-block;
    }
  }

  .row.items-table {
    background: #EBF9FE;
  }

  .add-item {
    border-bottom: 1pt solid #ccc;
    padding: 10px;
  }

  .items-table {
    padding: 10px 0px 10px 0px;
    border-bottom: 1pt solid #ccc;
  }

  .items-table:first-child {
    padding-top:0px;
  }

  .items-table > div {
    padding: 0px;
  }


}

form .ng-dirty.ng-invalid, form .ng-touched.ng-invalid {
  border: none;
}

form .ng-dirty.ng-valid {
  border: none;
}

form input.ng-dirty.ng-invalid, form input.ng-touched.ng-invalid {
  border: 1px solid #cacaca;
}

form input.ng-dirty.ng-valid {
  border: 1px solid #cacaca;
}

form select.ng-dirty.ng-invalid, form select.ng-touched.ng-invalid {
  border: 1px solid #cacaca;
}

form select.ng-dirty.ng-valid {
  border: 1px solid #cacaca;
}

form input.ng-dirty.ng-valid {
  border: 1px solid #cacaca;
}

form textarea.ng-dirty.ng-valid {
  border: 1px solid #cacaca;
}

form select.ng-dirty.ng-valid {
  border: 1px solid #cacaca;
}


.close-page-button{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  &:hover{
    background: $qount-table-border;
  }
}

.ui-state-default{
  color: #000;
}

.categorize-flyout{
  background: none !important;
}

.form-checkbox{
  margin-top: 1.8rem;
}

.refund-field{
  margin: 7px;
}

.payment-details{
  .accordion-title {
    padding: .75rem 0.5rem;
  }
  .bill-navigation{
    text-decoration: underline;
    color: #1f7cf9;
  }
  span:hover .bill-navigation, span:focus .bill-navigation{
    color: #1f7cf9;
    cursor: pointer;
  }

  .payments-accordion-wrapper{
    padding:0rem 2rem;
  }
}

.je-footable .footable tbody tr td{
  padding: 4px 8px!important;
}

.line-table{
  select, input{
    margin: 0;
  }
}

.company-country-input>.custom-combobox>input {
  margin:0 0 1rem;
}

.company-section-left {
  width:50%;
  float:left;
}

.qount-off-canvas-menu .flyout .flyout-placeholder .customers-flyout {
  min-height: calc(100vh - 300px);
}

.foo-container .bills-footable .footable-filtering .footable-filtering {
  right: 260px !important;
}