@import "qount-variables";
@import "settings";

.switchCompanyModal{
  position: relative;
  top: -4px;
  button{
    &.close-button{
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin-top: 50px;
      transition: background-color 0.3s ease;
      &:hover{
        background: $qount-table-border;
      }
      i{
        font-size: 1.5em;
      }
    }
  }
  .switchCompany-modal-name{
    color: $qount-brand-icon;
    padding: .5em 1em;
    outline: none !important;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .85em;
    font-weight: 600;
    cursor: pointer;
  }
}

.SwitchCompany-reveal{
  .bighalf-footable{
    .switch-company-label{
      .label{
        &:hover{
          cursor: pointer !important;
        }
      }
    }
    .footable-filtering{
      .footable-filtering{
        right: -10px;
      }
    }
  }
}
