<div foundation>
  <div class="tab-container books-tab-container" *ngIf="!showDetailedChart">
    <div class="row">
      <div class="column medium-9 resetPaddings">
        <div class="row tabber">
          <div class="column medium-1 tab dashboard-exist" (click)="reRoutePage(0)" [ngClass]="{'selected': tabDisplay[0].display == 'block'}">
            <label [ngClass]="{'whiteColor': tabDisplay[0].display == 'block'}"><span><i class="icon ion-ios-keypad"></i></span>
            </label>
          </div>
          <div class="column medium-3 tab" (click)="reRoutePage(1)" [ngClass]="{'selected': tabDisplay[1].display == 'block'}">
            <label [ngClass]="{'whiteColor': tabDisplay[1].display == 'block'}"><span>Deposits</span>
              <span>({{badges.deposits ? badges.deposits : localBadges ? localBadges.deposits?localBadges.deposits:0:0}})</span>
            </label>
          </div>
          <div class="column medium-3 tab" (click)="reRoutePage(2)" [ngClass]="{'selected': tabDisplay[2].display == 'block'}">
            <label [ngClass]="{'whiteColor': tabDisplay[2].display == 'block'}">
              <span>Expenses</span>
              <span>({{badges.expenses ? badges.expenses : localBadges ? localBadges.expenses?localBadges.expenses:0:0}})</span>
            </label>
          </div>
          <div class="column medium-4 tab" (click)="reRoutePage(3)" [ngClass]="{'selected': tabDisplay[3].display == 'block'}">
            <label [ngClass]="{'whiteColor': tabDisplay[3].display == 'block'}">
              <span>Journal Entries</span>
              <span>({{badges.journalEntries ? badges.journalEntries : localBadges ? localBadges.journalEntries?localBadges.journalEntries:0:0}})</span>
            </label>
          </div>
        </div>
      </div>
      <div class="columns medium-3 resetPaddings">
        <div class="row add-share-buttons">
          <div class="column medium-12 text-right">
            <span class="pointer" *ngIf="tabDisplay[1].display == 'block'" (click)="createDeposit()">
              <i class=" icon ion-ios-plus-outline"></i>
              <span >Deposit</span>
            </span>
            <span class="pointer" *ngIf="tabDisplay[2].display == 'block'" (click)="createNewExpense()">
              <i class=" icon ion-ios-plus-outline"></i>
              <span >Expense</span>
            </span>
            <span class="pointer" *ngIf="tabDisplay[3].display == 'block'" (click)="addNewJE()">
              <i class=" icon ion-ios-plus-outline"></i>
              <span>Journal Entry</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row collapse tab-content ">
      <div *ngIf="tabDisplay[0].display == 'block'" class="column small-12 medium-12 large-12" id="dashboard">
        <div class="row">
          <div class="medium-12 columns">
            <div class="payment-dashboard" *ngIf="!showDetailedChart">
              <div class="row expanded" foundation>
                <div class="column medium-12">
                  <div class="row report-stats word-wrap text-center" *ngIf="hasBoxData">
                    <div class="column medium-3 small-12" style="padding-left:0;">
                      <div class="row">
                        <div class="column medium-6 pointer report-stats-padding" style="background-color: #05807C">
                          <div>Quick Ratio</div>
                          <div>{{metrics.quickRatio}}</div>
                        </div>
                        <div class="column medium-6 pointer" style="background-color: #F06459">
                          <div>Current Ratio</div>
                          <div>{{metrics.currentRatio}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="column medium-2 small-12 pointer report-stats-padding" style="background: #87D0CE;">
                      <div>Book Balance</div>
                      <div class="dashboard-box-padding">{{metrics.cashBalance}}</div>
                    </div>
                    <div class="column medium-3 small-12">
                      <div class="row">
                        <div class="column medium-6 pointer report-stats-padding" style="background: #05807C;">
                          <div>GP Margin</div>
                          <div>{{metrics.gpMargin}}%</div>
                        </div>
                        <div class="column medium-6 pointer" style="background: #00B1A6;">
                          <div>NP Margin</div>
                          <div>{{metrics.npMargin}}%</div>
                        </div>
                      </div>
                    </div>
                    <div class="column medium-2 small-12">
                      <div class="row">
                        <div class="column medium-12 pointer report-stats-padding" style="background: #87D0CE;">
                          <div>COGS</div>
                          <div>{{metrics.cogsValue}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="column medium-2 small-12">
                      <div class="row">
                        <div class="column medium-12 pointer report-stats-padding" style="background: #05807C;">
                          <div>OPEX</div>
                          <div>{{metrics.opexValue}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row expanded books-dashboard-top-charts">
                <div class="column medium-6 expanded charts-main" style="border-right:1px solid #e1e1e1;">
                  <div *ngIf="hasOpexData" style="min-width: 300px;height:400px;">
                    <high-chart #hChart2=highChart [options]="groupedOpexDataOptions"></high-chart>
                  </div>
                </div>
                <div class="column medium-6 expanded charts-main">
                  <div *ngIf="hasCashBurnData" style="min-width: 300px;height:400px;">
                    <high-chart #hChart2=highChart [options]="cashBurnDataOptions"></high-chart>
                  </div>
                </div>
              </div>
              <div class="row chart-margin">
                <div class="column medium-6 detailed-chart-icons">
                  <span class="text-right float-right" (click)="showOtherCharts('opexChart')"><i class="icon ion-arrow-expand" [ngClass]="detailedChartIcons"></i></span>
                </div>
                <div class="column medium-6 detailed-chart-icons">
                  <span class="text-right float-right" (click)="showOtherCharts('cashBurnChart')"><i class="icon ion-arrow-expand" [ngClass]="detailedChartIcons"></i></span>
                </div>
              </div>

              <div class="row expanded">
                <div class="column medium-12 expanded charts-main">
                  <div *ngIf="hasProfitTrendData" style="min-width: 300px;height:400px;">
                    <high-chart #hChart1=highChart [options]="profitTrendDataOptions"></high-chart>
                  </div>
                </div>
              </div>
              <div class="row chart-margin">
                <div class="column medium-12">
                  <span class="text-right float-right" (click)="showOtherCharts('profitTrend')"><i class="icon ion-arrow-expand" [ngClass]="detailedChartIcons"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="tabDisplay[1].display == 'block'" class="column small-12 medium-12 large-12" id="deposits">
        <div class="row">
          <div class="column">
            <!--<div class="row add-share-buttons add-share-adjust">-->
              <!--<div class="icons column medium-12 small-12 text-right">-->
                <div class="float-right icons report-icon-header" *ngIf="hasDeposits">
                  <i class="icon ion-ios-cloud-download-outline" data-toggle="export-dropdown"></i>
                  <div class="dropdown-pane bottom export-dropdown" id="export-dropdown" data-dropdown data-hover="true" data-hover-pane="true" foundation >
                    <div (click)="exportToExcel('deposits')" class="export-option">Export To Excel</div>
                    <div (click)="exportToPDF('deposits')" class="export-option">Export To PDF</div>
                  </div>
              </div>

              <!--</div>-->
            <!--</div>-->

            <foo-table class="bigpay-dashboard bighalf-footable bills-footable" *ngIf="hasDeposits" [data]="depositsTableData" [options]="depositsTableOptions" (onRowAction)="handleDepositAction($event)"></foo-table>
            <div class=" callout entry-callout text-center" [hidden]="isLoading" *ngIf="!hasDeposits">
              <div class="woo-woo">Woot Woot!</div>
              <p>There are no Deposits.</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="tabDisplay[2].display == 'block'" class="column small-12 medium-12 large-12" id="expenses">
        <div class="row">
          <div class="column">

            <div class="float-right icons report-icon-header">

              <i class="icon ion-ios-cloud-download-outline" data-toggle="export-dropdown"></i>
              <div class="dropdown-pane bottom export-dropdown" id="export-dropdown" data-dropdown data-hover="true" data-hover-pane="true" foundation>
                <div (click)="exportToExcel('expenses')" class="export-option">Export To Excel</div>
                <div (click)="exportToPDF('expenses')" class="export-option">Export To PDF</div>
              </div>
            </div>

            <foo-table class="bigpay-dashboard bighalf-footable" *ngIf="hasExpenses" [data]="expensesTableData" [options]="expensesTableOptions" (onRowAction)="handleExpenseAction($event)"></foo-table>
            <div class=" callout entry-callout text-center" [hidden]="isLoading" *ngIf="!hasExpenses">
              <div class="woo-woo">Woot Woot!</div>
              <p>There are no Expenses.</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="tabDisplay[3].display == 'block'" class="column small-12 medium-12 large-12" id="journalEntries">
        <div class="row">
          <div class="column">

            <div class="float-right icons report-icon-header">

              <i class="icon ion-ios-cloud-download-outline" data-toggle="export-dropdown"></i>
              <div class="dropdown-pane bottom export-dropdown" id="export-dropdown" data-dropdown data-hover="true" data-hover-pane="true" foundation>
                <div (click)="exportToExcel('journalEntries')" class="export-option">Export To Excel</div>
                <div (click)="exportToPDF('journalEntries')" class="export-option">Export To PDF</div>
              </div>
            </div>

            <foo-table class="bigpay-dashboard bighalf-footable je-footable" *ngIf="hasJournalEntries" [data]="jeTableData" [options]="jeTableOptions" (onRowAction)="handleAction($event)"></foo-table>
            <div class=" callout entry-callout text-center" [hidden]="isLoading" *ngIf="!hasJournalEntries">
              <div class="woo-woo">Woot Woot!</div>
              <p>There are no Journal entries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row box-notifiers box-notifiers-alignment" *ngIf="!showDetailedChart">
    <span class="pointer" (click)="showCategorizationScreen()">
      <span>Categorize</span>
      <span class="notifiers-count">({{uncategorizedEntries}})</span>
    </span>
    <span class="pointer">
      <span>Duplicates</span>
      <span class="notifiers-count">(0)</span>
    </span>
    <span class="pointer">
      <span>Flagged</span>
      <span class="notifiers-count">(0)</span>
    </span>
    <span class="pointer" (click)="showReconsileScreen()">
      <span>Reconcile</span>
      <span class="notifiers-count">({{unreconciledCount}})</span>
    </span>
  </div>
  <div class="reveal tiny bill-modal-container" id="password-conformation" data-reveal foundation  data-close-on-click="false">
    <label>Enter Password
      <input type="password" [(ngModel)]="key"  placeholder="Password*">
    </label>
    <div class="text-right">
      <button class="button small" [disabled]="!checkValidation()" (click)="validateLockKey()">Submit</button>
      <button class="button small" (click)="closePasswordConfirmation()">Cancel</button>
    </div>
  </div>

  <div class="row chart-margin" *ngIf="showDetailedChart">
    <div class="column medium-12 expanded charts-main">
      <div style="min-width: 300px;height: calc(100vh - 150px);">
        <high-chart #hChart4=highChart [options]="detailedReportChartOptions"></high-chart>
      </div>
    </div>
  </div>
</div>

