<div>
  <div class="tab-container books-tab-container" foundation>
    <div class="row">
      <div class="column medium-9 resetPaddings">
        <div class="row tabber">
          <div class="column medium-3 tab" (click)="reRoutePage(0)" [ngClass]="{'selected': tabDisplay[0].display == 'block'}">
            <label [ngClass]="{'whiteColor': tabDisplay[0].display == 'block'}"><span>Deposits</span>
              <span>({{badges.deposits ? badges.deposits : localBadges ? localBadges.deposits?localBadges.deposits:0:0}})</span>
            </label>
          </div>
          <div class="column medium-4 tab" (click)="reRoutePage(1)" [ngClass]="{'selected': tabDisplay[1].display == 'block'}">
            <label [ngClass]="{'whiteColor': tabDisplay[1].display == 'block'}">
              <span>Expenses</span>
              <span>({{badges.expenses ? badges.expenses : localBadges ? localBadges.expenses?localBadges.expenses:0:0}})</span>
            </label>
          </div>
          <div class="column medium-4 tab" (click)="reRoutePage(2)" [ngClass]="{'selected': tabDisplay[2].display == 'block'}">
            <label [ngClass]="{'whiteColor': tabDisplay[2].display == 'block'}">
              <span>Journal Entries</span>
              <span>({{badges.journalEntries ? badges.journalEntries : localBadges ? localBadges.journalEntries?localBadges.journalEntries:0:0}})</span>
            </label>
          </div>
        </div>
      </div>
      <div class="columns medium-3 resetPaddings">
        <div class="row add-share-buttons">
          <div class="column medium-12 text-right">
            <span class="pointer" *ngIf="tabDisplay[0].display == 'block'" (click)="createDeposit()">
              <i class=" icon ion-ios-plus-outline"></i>
              <span >Deposit</span>
            </span>
            <span class="pointer" *ngIf="tabDisplay[1].display == 'block'" (click)="createNewExpense()">
              <i class=" icon ion-ios-plus-outline"></i>
              <span >Expense</span>
            </span>
            <span class="pointer" *ngIf="tabDisplay[2].display == 'block'" (click)="addNewJE()">
              <i class=" icon ion-ios-plus-outline"></i>
              <span>Journal Entry</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row collapse tab-content ">
      <div *ngIf="tabDisplay[0].display == 'block'" class="column small-12 medium-12 large-12" id="deposits">
        <div class="row">
          <div class="column">
            <foo-table class="bigpay-dashboard bighalf-footable" *ngIf="hasDeposits" [data]="depositsTableData" [options]="depositsTableOptions" (onRowAction)="handleDepositAction($event)"></foo-table>
            <div class=" callout entry-callout text-center" [hidden]="isLoading" *ngIf="!hasDeposits">
              <div class="woo-woo">Woot Woot!</div>
              <p>There are no Deposits.</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="tabDisplay[1].display == 'block'" class="column small-12 medium-12 large-12" id="expenses">
        <div class="row">
          <div class="column">
            <foo-table class="bigpay-dashboard bighalf-footable" *ngIf="hasExpenses" [data]="expensesTableData" [options]="expensesTableOptions" (onRowAction)="handleExpenseAction($event)"></foo-table>
            <div class=" callout entry-callout text-center" [hidden]="isLoading" *ngIf="!hasExpenses">
              <div class="woo-woo">Woot Woot!</div>
              <p>There are no Expenses.</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="tabDisplay[2].display == 'block'" class="column small-12 medium-12 large-12" id="journalEntries">
        <div class="row">
          <div class="column">
            <foo-table class="bigpay-dashboard bighalf-footable je-footable" *ngIf="hasJournalEntries" [data]="jeTableData" [options]="jeTableOptions" (onRowAction)="handleAction($event)"></foo-table>
            <div class=" callout entry-callout text-center" [hidden]="isLoading" *ngIf="!hasJournalEntries">
              <div class="woo-woo">Woot Woot!</div>
              <p>There are no Journal entries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row box-notifiers box-notifiers-alignment">
    <span class="pointer" (click)="showCategorizationScreen()">
      <span>Categorize</span>
      <span class="notifiers-count">({{uncategorizedEntries}})</span>
    </span>
    <span class="pointer">
      <span>Duplicates</span>
      <span class="notifiers-count">(3)</span>
    </span>
    <span class="pointer">
      <span>Flagged</span>
      <span class="notifiers-count">(0)</span>
    </span>
    <span class="pointer" (click)="showReconsileScreen()">
      <span>Reconcile</span>
      <span class="notifiers-count">({{unreconciledCount}})</span>
    </span>
  </div>
  <div class="reveal tiny bill-modal-container" id="password-conformation" data-reveal foundation  data-close-on-click="false">
    <label>Enter Password
      <input type="password" [(ngModel)]="key"  placeholder="Password*">
    </label>
    <div class="text-right">
      <button class="button small" [disabled]="!checkValidation()" (click)="validateLockKey()">Submit</button>
      <button class="button small" (click)="closePasswordConfirmation()">Cancel</button>
    </div>
  </div>

</div>

