<div class="collaboration">

  <div class="row" style="margin-bottom:30px;">
    <div class="column medium-12">
      <div class="post-header user"><span>Make Post</span><span>|</span><span>Photo/Video</span></div>
      <div class="dropdown-pane bottom export-dropdown" style="width: 100% !important;" id="export-dropdown" foundation>
        <div class="row">
          <div class="column medium-12">
            <div class="export-option">Comment on this conversation</div>
            <hr>
            <div class="row">
              <div class="column medium-10 post-footer commonColor3">
                <div class="float-left"><span><i class="material-icons">attach_file</i></span><span class="commonColor3">Attach File</span></div>
                <div class="float-left"><span><i class="material-icons">insert_emoticon</i></span><span class="commonColor3">EmoJi</span></div>
                <div class="float-left"><span><i class="material-icons">dns</i></span><span class="commonColor3">Badge</span></div>
              </div>
              <div class="column medium-2 text-right"><button class="button small">Post</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div style="margin-bottom:30px;">
    <div class="row">
      <div class="column medium-12">
        <div class="row post">
          <div class="medium-12">
            <div class="row post-user">
              <div class="medium-10">
                <span class="round">RT</span>
                <span class="user">John CPA</span>
                <span class="commonColor2">4:13 PM</span>
                <span class="commonColor2">|</span>
                <span class="commonColor2">AAA Tire Service Proposal</span>
              </div>
              <div class="column medium-2 text-right">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              </div>
            </div>
            <div class="row post-body">
              <div class="column medium-10">
                Hello user,This perticular account is difficult due to line items 5 and 92.Please Review and resubmit by 10/12.2017. Thanks!
              </div>
              <div class="column medium-1"></div>
            </div>
            <hr>
            <div class="row">
              <div class="column medium-10 post-footer commonColor3">
                <div class="float-left"><span><i class="material-icons">comment</i></span><span >Attach File</span></div>
                <div class="float-left"><span><i class="material-icons">insert_emoticon</i></span><span>EmoJi</span></div>
                <div class="float-left"><span><i class="material-icons">dns</i></span><span>Badge</span></div>
              </div>
              <div class="column medium-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="column medium-12">
        <div class="row post comments">

          <div class="medium-12">
            <div class="row">
              <div class="column medium-10 comments-count">
                <span>view</span><span>4</span><span>more comments ...</span>
              </div>
            </div>
            <div class="row post-user">
              <div class="medium-11">
                <span class="round">RT</span>
                <span class="user">John CPA</span>
                <span>Thank You for sending over,I will take a look at the document immediately!</span>
              </div>
              <div class="column medium-1 text-right">
              </div>
            </div>
            <div class="row post-body">
              <div class="column medium-11">
                <span class="likeOptions commonColor1">Like</span><span class="likeSeparator likeOptions commonColor1">.</span><span class="likeOptions commonColor1">Replay</span><span class="likeSeparator likeOptions commonColor2">.</span><span class="likeOptions commonColor2">Yesterday at 4:16 PM</span>
              </div>
              <div class="column medium-1"></div>
            </div>
          </div>

          <div class="medium-12">
            <div class="row post-user">
              <div class="medium-11">
                <span class="round">RT</span>
                <span class="user">John CPA</span>
                <span>Thank You for sending over,I will take a look at the document immediately!</span>
              </div>
              <div class="column medium-1 text-right">
              </div>
            </div>
            <div class="row post-body">
              <div class="column medium-11">
                <span class="likeOptions commonColor1">Like</span><span class="likeSeparator likeOptions commonColor1">.</span><span class="likeOptions commonColor1">Replay</span><span class="likeSeparator likeOptions commonColor2">.</span><span class="likeOptions commonColor2">Yesterday at 4:16 PM</span>
              </div>
              <div class="column medium-1"></div>
            </div>
          </div>

          <div class="medium-12">
            <div class="row post-user">
              <div class="column medium-1"></div>
              <div class="medium-10">
                <span class="round">RT</span>
                <span class="user">John CPA</span>
                <span>Thank You for sending over,I will take a look at the document immediately!</span>
              </div>
              <div class="column medium-1 text-right">
              </div>
            </div>
            <div class="row post-body">
              <div class="column medium-1"></div>
              <div class="column medium-10">
                <span class="likeOptions commonColor1">Like</span><span class="likeSeparator likeOptions commonColor1">.</span><span class="likeOptions commonColor1">Replay</span><span class="likeSeparator likeOptions commonColor2">.</span><span class="likeOptions commonColor2">Yesterday at 4:16 PM</span>
              </div>
              <div class="column medium-1"></div>
            </div>
          </div>

          <div class="medium-12">
            <div class="row post-user">
              <div class="column medium-1"></div>
              <div class="medium-10">
                <span class="round">RT</span>
                <span class="user">John CPA</span>
                <span>4:13 PM</span>
                <span>|</span>
                <span>AAA Tire Service Proposal</span>
              </div>
              <div class="column medium-1 text-right">
              </div>
            </div>
            <div class="row post-body">
              <div class="column medium-1"></div>
              <div class="column medium-10">
                Hello user,This perticular account is difficult due to line items 5 and 92.Please Review and resubmit by 10/12.2017. Thanks!
              </div>
              <div class="column medium-1"></div>
            </div>
          </div>

          <div class="medium-12">
            <div class="row post-user">
              <div class="medium-11">
                <span class="round">RT</span>
                <span class="user">John CPA</span>
                <span>4:13 PM</span>
                <span>|</span>
                <span>AAA Tire Service Proposal</span>
              </div>
              <div class="column medium-1 text-right">
              </div>
            </div>
            <div class="row post-body">
              <div class="column medium-11">
                Hello user,This perticular account is difficult due to line items 5 and 92.Please Review and resubmit by 10/12.2017. Thanks!
              </div>
              <div class="column medium-1"></div>
            </div>
          </div>

          <div class="medium-12">
            <div class="inputContainer">
              <div style="flex-grow: 1;min-width: 0;word-break: break-word;">
                <input value="asdasdasdas"/>
              </div>
              <div class="inputAttachments">
                <span><i class="material-icons">comment</i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<div style="margin-bottom:30px;">
  <div class="row">
    <div class="column medium-12">
      <div class="row post">
        <div class="medium-12">

          <div class="row post-user">
            <div class="medium-10">
              <span class="round">RT</span>
              <span class="user">John CPA</span>
              <span>4:13 PM</span>
              <span>|</span>
              <span>AAA Tire Service Proposal</span>
            </div>
            <div class="column medium-2 text-right">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row post-body">
            <div class="column medium-10">
              Hello user,This perticular account is difficult due to line items 5 and 92.Please Review and resubmit by 10/12.2017. Thanks!
            </div>
            <div class="column medium-1"></div>
          </div>
          <hr>
          <div class="row">
            <div class="column medium-10 post-footer">
              <div class="float-left"><span><i class="icon ion-paperclip"></i></span><span>Attach File</span></div>
              <div class="float-left"><span><i class="icon ion-paperclip"></i></span><span>EmoJi</span></div>
              <div class="float-left"><span><i class="icon ion-paperclip"></i></span><span>Badge</span></div>
            </div>
            <div class="column medium-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  &lt;!&ndash;<div class="row">
    <div class="column medium-12">
      <div class="row post comments">

        <div class="medium-12">
          <div class="row">
            <div class="column medium-10 comments-count">
              <span>view</span><span>4</span><span>more comments ...</span>
            </div>
          </div>
          <div class="row post-user">
            <div class="medium-11">
              <span class="round">RT</span>
              <span class="user">John CPA</span>
              <span>4:13 PM</span>
              <span>|</span>
              <span>AAA Tire Service Proposal</span>
            </div>
            <div class="column medium-1 text-right">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row post-body">
            <div class="column medium-11">
              Hello user,This perticular account is difficult due to line items 5 and 92.Please Review and resubmit by 10/12.2017. Thanks!
            </div>
            <div class="column medium-1"></div>
          </div>
        </div>

        <div class="medium-12">
          <div class="row post-user">
            <div class="medium-11">
              <span class="round">RT</span>
              <span class="user">John CPA</span>
              <span>4:13 PM</span>
              <span>|</span>
              <span>AAA Tire Service Proposal</span>
            </div>
            <div class="column medium-1 text-right">
            </div>
          </div>
          <div class="row post-body">
            <div class="column medium-11">
              Hello user,This perticular account is difficult due to line items 5 and 92.Please Review and resubmit by 10/12.2017. Thanks!
            </div>
            <div class="column medium-1"></div>
          </div>
        </div>

        <div class="medium-12">
          <div class="row post-user">
            <div class="column medium-1"></div>
            <div class="medium-10">
              <span class="round">RT</span>
              <span class="user">John CPA</span>
              <span>4:13 PM</span>
              <span>|</span>
              <span>AAA Tire Service Proposal</span>
            </div>
            <div class="column medium-1 text-right">
            </div>
          </div>
          <div class="row post-body">
            <div class="column medium-1"></div>
            <div class="column medium-10">
              Hello user,This perticular account is difficult due to line items 5 and 92.Please Review and resubmit by 10/12.2017. Thanks!
            </div>
            <div class="column medium-1"></div>
          </div>
        </div>

        <div class="medium-12">
          <div class="row post-user">
            <div class="column medium-1"></div>
            <div class="medium-10">
              <span class="round">RT</span>
              <span class="user">John CPA</span>
              <span>4:13 PM</span>
              <span>|</span>
              <span>AAA Tire Service Proposal</span>
            </div>
            <div class="column medium-1 text-right">
            </div>
          </div>
          <div class="row post-body">
            <div class="column medium-1"></div>
            <div class="column medium-10">
              Hello user,This perticular account is difficult due to line items 5 and 92.Please Review and resubmit by 10/12.2017. Thanks!
            </div>
            <div class="column medium-1"></div>
          </div>
        </div>

        <div class="medium-12">
          <div class="row post-user">
            <div class="medium-11">
              <span class="round">RT</span>
              <span class="user">John CPA</span>
              <span>4:13 PM</span>
              <span>|</span>
              <span>AAA Tire Service Proposal</span>
            </div>
            <div class="column medium-1 text-right">
            </div>
          </div>
          <div class="row post-body">
            <div class="column medium-11">
              Hello user,This perticular account is difficult due to line items 5 and 92.Please Review and resubmit by 10/12.2017. Thanks!
            </div>
            <div class="column medium-1"></div>
          </div>
        </div>

      </div>
    </div>
  </div>&ndash;&gt;
  </div>-->
  <!--<div class="column medium-12 comment">
    <div class="row">
      <div class="column medium-1"></div>
      <div class="column medium-9 comment-header">
        <span><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
        <span>John CPA</span>
        <span>4:13 PM</span>
        <span>|</span>
        <span>AAA Tire Service Proposal</span>
      </div>
      <div class="medium-2 text-center">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row comment-body">
      <div class="column medium-1"></div>
      <div class="column medium-9">
        Hello user,This perticular account is difficult due to line items 5 and 92.Please Review and resubmit by 10/12.2017. Thanks!
      </div>
      <div class="medium-2"></div>
    </div>
  </div>
  <div class="column medium-12 comment">
    <div class="row">
      <div class="column medium-1"></div>
      <div class="column medium-10 dropdown-pane bottom export-dropdown" id="export-dropdown" foundation>
        <div class="row">
          <div class="column medium-12">
            <div class="export-option">Comment on this conversation</div>
            <hr>
            <div class="export-option">
              <span class="float-left"><i class="fa fa-smile-o" aria-hidden="true"></i></span><span><i class="fa fa-smile-o" aria-hidden="true"></i></span>
              <input class="button small float-right" type="button" value="Post">
            </div>
          </div>
        </div>
      </div>
      <div class="column medium-1"></div>
    </div>
  </div>-->

</div>


