<div class="collaboration" foundation detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="1">

  <!--new post-->
  <div class="row" style="margin-bottom:30px;">
    <div class="column medium-12">
      <div class="post-header user"><span>Make Post</span><span>|</span><span>Photo/Video</span></div>
      <div class="dropdown-pane dropdown-pane1  bottom export-dropdown" style="width: 100% !important;" foundation>
        <div class="row">
          <div class="column medium-12">
            <div class="export-option metaData" *ngIf="metaData">{{'['+metaData+']'}}</div>
            <div class="export-option">
              <textarea style="border: none;resize: inherit;margin:0;" [(ngModel)]="newPost.message" placeholder= 'Enter Post Message ...' rows="3"></textarea>
            </div>
            <div class="postAttachment" style="margin-top:15px;padding: 0 5px 3px !important;" *ngIf="isNewPostAttachment && postUploadResp.name !== undefined">
              <span class="float-left"><i class="material-icons">close</i></span><span class="attachment_name">{{postUploadResp.name}}</span>
            </div>
            <hr style="margin-bottom: 0;margin-top:5px;">
            <div class="row badge-dropdown">
              <div class="column medium-10 post-footer commonColor3">
                <div class="float-left">
                  <label for="nativeFileUpload" class="button upload_button">
                    <span><i class="material-icons">attach_file</i></span>
                    <span class="commonColor3">Attach File</span>
                  </label>
                  <input type="file" id="nativeFileUpload" (change)="startUpload($event)" value="null" class="show-for-sr" ng2FileSelect [uploader]="uploader" multiple/>
                </div>
                <div class="float-left"><span><i class="material-icons">insert_emoticon</i></span><span class="commonColor3">Emoji</span></div>
                <div class="float-left">
                  <span data-toggle="export-dropdown" (mouseenter) ="updateBadges(newPost.badges)">
                    <i class="material-icons">dns</i><span class="commonColor3">Badge</span>
                  </span>
                  <div class="dropdown-pane bottom export-dropdown badge-dropdown" id="export-dropdown" data-dropdown data-hover="true" data-hover-pane="true" foundation>
                    <div class="export-option" [style.background-color]="badge.color" *ngFor="let badge of badges; let i = index;">
                      <span><i class="material-icons">{{badge.icon}}</i></span>
                      <span>{{badge.name}}</span>
                      <span class="task-check float-right">
                        <input type="checkbox" class="checkbox" name="badgeOptions" [(ngModel)]="badge.selected" (change)="postSelectBadge(badge,newPost)">
                      </span>
                    </div>
                  </div>
                </div>
                <div class="float-left badgeIndicator">
                  <span [style.background-color]="getColor(badge)" [style.right]="getRight(i)" *ngFor="let badge of newPost.badges; let i = index;"><i class="material-icons">{{getIcon(badge)}}</i></span>
                  <span></span>
                </div>
              </div>
              <div class="column medium-2 text-right" (click)="createPost()"><button class="button small" style="background-color: #3C628C;">Post</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--created posts-->
  <div style="margin-bottom:100px;" *ngFor="let post of posts;">
    <div class="row">
      <div class="column medium-12">
        <div class="row post post-border">
          <div class="medium-12">
            <div class="row post-user">
              <div class="round" style="float: left;margin-right: 10px;padding: 2px 5px 0;height: 32px;">
                {{post.user.firstName.charAt(0)}}{{post.user.lastName.charAt(0)}}
              </div>
              <!--<div class="medium-1" style="max-width: 35px;margin-right:10px;"><div class="round">{{post.user.firstName.charAt(0)}}{{post.user.lastName.charAt(0)}}</div></div>-->
              <div class="medium-11">
               <!-- <span class="round">{{post.user.firstName.charAt(0)}}{{post.user.lastName.charAt(0)}}</span>-->
                <span class="user">{{post.user.firstName}}</span><span class="user">{{post.user.lastName}}</span>
                <span class="commonColor2">{{getCommentTime(post.createdDate)}}</span>
                <span class="commonColor2">|</span>
                <span class="commonColor2">{{post.metadata}}</span>
              </div>
              <div class="column text-right update-dropdown">
                <i class="fa fa-ellipsis-h" aria-hidden="true" attr.data-toggle="export-dropdown-postupdate{{post.id}}"></i>
                <div class="dropdown-pane bottom export-dropdown" id="export-dropdown-postupdate{{post.id}}" data-dropdown data-hover="true" data-hover-pane="true" foundation>
                  <div class="export-option text-left pointer" *ngFor="let option of updateOptions; let i = index;" (click)="handlePostAction(option,post.id)">
                    {{option}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row post-body" *ngIf="post.documentName">
              <div class="column medium-4 attachment">
                <div class="row">
                  <div class="column medium-2">
                    <i class="material-icons commonColor1">attachment</i>
                  </div>
                  <div class="column medium-9 commonColor2 text-center" attr.title="{{post.documentName}}">
                    <div class="attachment_name">{{post.documentName}}</div>
                  </div>
                  <div class="medium-1" (click)="downloadDocument(post.documentID)">
                    <i class="material-icons commonColor1">file_download</i>
                  </div>
                </div>
              </div>
              <div class="column medium-7"></div>
            </div>

            <div class="row post-body">
              <div class="column medium-10">
                {{post.message}}
              </div>
              <div class="column medium-1"></div>
            </div>
            <hr>
            <div class="row">
              <div class="column medium-10 post-footer commonColor3">
                <div class="float-left"><span><i class="material-icons">attach_file</i></span><span >Attach File</span></div>
                <div class="float-left"><span><i class="material-icons">insert_emoticon</i></span><span>Emoji</span></div>
                <div class="float-left">
                  <div attr.data-toggle="export-dropdown{{post.id}}" (mouseenter) ="updateBadges(post.badges)">
                    <i class="material-icons">dns</i><span class="commonColor3">Badge</span>
                  </div>
                  <div class="dropdown-pane bottom export-dropdown badge-dropdown" id="export-dropdown{{post.id}}" data-dropdown data-hover="true" data-hover-pane="true" foundation>
                    <div class="export-option" [style.background-color]="badge.color" *ngFor="let badge of badges; let i = index;">
                      <span><i class="material-icons">{{badge.icon}}</i></span>
                      <span>{{badge.name}}</span>
                      <span class="task-check float-right">
                        <input type="checkbox" class="checkbox" name="badgeOptions" [(ngModel)]="badge.selected">
                      </span>
                    </div>
                  </div>
                </div>
                <div class="float-left badgeIndicator" *ngIf="post.badges.length > 0;">
                  <span [style.background-color]="getColor(badge)" [style.right]="getRight(i)" *ngFor="let badge of post.badges; let i = index;"><i class="material-icons">{{getIcon(badge)}}</i></span>
                  <span></span>
                </div>
              </div>
              <div class="column medium-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--comments-->
    <div class="row">
      <div class="column medium-12">
        <!--<div class="row" style="background-color: #F6F7F9;">
          <div class="column medium-10 comments-count pointer">
            <span>view</span><span>4</span><span>more comments ...</span>
          </div>
        </div>-->
        <div class="row post comments comment-border" *ngFor="let comment of post.comments;">
          <div class="medium-12">
            <div class="row post-user">
              <div class="round" style="float: left;margin-right: 10px;padding: 2px 5px 0;height: 32px;">
                {{comment.user.firstName.charAt(0)}}{{comment.user.lastName.charAt(0)}}
              </div>
              <!--<div class="medium-1" style="max-width: 35px;margin-right:10px;"><div class="round">{{comment.user.firstName.charAt(0)}}{{comment.user.lastName.charAt(0)}}</div></div>-->
              <div class="medium-10">
                <span class="user">{{comment.user.firstName}}</span><span class="user">{{comment.user.lastName}}</span>
                <span>{{comment.message}}</span>
              </div>
              <div class="column text-right update-dropdown">
                <i class="fa fa-ellipsis-h" aria-hidden="true" attr.data-toggle="export-dropdown-commentupdate{{comment.id}}"></i>
                <div class="dropdown-pane bottom export-dropdown" id="export-dropdown-commentupdate{{comment.id}}" data-dropdown data-hover="true" data-hover-pane="true" foundation>
                  <div class="export-option text-left pointer" *ngFor="let option of updateOptions; let i = index;" (click)="handleCommentAction(option,comment.id,post.id)">
                    {{option}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row post-body" *ngIf="comment.documentName">
              <div class="column medium-4 attachment">
                <div class="row">
                  <div class="column medium-2">
                    <i class="material-icons commonColor1">attachment</i>
                  </div>
                  <div class="column medium-9 commonColor2 text-center" attr.title="{{comment.documentName}}">
                    <div class="attachment_name">{{comment.documentName}}</div>
                  </div>
                  <div class="medium-1" (click)="downloadDocument(comment.documentID)">
                    <i class="material-icons commonColor1">file_download</i>
                  </div>
                </div>
              </div>
              <div class="column medium-7"></div>
            </div>
            <div class="row post-body">
              <div class="column medium-11">
                <span class="likeOptions commonColor1" (click)="like(comment,'comment')" *ngIf="!comment.likedByUser">Like</span>
                <span class="likeOptions commonColor2" (click)="unLike(comment)" *ngIf="comment.likedByUser">Like</span>
                <span class="likeSeparator likeOptions commonColor1">.</span>
                <span class="likeOptions" (click)="showCommentInput(comment.id)" [ngClass] = "selectedCommentInput === 'comment_'+comment.id ?'commonColor2' : 'commonColor1'">Reply</span>
                <span class="likeSeparator likeOptions commonColor2">.</span>
                <span class="likeOptions commonColor2">{{getCommentTime(comment.createdDate)}}</span>
                <span class="likeOptions commonColor2" [style.right]="getRight(i)" style="margin-right:0;position: relative;" *ngFor="let badge of comment.badges; let i = index;">
                  <a href="javascript:void (0)" class="button comment-status" [style.background-color]="getColor(badge)">{{badge}}</a>
                </span>
              </div>
              <div class="column medium-1"></div>
            </div>
            <div class="row" id="comment_{{comment.id}}" *ngIf="selectedCommentInput === 'comment_'+comment.id" style="background-color: #F6F7F9;padding-bottom:10px;padding-top: 20px;">
              <div class="column medium-12">
                <div class="row">
                  <div class="column medium-12">
                    <div class="round" style="float: left;margin-right: 10px;margin-left:7px;padding: 2px 5px 0;">
                      {{user.first_name.charAt(0)}}{{user.last_name.charAt(0)}}
                    </div>
                    <div class="inputContainer" style="bottom: 5px;position: relative;">
                      <div style="flex-grow: 1;min-width: 0;word-break: break-word;">
                        <textarea placeholder="Write A comment..." (keyup.enter)="onSubCommentEnter($event,comment.postID,comment.id)"></textarea>
                      </div>
                      <div class="inputAttachments">
                        <span><i class="material-icons">insert_emoticon</i></span>
                        <span class="float-left">
                      <label for="nativeFileUpload{{comment.id}}" class="button upload_button">
                        <span><i class="material-icons">attach_file</i></span>
                      </label>
                      <input type="file" id="nativeFileUpload{{comment.id}}" (change)="startUpload($event, comment.postID)" value="null" class="show-for-sr" ng2FileSelect [uploader]="uploader" multiple/>
                    </span>

                        <span class="float-left new-comment">
                          <div attr.data-toggle="export-dropdown{{comment.id}}" (mouseenter)="updateBadges([])">
                            <i class="material-icons">dns</i>
                          </div>
                          <div class="dropdown-pane bottom export-dropdown badge-dropdown" id="export-dropdown{{comment.id}}" data-dropdown data-hover="true" data-hover-pane="true" foundation>
                            <div class="export-option" [style.background-color]="badge.color" *ngFor="let badge of badges; let i = index;">
                              <span><i class="material-icons">{{badge.icon}}</i></span>
                              <span>{{badge.name}}</span>
                              <span class="task-check float-right">
                        <input type="checkbox" class="checkbox" name="badgeOptions" [(ngModel)]="badge.selected">
                      </span>
                            </div>
                          </div>
                        </span>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <sub-comment [data]="comment.children" *ngIf="comment.children.length>0"></sub-comment>
          </div>
        </div>

        <div class="row comment-border" style="border-bottom:1px solid #e2e2e2;background-color: #F6F7F9;padding-bottom:10px;padding-top: 20px;">
          <div class="column medium-12">
            <div class="row">
              <div class="medium-12">
                <div class="round" style="float:left;margin-right: 10px;margin-left:7px;padding: 2px 5px 0;">
                  {{user.first_name.charAt(0)}}{{user.last_name.charAt(0)}}
                </div>
                <div class="inputContainer" style="    bottom: 5px;position: relative;">
                  <div style="flex-grow: 1;min-width: 0;word-break: break-word;">
                    <textarea placeholder="Write A comment..." (keyup.enter)="onCommentEnter($event,post.id)"></textarea>
                  </div>
                  <div class="inputAttachments">
                    <span><i class="material-icons">insert_emoticon</i></span>
                    <span class="float-left">
                      <label for="nativeFileUpload{{post.id}}" class="button upload_button">
                        <span><i class="material-icons">attach_file</i></span>
                      </label>
                      <input type="file" id="nativeFileUpload{{post.id}}" (change)="startUpload($event, post.id)" value="null" class="show-for-sr" ng2FileSelect [uploader]="uploader" multiple/>
                    </span>
                    <span class="float-left new-comment">
                          <div attr.data-toggle="export-dropdown-comment{{post.id}}" (mouseenter)="updateBadges([])">
                            <i class="material-icons">dns</i>
                          </div>
                          <div class="dropdown-pane bottom export-dropdown badge-dropdown" id="export-dropdown-comment{{post.id}}" data-dropdown data-hover="true" data-hover-pane="true" foundation>
                            <div class="export-option" [style.background-color]="badge.color" *ngFor="let badge of badges; let i = index;">
                              <span><i class="material-icons">{{badge.icon}}</i></span>
                              <span>{{badge.name}}</span>
                              <span class="task-check float-right">
                                <input type="checkbox" class="checkbox" name="badgeOptions" [(ngModel)]="badge.selected" (change)="postSelectBadge(badge,newComment)">
                              </span>
                            </div>
                          </div>
                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>






</div>


