<div class="qount-off-canvas-menu">
  <div class="flyout expanded" [ngClass]="{'expanded':true}">
    <section class="flyout-placeholder">
      <div class="flyout-body flyout-shadow-effect">
        <form (ngSubmit)="submit($event)" [formGroup]="depositForm">
          <section class="form-section clearfix">
            <div class="row">
              <div class="small-12 medium-12 columns">
                <div class="form-section-left expense-row">
                  <div class="row">
                    <div class="small-12 medium-3 columns">
                      <label>Title
                        <input type="text" formControlName="title" placeholder="Title*" maxlength="30"/>
                        <div class="error" [hidden]="depositForm.controls.title.untouched || depositForm.controls.title.valid">Deposit Title is required</div>
                      </label>
                    </div>
                    <div class="small-12 medium-2 columns">
                      <label>Date
                        <input type="text" custom-datepicker [format]="dateFormat" [mindate]="'past'" (valueChanged)="setDueDate($event)" formControlName="date" placeholder="Date*">
                        <div class="error" [hidden]="depositForm.controls.date.untouched || depositForm.controls.date.valid">Date is required</div>
                      </label>
                    </div>
                    <div class="small-12 medium-2 columns">
                      <label>Amount
                        <input type="text" formControlName="amount" placeholder="Amount*" numeral [format]="'$0,0.00'" [locale]="companyCurrency" [unsigned]="true"/>
                        <div class="error" [hidden]="depositForm.controls.amount.untouched || depositForm.controls.amount.valid">Amount is required</div>
                      </label>
                    </div>
                    <div class="small-12 medium-3 columns">
                      <label>Bank Account
                        <select combo-box #accountComboBoxDir="comboBox" data-placeholder="Select Account" [listObject]="accounts" formControlName="bank_account_id" (valueChanged)="setBankAccount($event)">
                          <option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
                        </select>
                        <div class="error" [hidden]="depositForm.controls.bank_account_id.untouched || depositForm.controls.bank_account_id.valid">Please select bank account</div>
                      </label>
                    </div>
                    <div class="small-12 medium-2 columns">
                      <label>Deposit Type
                        <select formControlName="deposit_type" placeholder="Deposit Type" (change)="selectDepositType($event.target.value)" (keydown.Tab)="enableLines()">
                          <option [value]="'invoice'">Invoice</option>s
                          <option [value]="'expenseRefund'">Expense Refund</option>
                          <option [value]="'other'">Other</option>
                        </select>
                        <div class="error" [hidden]="depositForm.controls.deposit_type.untouched || depositForm.controls.deposit_type.valid">Deposit Type is required</div>
                      </label>
                    </div>
                  </div>
                  <label class="float-left" style="margin-left: 10px;">
                    <b>Deposit Lines</b>
                  </label>
                  <label class="float-right">
                    <b>Total:</b> {{formattedLineTotal}}
                  </label>
                  <label class="float-right">
                    <span class='icon badge je-badge' style="cursor:pointer;margin-top: 5px;" (click)="showMappingPage()">M</span>
                  </label>
                  <div formArrayName="payments">
                    <table>
                      <thead>
                      <tr>
                        <th width="13.5%;">COA</th>
                        <th width="6.5%;">Amount</th>
                        <th width="40%;">Notes</th>
                        <th width="10%;">Entity</th>
                        <th width="5%;"></th>
                      </tr>
                      </thead>
                      <tbody #list>
                      <tr *ngIf="depositForm.controls.payments.controls.length == 0 && !addNewItemFlag">
                        <td colspan="7" class="text-center">No Deposits items found</td>
                      </tr>
                      <tr *ngFor="let itemForm of depositForm.controls.payments.controls;let index=index;" [hidden]="itemForm.controls.destroy.value" (click)="editItem(index, itemForm)">
                        <td class="truncate" *ngIf="!itemForm.editable">{{getCOAName(itemForm.controls.chart_of_account_id.value)}}</td>
                        <td *ngIf="itemForm.editable" class="combo-box-field">
                          <select id="coa-{{index}}" combo-box #COAComboBoxDir="comboBox" data-placeholder="Select COA" [listObject]="chartOfAccounts" [formControl]="itemForm.controls.chart_of_account_id" (valueChanged)="setCOAForItem($event, itemForm)">
                            <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.displayName}}</option>
                          </select>
                        </td>
                        <td *ngIf="!itemForm.editable">{{itemForm.controls.amount.value? formatAmount(itemForm.controls.amount.value):null}}</td>
                        <td *ngIf="itemForm.editable" (keydown.ArrowDown)="handleKeyEvent( $event,index,'Arrow Down')" (keydown.ArrowUp)="handleKeyEvent( $event,index,'Arrow Up')">
                          <input type="text" placeholder="Amount" [formControl]="itemForm.controls.amount" numeral [format]="'$0,0.00'" [locale]="companyCurrency" [unsigned]="true" (change)="updateLineTotal()"/>
                        </td>
                        <td class="truncate" *ngIf="!itemForm.editable">{{itemForm.controls.notes.value}}</td>
                        <td *ngIf="itemForm.editable" (keydown.ArrowDown)="handleKeyEvent( $event,index,'Arrow Down')" (keydown.ArrowUp)="handleKeyEvent( $event,index,'Arrow Up')">
                          <input type="text" placeholder="Notes" [formControl]="itemForm.controls.notes"/>
                        </td>
                        <td class="truncate" *ngIf="!itemForm.editable">{{getEntityName(itemForm.controls.entity_id.value)}}</td>
                        <td *ngIf="itemForm.editable" class="combo-box-field" (keydown.Tab)="handleKeyEvent( $event,index,'Arrow Down')">
                          <select id="entity-{{index}}" combo-box #EntityComboBoxDir="comboBox" data-placeholder="Select Entity" [listObject]="entities" [formControl]="itemForm.controls.entity_id" (valueChanged)="setEntityForItem($event, itemForm)">
                            <option *ngFor="let entity of entities" [value]="entity.id">{{entity.name}}</option>
                          </select>
                        </td>
                        <td style="width:8%;">
                                                    <span (click)="showFlyout($event, index)">
                                                        <i class="icon ion-edit"></i>
                                                    </span>
                          <span *ngIf="getLineCount() > 1" (click)="deleteItem($event,index)">
                                                        <i class="icon ion-ios-trash-outline"></i>
                                                    </span>
                          <span (click)="showPosts($event,index)">
                                          <i class='material-icons' style="vertical-align: middle;">comment</i>
                                                    </span>
                        </td>
                      </tr>
                      </tbody>
                      <!--<tbody *ngIf="addNewItemFlag" class="expense-item-info" [formGroup]="newItemForm">
                      <tr>
                          <td class="combo-box-field">
                              <select combo-box #newCOAComboBoxDir="comboBox" data-placeholder="Select Chart of Account" [listObject]="chartOfAccounts" formControlName="chart_of_account_id" (valueChanged)="setCOAForNewItem($event)">
                                  <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                              </select>
                          </td>
                          <td>
                              <input type="text" placeholder="Amount" formControlName="amount" numeral [format]="'$0,0.00'" [locale]="companyCurrency" [unsigned]="true"/>
                          </td>
                          <td>
                              <input type="text" placeholder="Notes" formControlName="notes"/>
                          </td>
                          <td class="combo-box-field">
                              <select combo-box #newEntityComboBoxDir="comboBox" data-placeholder="Select Entity" [listObject]="entities" formControlName="entity_id" (valueChanged)="setEntityForNewItem($event)">
                                  <option *ngFor="let entity of entities" [value]="entity.id">{{entity.name}}</option>
                              </select>
                          </td>
                          <td>
                              <i class="icon ion-ios-checkmark-outline" (click)="saveNewItem()"></i>
                              <i class="icon ion-ios-close-outline" (click)="hideNewItem()"></i>
                          </td>
                      </tr>
                      </tbody>-->
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 medium-12 columns">
                <button class="button create small float-right" [disabled]="!depositForm.valid" type="submit" (click)="submit($event)" data-close>{{newDeposit?"Create":"Update"}}</button>
                <button class="button create small float-right" style="margin-right:10px;" [disabled]="!depositForm.valid" type="submit" (click)="submit($event);stayFlyout = true" data-close *ngIf="newDeposit">Create and New</button>
              </div>
            </div>
          </section>
        </form>
      </div>
    </section>
  </div>
</div>

<div class="report-wrapper journal-flyout">
  <div class="sidenav customization-panel" [ngClass]="dimensionFlyoutCSS" foundation>
    <div class="row collapse dimension-flyout">
      <div class="small-12 medium-12 small-centered column">
        <h5>Item Details</h5>
      </div>
    </div>
    <form *ngIf="itemActive" novalidate [formGroup]="editItemForm">
      <div class="row collapse dimension-flyout">
        <div class="small-12 medium-6 columns">
          <div class="row">
            <div class="small-12 medium-6 column">
              <label>Title
                <input type="text" formControlName="title" placeholder="Title*"/>
                <div class="error" [hidden]="editItemForm.controls.title.untouched || editItemForm.controls.title.valid">Item Title is required</div>
              </label>
            </div>
            <div class="small-12 medium-6 column">
              <label>Amount
                <input type="text" formControlName="amount" placeholder="Amount*" numeral [format]="'$0,0.00'" [locale]="companyCurrency" [unsigned]="true"/>
                <div class="error" [hidden]="editItemForm.controls.amount.untouched || editItemForm.controls.amount.valid">Item Amount is required</div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 column">
              <label>Chart of Account
                <select combo-box #editCOAComboBoxDir="comboBox" data-placeholder="Select Chart of Account" [listObject]="chartOfAccounts" formControlName="chart_of_account_id" (valueChanged)="setCOAForEditingItem($event)">
                  <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                </select>
              </label>
            </div>
            <div class="small-12 medium-6 column">
              <label>Entity
                <select combo-box #editEntityComboBoxDir="comboBox" data-placeholder="Select Entity" [listObject]="entities" formControlName="entity_id" (valueChanged)="setEntityForEditingItem($event)">
                  <option *ngFor="let entity of entities" [value]="entity.id">{{entity.name}}</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 column">
              <label>Invoice
                <select combo-box #editInvoiceComboBoxDir="comboBox" data-placeholder="Select Invoice" [listObject]="invoices" formControlName="invoice_id" (valueChanged)="setInvoiceForEditingItem($event)">
                  <option *ngFor="let invoice of invoices" [value]="invoice.id">{{invoice.number}}</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 column">
              <label>Notes
                <textarea formControlName="notes" placeholder="Notes"></textarea>
              </label>
            </div>
          </div>
        </div>
        <div class="small-12 medium-6 columns">
          <label>Dimensions
            <div class="row dimension-grids" (click)="doNothing($event)">
              <div class="small-12 medium-4 columns dimension-grid" *ngFor="let dimension of dimensions">
                <div class="dimension-header">
                  <div>
                    <span class="float-left">{{dimension.name}}</span>
                    <span class="float-right">
                                                    <i class="icon ion-checkmark-circled" [ngClass]="{'selected': isDimensionSelected(dimension.name)}"
                                                       (click)="selectDimension($event, dimension.name)"></i>
                                                </span>
                  </div>
                  <div class="bottom" [ngClass]="{'selected': isDimensionSelected(dimension.name)}"></div>
                </div>
                <div class="dimension-values" [ngClass]="{'selected': isDimensionSelected(dimension.name)}">
                  <div class="dimension-value" *ngFor="let value of dimension.values; let index = index;">
                    <label (click)="selectValue($event, dimension, value)">
                      <input type="checkbox" [checked]="isValueSelected(dimension, value)"/>{{value}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </label>
        </div>
        <div class="small-12 medium-12 columns">
          <input type="button" class="button small float-right" value="Update" (click)="saveItem()"/>
        </div>
      </div>
    </form>
  </div>
</div>

<!--mapping cganges-->

<div class="report-wrapper report-wrapper1 mapping-buttons journal-flyout">
  <div class="sidenav customization-panel" [ngClass]="mappingFlyoutCSS" foundation>

    <div class="row" >
      <div class="column small-12 medium-6">
        <h5>Invoices Payments</h5>
      </div>
      <!--<div class="columns small-6 small-offset-6 right">
          <button class="button small text-button" style="top: 35px;" (click)="hideMappingPage()">
              <i class="ion-ios-close-empty"></i>
          </button>
      </div>-->
    </div>

    <div class="row chart-of-accounts" foundation>
      <div class="column large-12 medium-12 small-12 foo-container">
        <foo-table (onRowAction)="handleRedirect($event)" class="bighalf-footable search-right" *ngIf="hasMappings" [data]="tableData" [options]="tableOptions" (onRowSelect)="handleSelect($event)"></foo-table>
      </div>
    </div>
    <div class="row" *ngIf="hasMappings">
      <div class="small-12 medium-12 columns">
        <input type="button" class="button small float-right" value="Next" (click)="saveMappingID()"/>
      </div>
    </div>


  </div>
</div>

<div class="reveal tiny bill-modal-container" id="deposit-password-conformation" data-reveal foundation  data-close-on-click="false">
  <label>Enter Password
    <input type="password" [(ngModel)]="key"  placeholder="Password*">
  </label>
  <div class="text-right">
    <button class="button small" [disabled]="!checkValidation()" (click)="validateLockKey()">Submit</button>
    <button class="button small" (click)="closePasswordConfirmation()">Cancel</button>
  </div>
</div>
