
<div class="row" foundation>
  <div class="columns small-6 small-offset-6 right">

  </div>
</div>
<div class="row chart-of-accounts" foundation>
  <div class="column large-12 medium-12 small-12 foo-container">
    <div class="add-share-buttons add-share-adjust text-right">
      <span class="pointer" (click)="showAddDimension()"><i class="icon ion-ios-plus-outline"></i><span>Dimension</span></span>
    </div>
    <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasDimensions" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
  </div>
  <div class="qount-off-canvas-menu">
    <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
      <section class="flyout-placeholder">
        <div class="flyout-body flyout-shadow-effect">
          <!--here comes actual flyout code-->
          <form *ngIf="showFlyout" (ngSubmit)="submit($event)" [formGroup]="dimensionForm">
            <section class="form-section clearfix">
              <div class="row">
                <div class="small-12 medium-12 columns">
                  <div class="form-section-left">
                    <header class="form-section-header">Basic Info</header>
                    <div class="row">
                      <div class="small-4 columns">
                        <label class="text-right">Name</label>
                      </div>
                      <div class="small-6 columns">
                        <input type="text" formControlName="name" placeholder="Name*"/>
                        <div class="error" [hidden]="dimensionForm.controls.name.untouched || dimensionForm.controls.name.valid">Name is required.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="small-4 columns">
                        <label class="text-right">Description</label>
                      </div>
                      <div class="small-6 columns">
                        <textarea formControlName="desc" rows="3" placeholder="Description"></textarea>
                        <div class="error" [hidden]="dimensionForm.controls.desc.untouched || dimensionForm.controls.desc.valid">Description is required.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-section-left">
                    <header class="form-section-header">Value Info</header>
                    <div class="row">
                      <div class="small-12 medium-12 columns dimension-values">
                        <div *ngFor="let valueObj of values">
                          <div class="dimension-value-wrapper label" *ngIf="!valueObj.editing && valueObj.action != 'delete'">
                            <div class="dimension-value">{{valueObj.newValue}}</div>
                            <div class="edit-wrapper">
                              <i class="icon ion-edit" (click)="editValue(valueObj)"></i>
                              <i class="icon ion-close" (click)="deleteValue(valueObj)"></i>
                            </div>
                          </div>
                          <div class="dimension-value-wrapper label" *ngIf="valueObj.editing && valueObj.action != 'delete'">
                            <input type="text" (change)="onValueChange(valueObj, $event)" value="{{valueObj.newValue}}"/>
                            <div class="edit-wrapper">
                              <i class="icon ion-checkmark" (click)="updateValue(valueObj)"></i>
                              <i class="icon ion-close" (click)="deleteFromEditing(valueObj)"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="small-4 columns">
                        <label class="text-right">{{editMode ? "Enter new values" : "Values"}}</label>
                      </div>
                      <div class="small-6 columns">
                        <ul class="bighalf-tags" id="dimensionValues" type="text" custom-tags></ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="small-12 medium-12 columns">
                  <button class="button small float-right" [disabled]="!dimensionForm.valid" (click)="submit($event)">Save</button>
                </div>
              </div>
            </section>
          </form>
        </div>
        <button class="close-flyout" aria-label="Close modal" type="button" (click)="hideFlyout()">
                <span aria-hidden="true">
                  <i class="ion-ios-close-empty"></i>
                </span>
        </button>
      </section>
    </div>
  </div>
</div>
