<div class="row" foundation>
  <div class="column large-12 medium-12 small-12 foo-container">
    <div class="row add-share-buttons add-share-adjust" [style.visibility]="showDownloadIcon">
      <div class="column medium-12 text-right">
        <span class="pointer" (click)="showCreateDiscount()">
          <i class="icon ion-ios-plus-outline"></i><span>Discount</span>
        </span>
      </div>
    </div>
    <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasDiscountsList" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
  </div>
  <div class="qount-off-canvas-menu">
    <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
      <section class="flyout-placeholder">
        <div class="flyout-body flyout-shadow-effect">
          <!--here comes actual flyout code-->
          <div class="create-vendor">
            <form *ngIf="showFlyout" (ngSubmit)="submit($event)" [formGroup]="discountForm">

              <section class="form-section clearfix">
                <div class="row" style="margin-top: 1rem;">
                  <div class="small-12 medium-8 columns">
                    <div class="row">
                      <div class="column medium-6">
                        <label>Name*
                          <input type="text" formControlName="name"/>
                        </label>
                      </div>
                      <div class="column medium-1">

                      </div>
                      <div class="column medium-6">
                        <label>Description
                          <input type="text" formControlName="description"/>
                        </label>
                      </div>
                      <div class="column medium-1">

                      </div>
                      <div class="column medium-2">
                        <label>Type*
                          <select formControlName="type" placeholder="Type">
                            <option value="percentage">Percentage</option>
                            <option value="flat_discount">Flat Discount</option>
                          </select>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr style="max-width: 51rem;margin-left: 1rem;">
                <div class="row">
                  <div class="column medium-6" style="margin-left: 0.8rem;font-size: 14pt;color: #878787;">
                    Discount Ranges
                  </div>
                </div>
                <div class="row" style="margin-top: 1rem">
                  <div class="small-12 medium-8 columns" formArrayName="discountsRanges">
                    <div class="row" *ngFor="let contactLine of discountForm.get('discountsRanges').controls;let index=index;">
                      <div class="column medium-3">
                        <label>From Day*
                          <select [formControl]="contactLine.get('fromDay')">
                            <option *ngFor="let day of days" value="{{day}}">{{day}}</option>
                          </select>
                        </label>
                      </div>
                      <div class="column medium-3">
                        <label>To Day*
                          <select [formControl]="contactLine.get('toDay')">
                            <option *ngFor="let day of days" value="{{day}}">{{day}}</option>
                          </select>
                        </label>
                      </div>
                      <div class="column medium-3">
                        <label>Value*
                          <input type="text" [formControl]="contactLine.get('value')"/>
                        </label>
                      </div>
                      <div class="column medium-1">
                        <label style="margin-top: 1.5rem;">
                          <i class="icon ion-ios-trash-outline" style="font-size: 1.5rem" (click)="deleteRange(index)"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-left: 1rem;">
                  <div>
                    <a (click)="addContactList()"><i class="icon ion-ios-plus-outline"></i> Add Range</a>
                  </div>
                </div>
                <hr style="max-width: 51rem;margin-left: 1rem;">
                <div class="row" style="margin-bottom:2rem;margin-top:1rem;">
                  <div class="small-12 medium-8 columns">
                    <div class="row">
                      <div class="small-4 medium-7 columns">
                      </div>
                      <div class="small-4 medium-2 columns">
                        <button class="button small" style="height: 45px;background-color: white !important;color: #878787;font-size: 14px;" (click)="hideFlyout()">Cancel</button>
                      </div>
                      <div class="small-2 medium-3 columns">
                        <button  class="button create small" style="width: 140px;height: 44px;font-size: 14px;" [disabled]="!discountForm.valid" type="submit" (click)="submit($event)" data-close>{{editMode?"Update":"Add"}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
