<div *ngIf="showPage">
  <section class="upload-area" style="margin: 0px;height: 535px" ng2FileDrop [uploader]="uploader" (onFileDrop)="fileDropOver($event)">

    <div class="row">
      <div class="column medium-10"></div>
      <div class="column medium-2 text-right">
        <div class="row">
          <div class="column medium-4"></div>
          <div class="column medium-8" style="padding-right: 0px">
            <label for="nativeFileUpload" class="pointer">
              <i class=" icon ion-ios-plus-outline"></i>
              <span>Document</span>
            </label>
            <input class="show-for-sr" id="nativeFileUpload" (change)="startUpload($event)" type="file" value="null" ng2FileSelect [uploader]="uploader">
          </div>
        </div>
      </div>
    </div>

    <div class="documents-type">
      <div class="row">
        <div class="small-12 medium-4 large-4 columns doc-hover" *ngFor="let document of documentsData">
          <div class="report-callout">
          <div class="row">
            <div class="column medium-10 pointer" style="padding-left: 0px" (click)="openPreviewWindow($event,document)">
                <div class="row">
                  <i class="fa fa-file-o"></i>
                  <div class="report-header link-overflow">{{document.name}}</div>
                </div>
              </div>
            <div class="column medium-2">
              <div style="padding-left: 18px;visibility: hidden;">
                <a [href]="document.temporaryURL">
                  <i class="icon ion-ios-cloud-download-outline document-download"></i>
                </a>
              </div>
            </div>
          </div>
          </div>
        </div>
<!--
        <div class="small-12 medium-4 large-4 columns doc-hover" *ngFor="let attachment of attachments">
          <div class="report-callout">
            <div class="row">
              <div class="column medium-10 pointer" style="padding-left: 0px" (click)="openPreviewWindow($event,attachment)">
                <div class="row">
                  <i class="fa fa-file-o"></i>
                  <div class="report-header link-overflow">{{attachment.name}}</div>
                </div>
              </div>
              <div class="column medium-2">
                <div  style="padding-left: 18px;visibility: hidden;">
                  <a [href]="attachment.temporaryURL">
                    <i class="icon ion-ios-cloud-download-outline document-download"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
-->
      </div>
    </div>

    <div class="reveal small bill-modal-container" style="width: 40%;padding: 0;border: 1px;margin-top: 6rem;" id="document-upload-conformation" data-reveal foundation  data-close-on-click="false">
      <div class="row">
        <div class="small-12 medium-12 columns" style="padding: 0; background: #00B1A9;height: 3rem;">
          <label style="margin-left: 1rem;text-align: left;margin-top: 0.5rem;color: white;font-size: 13pt;">Upload a document?</label>
        </div>
      </div>
      <div class="row" style="padding: 1rem 1rem 0 1rem;margin-top: 1rem;">
        <div class="small-4 columns">
          <label class="text-right">Name</label>
        </div>
        <div class="small-6 columns">
          <input type="text" [(ngModel)]="documentName"/>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <label class="text-right">Notes</label>
        </div>
        <div class="small-6 columns">
          <textarea rows="2" [(ngModel)]="documentNotes"></textarea>
        </div>
      </div>

      <div class="text-right" style="padding-right:1rem">
        <button class="button small" style="background: #00B1A9;" (click)="uploadDocument()">Upload</button>
        <button class="button small" style="background-color: white !important;color: #878787;" (click)="closeUploadModalDailog()">Cancel</button>
      </div>
    </div>

  </section>
</div>
