<div>
  <div class="row add-share-buttons">
      <div class="column medium-12 text-right">
          <span class="pointer">
            <i class=" icon ion-ios-plus-outline"></i>
            <span>Document</span>
          </span>
      </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 large-4 columns pointer">
      <div class="report-callout">
        <div class="row">
          <i class="fa fa-file" style="padding-right: 10px;font-size: x-large;vertical-align: middle;color: #0FB45A;"></i>
          <div class="report-header">Doc1</div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns pointer">
      <div class="report-callout">
        <div class="row">
          <i class="fa fa-file" style="padding-right: 10px;font-size: x-large;vertical-align: middle;color: #0FB45A;"></i>
          <div class="report-header">Doc2</div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns pointer">
      <div class="report-callout">
        <div class="row">
          <i class="fa fa-file" style="padding-right: 10px;font-size: x-large;vertical-align: middle;color: #0FB45A;"></i>
          <div class="report-header">Doc3</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 large-4 columns pointer">
      <div class="report-callout">
        <div class="row">
          <i class="fa fa-file" style="padding-right: 10px;font-size: x-large;vertical-align: middle;color: #0FB45A;"></i>
          <div class="report-header">Doc4</div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns pointer">
      <div class="report-callout">
        <div class="row">
          <i class="fa fa-file" style="padding-right: 10px;font-size: x-large;vertical-align: middle;color: #0FB45A;"></i>
          <div class="report-header">Doc5</div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns pointer">
      <div class="report-callout">
        <div class="row">
          <i class="fa fa-file" style="padding-right: 10px;font-size: x-large;vertical-align: middle;color: #0FB45A;"></i>
          <div class="report-header">Doc6</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 large-4 columns pointer">
      <div class="report-callout">
        <div class="row">
          <i class="fa fa-file" style="padding-right: 10px;font-size: x-large;vertical-align: middle;color: #22B473;"></i>
          <div class="report-header">Doc7</div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns pointer">
      <div class="report-callout">
        <div class="row">
          <i class="fa fa-file" style="padding-right: 10px;font-size: x-large;vertical-align: middle;color: #22B473;"></i>
          <div class="report-header">Doc8</div>
        </div>
      </div>
    </div>
  </div>
</div>
