<div class="qount-off-canvas-menu">
    <div class="flyout expanded" [ngClass]="{'expanded':true}">
        <section class="flyout-placeholder">
            <div class="flyout-body flyout-shadow-effect">
                <form (ngSubmit)="submit($event)" [formGroup]="expenseForm">
                    <section class="form-section clearfix">
                        <div class="row">
                            <div class="small-12 medium-12 columns">
                                <div class="form-section-left expense-row">
                                    <div class="row">
                                        <div class="small-12 medium-6 columns">
                                            <label>Title
                                                <input type="text" formControlName="title" placeholder="Title*" maxlength="30"/>
                                                <div class="error" [hidden]="expenseForm.controls.title.untouched || expenseForm.controls.title.valid">Expense Title is required</div>
                                            </label>
                                        </div>
                                        <div class="small-12 medium-3 columns">
                                            <label>Date
                                                <input type="text" custom-datepicker [format]="dateFormat" [mindate]="'past'" (valueChanged)="setDueDate($event)" formControlName="due_date" placeholder="Date*">
                                                <div class="error" [hidden]="expenseForm.controls.due_date.untouched || expenseForm.controls.due_date.valid">Date is required</div>
                                            </label>
                                        </div>
                                        <div class="small-12 medium-3 columns">
                                            <label>Amount
                                                <input type="text" formControlName="amount" placeholder="Amount*" numeral [format]="'$0,0.00'" [locale]="companyCurrency" [unsigned]="true"/>
                                                <div class="error" [hidden]="expenseForm.controls.amount.untouched || expenseForm.controls.amount.valid">Amount is required</div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-12 medium-3 columns">
                                            <label>Bank Account
                                                <select combo-box #accountComboBoxDir="comboBox" data-placeholder="Select Account" [listObject]="accounts" formControlName="bank_account_id" (valueChanged)="setBankAccount($event)">
                                                    <option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
                                                </select>
                                                <div class="error" [hidden]="expenseForm.controls.bank_account_id.untouched || expenseForm.controls.bank_account_id.valid">Please select bank account</div>
                                            </label>
                                        </div>
                                        <div class="small-12 medium-3 columns">
                                            <label>Payment Type
                                                <select formControlName="type" placeholder="Type">
                                                    <option [value]="'ACH'">ACH</option>
                                                    <option [value]="'Check'">Check</option>
                                                    <option [value]="'Wire'">Wire</option>
                                                    <option [value]="'Other'">Other</option>
                                                </select>
                                                <div class="error" [hidden]="expenseForm.controls.type.untouched || expenseForm.controls.type.valid">Expense Type is required</div>
                                            </label>
                                        </div>
                                        <div class="small-12 medium-3 columns">
                                            <label>Reference Number
                                                <input type="text" formControlName="reference_number" placeholder="Reference number" maxlength="30"/>
                                                <div class="error" [hidden]="expenseForm.controls.reference_number.untouched || expenseForm.controls.reference_number.valid">Reference number is required</div>
                                            </label>
                                        </div>
                                        <div class="small-12 medium-3 columns">
                                            <label>Expense Type
                                                <select formControlName="expense_type" placeholder="Expense Type" (change)="selectExpenseType($event.target.value)" (keydown.Tab)="enableLines()">
                                                    <option [value]="'bill'">Bill</option>
                                                    <option [value]="'payroll'">Payroll</option>
                                                    <option [value]="'salesRefund'">Sales Refund</option>
                                                    <option [value]="'other'">Other</option>
                                                </select>
                                                <div class="error" [hidden]="expenseForm.controls.expense_type.untouched || expenseForm.controls.expense_type.valid">Expense Type is required</div>
                                            </label>
                                        </div>
                                    </div>
                                    <label class="float-left">
                                        <b>Expense Lines</b>
                                    </label>
                                    <label class="float-right" style="margin-left: 10px;">
                                        <b>Total:</b> {{formattedLineTotal}}
                                    </label>

                                    <label class="float-right">
                                        <span class='icon badge je-badge' style="cursor:pointer;margin-top: 5px;" (click)="showMappingPage()">M</span>
                                    </label>

                                    <div formArrayName="expense_items" style="margin-top: 12px;">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th width="15%">COA</th>
                                                <th width="7%">Amount</th>
                                                <th width="38%">Notes</th>
                                                <th width="10%">Entity</th>
                                                <th width="5%"></th>
                                            </tr>
                                            </thead>
                                            <tbody #list>
                                            <tr *ngIf="expenseForm.controls.expense_items.controls.length == 0">
                                                <td colspan="5" class="text-center">No expense items found</td>
                                            </tr>
                                            <tr *ngFor="let itemForm of expenseForm.controls.expense_items.controls;let index=index;" [hidden]="itemForm.controls.destroy.value" (click)="editItem(index, itemForm)">
                                                <td  class="truncate" *ngIf="!itemForm.editable">{{getCOAName(itemForm.controls.chart_of_account_id.value)}}</td>
                                                <td *ngIf="itemForm.editable" class="combo-box-field">
                                                    <select id="coa-{{index}}" combo-box #COAComboBoxDir="comboBox" data-placeholder="Select COA" [listObject]="chartOfAccounts" [formControl]="itemForm.controls.chart_of_account_id" (valueChanged)="setCOAForItem($event, itemForm)">
                                                        <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                                                    </select>
                                                </td>
                                                <td *ngIf="!itemForm.editable">{{itemForm.controls.amount.value? formatAmount(itemForm.controls.amount.value):null}}</td>
                                                <td *ngIf="itemForm.editable" (keydown.ArrowDown)="handleKeyEvent( $event,index,'Arrow Down')" (keydown.ArrowUp)="handleKeyEvent($event,index,'Arrow Up')">
                                                    <input type="text" placeholder="Amount" [formControl]="itemForm.controls.amount" numeral [format]="'$0,0.00'" [locale]="companyCurrency" [unsigned]="true" (change)="updateLineTotal()"/>
                                                </td>
                                                <td class="truncate" *ngIf="!itemForm.editable">{{itemForm.controls.notes.value}}</td>
                                                <td *ngIf="itemForm.editable" (keydown.ArrowDown)="handleKeyEvent( $event,index,'Arrow Down')" (keydown.ArrowUp)="handleKeyEvent($event,index,'Arrow Up')">
                                                    <input type="text" placeholder="Notes" [formControl]="itemForm.controls.notes"/>
                                                </td>
                                                <td class="truncate" *ngIf="!itemForm.editable">{{getEntityName(itemForm.controls.entity_id.value)}}</td>
                                                <td *ngIf="itemForm.editable" class="combo-box-field" (keydown.Tab)="handleKeyEvent( $event,index,'Arrow Down')">
                                                    <select id="entity-{{index}}" combo-box #vendorComboBoxDir="comboBox" data-placeholder="Select Entity" [listObject]="entities" [formControl]="itemForm.controls.entity_id" (valueChanged)="setEntityForItem($event, itemForm)">
                                                        <option *ngFor="let entity of entities" [value]="entity.id">{{entity.name}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <span (click)="showFlyout($event, index)">
                                                        <i class="icon ion-edit"></i>
                                                    </span>
                                                    <span *ngIf="getLineCount() > 1" (click)="deleteItem($event,index)">
                                                        <i class="icon ion-ios-trash-outline"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <!--<tbody *ngIf="addNewItemFlag" class="expense-item-info" [formGroup]="newItemForm">
                                            <tr>
                                                <td class="combo-box-field">
                                                    <select combo-box #newCOAComboBoxDir="comboBox" data-placeholder="Select Chart of Account" [listObject]="chartOfAccounts" formControlName="chart_of_account_id" (valueChanged)="setCOAForNewItem($event)">
                                                        <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" placeholder="Amount" formControlName="amount" numeral [format]="'$0,0.00'" [locale]="companyCurrency" [unsigned]="true"/>
                                                </td>
                                                <td>
                                                    <input type="text" placeholder="Notes" formControlName="notes"/>
                                                </td>
                                                <td class="combo-box-field">
                                                    <select combo-box #newEntityComboBoxDir="comboBox" data-placeholder="Select Entity" [listObject]="entities" formControlName="entity_id" (valueChanged)="setEntityForNewItem($event)">
                                                        <option *ngFor="let entity of entities" [value]="entity.id">{{entity.name}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <i class="icon ion-ios-checkmark-outline" (click)="saveNewItem()"></i>
                                                    <i class="icon ion-ios-close-outline" (click)="hideNewItem()"></i>
                                                </td>
                                            </tr>
                                            </tbody>-->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 medium-12 columns">
                                <button class="button create small float-right" [disabled]="!expenseForm.valid" type="submit" (click)="submit($event)" data-close>{{newExpense?"Create":"Update"}}</button>
                                <button class="button create small float-right" style="margin-right:10px;" [disabled]="!expenseForm.valid" type="submit" (click)="submit($event);stayFlyout = true" data-close *ngIf="newExpense">Create and New</button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </section>
    </div>
</div>

<div class="report-wrapper journal-flyout">
    <div class="sidenav customization-panel" [ngClass]="dimensionFlyoutCSS" foundation>
        <div class="row collapse dimension-flyout">
            <div class="small-12 medium-12 small-centered column">
                <h5>Item Details</h5>
            </div>
        </div>
        <form *ngIf="itemActive" novalidate [formGroup]="editItemForm">
            <div class="row collapse dimension-flyout">
                <div class="small-12 medium-6 columns">
                    <div class="row">
                        <div class="small-12 medium-6 column">
                            <label>Line Title
                                <input type="text" formControlName="title" placeholder="Line Title*"/>
                                <div class="error" [hidden]="editItemForm.controls.title.untouched || editItemForm.controls.title.valid">Item Title is required</div>
                            </label>
                        </div>
                        <div class="small-12 medium-6 column">
                            <label>Amount
                                <input type="text" formControlName="amount" placeholder="Amount*" numeral [format]="'$0,0.00'" [locale]="companyCurrency" [unsigned]="true"/>
                                <div class="error" [hidden]="editItemForm.controls.amount.untouched || editItemForm.controls.amount.valid">Item Amount is required</div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-6 column">
                            <label>Exp. Chart of Account
                                <select combo-box #editCOAComboBoxDir="comboBox" data-placeholder="Select Chart of Account" [listObject]="chartOfAccounts" formControlName="chart_of_account_id" (valueChanged)="setCOAForEditingItem($event)">
                                    <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="small-12 medium-6 column">
                            <label>Entity
                                <select combo-box #editEntityComboBoxDir="comboBox" data-placeholder="Select entity" [listObject]="entities" formControlName="entity_id" (valueChanged)="setEntityForEditingItem($event)">
                                    <option *ngFor="let entity of entities" [value]="entity.id">{{entity.name}}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-12 column" style="margin-top: 20px;">
                            <label>Notes
                                <textarea formControlName="notes" placeholder="Notes" style="height: 100px;"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-6 columns">
                    <label>Dimensions
                        <div class="row dimension-grids" (click)="doNothing($event)">
                            <div class="small-12 medium-4 columns dimension-grid" *ngFor="let dimension of dimensions">
                                <div class="dimension-header">
                                    <div>
                                        <span class="float-left">{{dimension.name}}</span>
                                        <span class="float-right">
                                                    <i class="icon ion-checkmark-circled" [ngClass]="{'selected': isDimensionSelected(dimension.name)}"
                                                       (click)="selectDimension($event, dimension.name)"></i>
                                                </span>
                                    </div>
                                    <div class="bottom" [ngClass]="{'selected': isDimensionSelected(dimension.name)}"></div>
                                </div>
                                <div class="dimension-values" [ngClass]="{'selected': isDimensionSelected(dimension.name)}">
                                    <div class="dimension-value" *ngFor="let value of dimension.values; let index = index;">
                                        <label (click)="selectValue($event, dimension, value)">
                                            <input type="checkbox" [checked]="isValueSelected(dimension, value)"/>{{value}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="small-12 medium-12 columns">
                    <input type="button" class="button small float-right" value="Update" (click)="saveItem()"/>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="report-wrapper report-wrapper1 mapping-buttons journal-flyout">
    <div class="sidenav customization-panel" [ngClass]="mappingFlyoutCSS" foundation>
        <div class="row chart-of-accounts" foundation>
            <div class="column large-12 medium-12 small-12 foo-container">
                <foo-table #fooTableDir="fooTable" class="bighalf-footable search-right" *ngIf="hasMappings" [data]="tableData" [options]="tableOptions" (onRowSelect)="handleSelect($event)"></foo-table>
            </div>
        </div>
        <div class="row" *ngIf="hasMappings">
            <div class="small-12 medium-12 columns">
                <input type="button" class="button small float-right" value="Next" (click)="saveMappingID()"/>
            </div>
        </div>
    </div>
</div>

<div class="reveal tiny bill-modal-container" id="expense-password-conformation" data-reveal foundation  data-close-on-click="false">
    <label>Enter Password
        <input type="password" [(ngModel)]="key"  placeholder="Password*">
    </label>
    <div class="text-right">
        <button class="button small" [disabled]="!checkValidation()" (click)="validateLockKey()">Submit</button>
        <button class="button small" (click)="closePasswordConfirmation()">Cancel</button>
    </div>
</div>