
<div class="row" foundation>
    <div class="columns small-6 small-offset-6 right">

    </div>
</div>
<div class="row financial-accounts" foundation>
    <div class="column large-12 medium-12 small-12 foo-container">
        <div class="row add-share-buttons add-share-adjust">
            <div class="column medium-12 text-right">
                <span class="pointer"  (click)="showAddAccount()"><i class="icon ion-ios-plus-outline"></i><span>Account</span></span>
                <i class="icon ion-ios-cloud-download-outline" data-toggle="export-dropdown"></i>
                <div class="dropdown-pane bottom export-dropdown" id="export-dropdown" data-dropdown data-hover="true" data-hover-pane="true" foundation >
                  <div (click)="exportToExcel()" class="export-option">Export To Excel</div>
                  <div (click)="exportToPDF()" class="export-option">Export To PDF</div>
                </div>

            </div>
        </div>
        <foo-table #fooTableDir="fooTable" class="bighalf-footable account_search" *ngIf="hasAccounts" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
    </div>
    <div class="qount-off-canvas-menu">
        <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
            <section class="flyout-placeholder">
                <div class="flyout-body flyout-shadow-effect">
                    <!--here comes actual flyout code-->
                    <div id="addAccount" #addAccount class="create-vendor">
                            <section class="form-section clearfix">
                                <form *ngIf="showFlyout" (ngSubmit)="submit($event)" [formGroup]="accountForm">
                                <div class="row">
                                    <div class="small-12 medium-12 columns">
                                        <div class="form-section-left">
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Name</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="name" placeholder="Name*"/>
                                                    <div class="error" [hidden]="accountForm.controls.name.untouched || accountForm.controls.name.valid">Name is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Account Holder Type</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <select formControlName="account_holder_type" placeholder="Account Holder Type">
                                                        <option value="company">Company</option>
                                                        <option value="individual">Individual</option>
                                                    </select>
                                                    <div class="error" [hidden]="accountForm.controls.account_holder_type.untouched || accountForm.controls.account_holder_type.valid">Type is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Type</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <select formControlName="type" placeholder="Account Holder Type" (change)="onTypeSelect($event.target.value)">
                                                        <option value="paypal">Paypal</option>
                                                        <option value="stripe">Stripe</option>
                                                        <option value="credit">Credit</option>
                                                        <option value="checking">Checking</option>
                                                        <option value="savings">Savings</option>
                                                    </select>
                                                    <div class="error" [hidden]="accountForm.controls.type.untouched || accountForm.controls.type.valid">Type is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Name on Account</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="name_on_account" placeholder="Name On Account*"/>
                                                    <div class="error" [hidden]="accountForm.controls.name_on_account.untouched || accountForm.controls.name_on_account.valid">Name on account is required.</div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="showPaymentInfo">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Routing Number</label>

                                                </div>
                                                <div class="small-6 columns" >
                                                    <input type="text" formControlName="routing_number" placeholder="Routing Number*" pattern="[0-9]{9}$" />
                                                    <div class="error" [hidden]="accountForm.controls.routing_number.untouched || accountForm.controls.routing_number.valid">Routing Number should contain 9 digits </div>                                         </div>
                                            </div>

                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Payment Info</label>
                                                </div>
                                                <div class="small-6 columns" >
                                                    <input type="checkbox" style="margin-top:5px;" formControlName="showPaymentInfo" (change)="changeShowPaymentInfo()"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-section-left">
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Chart of Account</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <select combo-box #coaComboBoxDir="comboBox" title="" data-placeholder="Enter COA" formControlName="chart_of_account_id" [listObject]="chartOfAccounts" (valueChanged)="updateChartOfAccount($event)">
                                                        <option *ngFor="let coa of chartOfAccounts" [value]="coa.id">{{coa.number}} - {{coa.name}}</option>
                                                    </select>
                                                    <div class="error" [hidden]="accountForm.controls.chart_of_account_id.untouched || accountForm.controls.chart_of_account_id.valid">COA is required</div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 15px">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Transit COA</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <select combo-box #transitCOAComboBoxDir="comboBox" title="" data-placeholder="Enter COA" formControlName="transit_chart_of_account_id" [listObject]="chartOfAccounts" (valueChanged)="updateTransitChartOfAccount($event)">
                                                        <option *ngFor="let coa of chartOfAccounts" [value]="coa.id">{{coa.number}} - {{coa.name}}</option>
                                                    </select>
                                                    <div class="error" [hidden]="accountForm.controls.transit_chart_of_account_id.untouched || accountForm.controls.transit_chart_of_account_id.valid">Transit COA is required</div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 15px">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Starting Balance</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="starting_balance" placeholder="Starting Balance" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
                                                    <div class="error" [hidden]="accountForm.controls.starting_balance.untouched || accountForm.controls.starting_balance.valid">Starting Balance is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Starting Balance Date</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" custom-datepicker [format]="dateFormat" [mindate]="'past'" (valueChanged)="setBalanceDate($event)" formControlName="starting_balance_date" placeholder="Starting Balance Date"/>
                                                    <div class="error" [hidden]="accountForm.controls.starting_balance_date.untouched || accountForm.controls.starting_balance_date.valid">Starting balance date is required.</div>
                                                </div>
                                            </div>

                                            <div class="row" *ngIf="showPaymentInfo">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Account Number</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="account_number" placeholder="Account Number*" maxlength="32"/>
                                                </div>
                                            </div>

                                            <div class="row" style="margin-top: 15px">
                                                <div class="small-10 columns">.
                                                </div>
                                            </div>

                                            <div class="row" *ngIf="importType == 'AUTO'">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Username</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="user_name" placeholder="Username"/>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="importType == 'AUTO'">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Password</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="password" formControlName="password" placeholder="Password"/>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                        <div class="row">
                            <div class="small-12 medium-12 columns">
                                <button class="button small float-right" [disabled]="!accountForm.valid && !isValid(accountForm)" (click)="submit($event)">Save</button>
                            </div>
                        </div>
                     </form>
                </section>
            </div>

                    <div style="position: relative;top:-75px;margin-left: 30px;width:250px;">
                        <label style="display: inline;margin-right: 10px;">Auto Import</label><input *ngIf="!selectedAccount?.yodlee_provider_id" type="checkbox" [(ngModel)]="showYodleeWidget"/>
                        <span *ngIf="selectedAccount?.yodlee_provider_id">

                           <a *ngIf="!toggleAutoImport" (click)="toggleAutoImport = !toggleAutoImport"><i class="ion ion-edit"></i></a>
                           <a *ngIf="toggleAutoImport" (click)="unlinkYodleeAccount()" style="font-size:0.875rem;margin-right:5px;">Unlink Account</a>
                           <a *ngIf="toggleAutoImport" (click)="toggleAutoImport = !toggleAutoImport"><i class="ion ion-close"></i></a>

                        </span>
                    </div>

                </div>

                <div class="row">
                    <div class="medium-12 columns">
                        <form id="yodleeForm" action="https://node.developer.yodlee.com/authenticate/restserver/" method="POST" target="output_frame" style="display: none;">
                            <input type="text" name="app" value="10003600" />
                            <input type="text" name="rsession" value="{{rsession}}"/>
                            <input type="text" name="token" value="{{token}}"/>
                            <input type="text" name="redirectReq" value="true"/>
                            <input type="text" name="extraParams" value="callback={{callBackUrl}}"/>
                        </form>
                        <div class="reveal" id="yodleewgt" data-reveal>
                            <button class="close-button" style="right: 1.84rem;top: 1.3rem;font-size: 2.3em;" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <iframe name="output_frame" src="" id="output_frame" width="100%" height="100%;" style="border: none;">
                            </iframe>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
