<div class="row" foundation>
  <div class="columns small-6 small-offset-6 right">

  </div>
</div>
<div class="row chart-of-accounts" foundation>
  <div class="column large-12 medium-12 small-12 foo-container">
    <div class="row add-share-buttons add-share-adjust">
      <div class="column medium-12 text-right">
            <span class="pointer" (click)="showAddLateFee()">
                <i class="icon ion-ios-plus-outline"></i>
                <span>Late Fee</span>
            </span>

      </div>
    </div>
    <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="haslateFees" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
  </div>

  <div class="qount-off-canvas-menu">
    <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
      <section class="flyout-placeholder">
        <div class="flyout-body flyout-shadow-effect">
          <!--here comes actual flyout code-->
          <div id="addLateFee" #addLateFee class="create-vendor">
            <form *ngIf="showFlyout" (ngSubmit)="submit($event)" [formGroup]="lateFeeForm">

              <section class="form-section clearfix">
                <div class="row">
                  <div class="small-12 medium-12 columns">
                    <div class="form-section-left">
                      <header class="form-section-header">Basic Info</header>
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Name</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="name" placeholder="Name*"/>
                          <div class="error" [hidden]="lateFeeForm.controls.name.untouched || lateFeeForm.controls.name.valid">Name is required.</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Description</label>
                        </div>
                        <div class="small-6 columns">
                          <textarea formControlName="description" rows="3" placeholder="Description"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Chart of Account</label>
                        </div>
                        <div class="small-6 columns">
                          <select combo-box #coaComboBoxDir="comboBox" title="" data-placeholder="Enter COA" formControlName="coa" [listObject]="chartOfAccounts" (valueChanged)="updateChartOfAccount($event)">
                            <option *ngFor="let coa of chartOfAccounts" [value]="coa.id">{{coa.number}} - {{coa.name}}</option>
                          </select>
                          <div class="error" [hidden]="lateFeeForm.controls.coa.untouched || lateFeeForm.controls.coa.valid">COA is required</div>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 1rem;">
                        <div class="small-4 columns">
                          <label class="text-right">Type</label>
                        </div>
                        <div class="small-6 columns">
                          <select formControlName="type">
                            <option value="percentage">Percentage</option>
                            <option value="flat_fee">Flat Fee</option>
                          </select>
                          <div class="error" [hidden]="lateFeeForm.controls.type.untouched || lateFeeForm.controls.type.valid">Type is required.</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Value</label>
                        </div>
                        <div class="small-6 columns custom-qount-form-field">
                          <input type="number" formControlName="value" placeholder="Value"/>
                          <div class="error" [hidden]="lateFeeForm.controls.value.untouched || lateFeeForm.controls.value.valid">Value is required.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 medium-12 columns">
                    <button class="button small float-right" [disabled]="!isValid(lateFeeForm)" (click)="submit($event)">Save</button>
                  </div>
                </div>
              </section>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
