<div class="payment-details" foundation>
    <div class="row" >
        <div class="column small-12 medium-6">
            <h5>Payments</h5>
        </div>
        <div class="columns small-6 small-offset-6 right">
            <button class="button small text-button" (click)="goToDashboard()">
                <i class="ion-ios-close-empty"></i>
            </button>
        </div>
    </div>
    <div class="row chart-of-accounts" foundation>
        <div class="column large-12 medium-12 small-12 foo-container">
            <foo-table #fooTableDir="fooTable" class="bighalf-footable search-right" *ngIf="hasPayments" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
        </div>
    </div>

    <div class="report-wrapper journal-flyout">
        <div class="sidenav customization-panel" [ngClass]="dimensionFlyoutCSS" foundation>
            <button class="close-button " data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">
                  <i class="ion-ios-close-empty" (click)="hideFlyout()"></i>
                </span>
            </button>
            <div class="row collapse dimension-flyout">
                <div class="row">
                    <div class="small-12 medium-12 small-centered column">
                        <h5>Payments Details</h5>
                    </div>
                </div>
            </div>

            <div class="payments-accordion-wrapper">
                <table class="payments-table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Number</th>
                        <th>Vendor</th>
                        <th>Amount</th>
                        <th>Paid date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let bill of bills;let i=index" style="cursor: pointer" (click)="moveToBills(bill)">
                        <td >{{bill.type=='bill'?'Bill':'Credit'}}</td>
                        <td >{{bill.sourceName}}</td>
                        <td >{{bill.vendorName}}</td>
                        <td >{{bill.amount|currency:companyCurrency:true:'1.2-2'}}</td>
                        <td >{{bill.date}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>