
<div class="row" foundation>
</div>
<div class="row" foundation>
  <div class="column large-12 medium-12 small-12">
    <div class="row add-share-buttons">
      <div class="column medium-12 text-right">
        <span class="pointer"  (click)="showCreateCredit()"><i class="icon ion-ios-plus-outline"></i><span>R&D Credit</span></span>
      </div>
    </div>

    <div style="margin:20px 0 30px 0">
      <div *ngIf="rdCredits.length>0">
        <div class="row rdCircles" *ngFor="let credits of rdCredits; let last=last;">
          <div class="column medium-1" style="padding-left: 55px">
            <div class="dec1" [style.border]="credits.color"></div>
            <div class="dec2"></div>
            <div class="dec1" *ngIf="last? true:false;" [style.border]="credits.color"></div>
          </div>
          <div class="column medium-11" style="padding-left:0px">
            <div class="row rdCredits">
              <div class="column medium-12">
                <div class="row creditInfo">
                  <div class="column medium-6 text-left">{{credits.name}}</div>
                  <div class="column medium-6 text-right" style="font-size: 0.85em">{{getDateValue(credits.date)}}</div>
                </div>
              </div>
              <div class="column medium-12 rdDescription">
                <div class="row credit-desc">
                  <div class="column medium-10">{{credits.description}}</div>
                  <div class="column medium-2 text-right">
                    <i class="icon ion-edit" (click)="showCreditForEdit(credits)"></i>
                    <i class="icon ion-trash-b" (click)="deleteCredit(credits)"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div *ngIf="rdCredits.length==0" class="text-center">No records found.</div>
    </div>
  </div>

  <div class="qount-off-canvas-menu">
    <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
      <section class="flyout-placeholder">
        <div class="flyout-body flyout-shadow-effect">
          <!--here comes actual flyout code-->
          <div #createVendor id="createVendor" class="create-vendor">
            <form *ngIf="showFlyout" (ngSubmit)="submit($event)" [formGroup]="rdCreditsForm">

              <section class="form-section clearfix">
                <div class="row">
                  <div class="small-12 medium-12 columns">
                    <div class="form-section-left">
                      <!--<header class="form-section-header">Basic Info</header>-->
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Name</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="name" placeholder="Name*">
                          <div class="error" [hidden]="rdCreditsForm.controls.name.untouched || rdCreditsForm.controls.name.valid">Name is required.</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Description</label>
                        </div>
                        <div class="small-6 columns">
                          <textarea formControlName="description" rows="3" placeholder="Description"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Amount</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="amount" placeholder="Amount" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
                          <div class="error" [hidden]="rdCreditsForm.controls.amount.untouched || rdCreditsForm.controls.amount.valid">Amount is required.</div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Year</label>
                        </div>
                        <div class="small-6 columns">
                          <select formControlName="year" data-placeholder="Select Year">
                            <option *ngFor="let year of years" [value]="year.value">{{year.name}}</option>
                          </select>
                          <div class="error" [hidden]="rdCreditsForm.controls.year.untouched || rdCreditsForm.controls.year.valid">Select Year.</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Date</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="date" custom-datepicker [format]="dateFormat" [mindate]="'past'" (valueChanged)="setDate($event)" placeholder="Date*">
                          <div class="error" [hidden]="rdCreditsForm.controls.date.untouched || rdCreditsForm.controls.date.valid">Select Date.</div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Type</label>
                        </div>
                        <div class="small-6 columns">
                          <div class="row">
                            <div class="column" style="padding-left: 0px">
                              <input checked value="Acquired" type="radio" formControlName="creditType" name="creditType"/> Acquired
                            </div>
                            <div class="column" style="padding-left: 0px">
                              <input checked value="Used" type="radio" formControlName="creditType" name="creditType"/> Used
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top:3px;">
                        <div class="small-4 columns">
                          <label class="text-right">Chart Of Account</label>
                        </div>
                        <div class="small-6 columns">
                          <select combo-box #coaComboBoxDir="comboBox" title="" data-placeholder="Enter COA" formControlName="coaId" [listObject]="chartOfAccounts" (valueChanged)="updateChartOfAccount($event)">
                            <option *ngFor="let coa of chartOfAccounts" [value]="coa.id">{{coa.number}} - {{coa.name}}</option>
                          </select>
                          <div class="error" [hidden]="rdCreditsForm.controls.coaId.untouched || rdCreditsForm.controls.coaId.valid">COA is required</div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="small-12 medium-12 columns">
                    <button class="button create small float-right" [disabled]="!rdCreditsForm.valid" type="submit" (click)="submit($event)" data-close>{{editMode?"Update":"Create"}}</button>
                  </div>
                </div>
              </section>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
