<div class="search-main">
  <div>
    <div class="row chart-margin" *ngIf="showCriteria">
      <div class="small-12 medium-12 columns">
        <ul class="searchbar">
          <li>
            <input name="checkbox1" id="checkbox1" type="checkbox" [(ngModel)]="bill" [ngClass]="isCompSelected('bill')" value="Bill"  (click)="selectComponent('bill')"><label for="checkbox1" style="margin-left:0;">Bill</label>

            <div class="check"></div>
          </li>

          <li>
            <input name="checkbox2" id="checkbox2" type="checkbox" [(ngModel)]="expense" [ngClass]="isCompSelected('expense')" value="Expense"  (click)="selectComponent('expense')"><label for="checkbox2">Expense</label>

            <div class="check"><div class="inside"></div></div>
          </li>

          <li>
            <input name="checkbox3" id="checkbox3" type="checkbox" [(ngModel)]="deposit" [ngClass]="isCompSelected('deposit')" value="Deposit"  (click)="selectComponent('deposit')"><label for="checkbox3">Deposit</label>

            <div class="check"><div class="inside"></div></div>
          </li>
          <li>
            <input name="checkbox4" id="checkbox4" type="checkbox" [(ngModel)]="journal" [ngClass]="isCompSelected('journal')" value="Journal"  (click)="selectComponent('journal')"><label for="checkbox4">Journal</label>

            <div class="check"><div class="inside"></div></div>
          </li>
          <li>
            <input name="checkbox5" id="checkbox5" type="checkbox" [(ngModel)]="payment" [ngClass]="isCompSelected('payment')" value="Payments"  (click)="selectComponent('payment')"><label for="checkbox5">Payments</label>
            <div class="check"><div class="inside"></div></div>
          </li>
          <li>
            <input name="checkbox6" id="checkbox6" type="checkbox" [(ngModel)]="invoice" [ngClass]="isCompSelected('invoice')" value="Invoices"  (click)="selectComponent('invoice')"><label for="checkbox6">Invoices</label>
            <div class="check"><div class="inside"></div></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-2 columns">
        <label>Amount </label>
      </div>
      <div class="small-12 medium-3 columns">
        <div class="amount select">
          <select [(ngModel)]="amountCondition">
            <!--<option value=""></option>-->
            <option value="greaterthan">Greater Than</option>
            <option value="lessthan">Less Than</option>
            <option value="equals">Equals</option>
            <option value="between">Between</option>
          </select>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="small-12 medium-12 columns between" [hidden]="amountCondition == 'between'">
          <div class="small-12 medium-12 columns">
            <input type="text" [(ngModel)]="amount" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
          </div>
        </div>
        <div class="small-12 medium-12 columns between" [hidden]="amountCondition != 'between'">
          <div class="small-12 medium-5 columns">
            <input type="text" [(ngModel)]="lowerLimit" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
          </div>
          <div class="small-12 medium-2 columns text-center">and</div>
          <div class="small-12 medium-5 columns">
            <input type="text" [(ngModel)]="upperLimit" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-2 columns">
        <label>Title/Number/Notes </label>
      </div>
      <div class="small-12 medium-3 columns">
        <div class="amount select">
          <select [(ngModel)]="textCondition">
            <option value=""></option>
            <option value="beginsWith">Begins With</option>
            <option value="endsWith">Ends With</option>
            <option value="contains">Contains</option>
          </select>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="small-12 medium-12 columns between">
          <div class="small-12 medium-12 columns">
            <input type="text" [(ngModel)]="text" placeholder="Enter value"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-2 columns">
        <label>Date  </label>
      </div>
      <div class="small-12 medium-3 columns">
        <div class="amount select">
          <select [(ngModel)]="dateCondition">
            <option value=""></option>
            <option value="equals">Equals</option>
            <option value="before">Before</option>
            <option value="after">After</option>
            <option value="between">Between</option>
          </select>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="small-12 medium-12 columns between" [hidden]="dateCondition == 'between'">
          <div class="small-12 medium-12 columns">
            <input type="text" [(ngModel)]="date" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setDate($event, 'date')" placeholder="Date"/>
          </div>
        </div>
        <div class="small-12 medium-12 columns between" [hidden]="dateCondition != 'between'">
          <div class="small-12 medium-5 columns">
            <input type="text" [(ngModel)]="beginDate" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setDate($event, 'beginDate')" placeholder="Begin Date"/>
          </div>
          <div class="small-12 medium-2 columns text-center">and</div>
          <div class="small-12 medium-5 columns">
            <input type="text" [(ngModel)]="endDate" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setDate($event, 'endDate')" placeholder="End Date"/>
          </div>
        </div>
      </div>

    </div>
    <div class="row chart-margin">
      <div class="small-12 medium-2 columns">
        <label>Chart of Accounts </label>
      </div>
      <div class="small-12 medium-7 columns" style="padding-right:43px">
        <div class="amount">
          <select combo-box #coaComboBoxDir="comboBox" data-placeholder="Select COA" [listObject]="chartOfAccounts" (valueChanged)="setChartOfAccount($event)">
            <option *ngFor="let account of chartOfAccounts" [value]="account.id">{{account.name}}</option>
          </select>
        </div>
      </div>

    </div>
    <div class="row chart-margin">
      <div class="small-12 medium-2 columns">
        <label>Vendors </label>
      </div>
      <div class="small-12 medium-7 columns" style="padding-right:43px">
        <div class="amount selectedcheckbox">
          <select combo-box #vendorComboBoxDir="comboBox" data-placeholder="Select Vendor" [listObject]="vendors" (valueChanged)="setVendor($event)">
            <option *ngFor="let vendor of vendors" [value]="vendor.id">{{vendor.name}}</option>
          </select>
        </div>
      </div>

    </div>
    <div class="row chart-margin">
      <div class="small-12 medium-2 columns">
        <label>Customers </label>
      </div>
      <div class="small-12 medium-7 columns" style="padding-right:43px">
        <div class="amount selectedcheckbox">
          <select combo-box #customerComboBoxDir="comboBox" data-placeholder="Select Customer" [listObject]="customers" (valueChanged)="setCustomer($event)">
            <option *ngFor="let customer of customers" [value]="customer.customer_id">{{customer.customer_name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row chart-margin">
      <div class="small-12 medium-2 columns">
        <label>Dimensions </label>
      </div>
      <div class="small-12 medium-3 columns">
        <div class="amount select">
          <select [(ngModel)]="selectedDimension" (change)="setDimension($event.target.value)">
            <option *ngFor="let dimension of dimensions" value="{{dimension.name}}">{{dimension.name}}</option>
          </select>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="small-12 medium-12 columns between">
          <div class="small-12 medium-12 columns">
            <select [(ngModel)]="selectedValue" (change)="setDimensionValue($event.target.value)">
              <option value=""></option>
              <option *ngFor="let value of dimensionValues" value="{{value}}">{{value}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-2 large-2 columns"></div>
      <div class="column small-12 medium-10 large-10 search-coa-list">
                  <span class="radius secondary label" *ngFor="let value of selectedValues;let i = index">
                    <span class="pointer float-right" (click)="removeSelectedValue(i)">
                      <i class="icon ion-close-round"></i>
                    </span>
                    <span class="float-right">{{value.value}}</span>
                  </span>
      </div>
    </div>
    <div class="row chart-margin">
      <div class="columns small-12 text-right">
        <button class="button small" (click)="doSearch()">Search</button>
      </div>
    </div>
  </div>
    <!--<div class="row" *ngIf="hasSearchResults" [hidden]="!showtable">
        <div class="column large-12 medium-12 small-12 foo-container">
            <foo-table #fooTableDir="fooTable" [ngClass]='{"search-right": true}' class="bighalf-footable" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
        </div>
    </div>-->
</div>
