<ul class="side-nav" data-accordion-menu foundation>
  <li>
    <a ripple [ngClass]="{'collapsed': !expanded, 'selectedNav': isDashboard}" (click)="showPage('dashboard')"><i foundation class="icon ion-ios-keypad has-tip" data-allow-overlap="true" aria-haspopup="true" [ngClass]="{'iconColor': isDashboard}" data-position="right" data-alignment="top" data-tooltip data-disable-hover="false" title="Dashboard"></i><div class="name">Dashboard</div></a>
  </li>

  <li>
    <a ripple [ngClass]="{'collapsed': !expanded, 'selectedNav': isBooks}" (click)="showPage('books')"><i foundation class="icon glyphicon glyphicon-book has-tip" data-allow-overlap="true" [ngClass]="{'iconColor': isBooks}" data-tooltip  data-position="right" data-alignment="top" data-click-open="false" data-disable-hover="false" title="Books"></i><div class="name">Books</div></a>
  </li>
  <li>
    <a ripple [ngClass]="{'collapsed': !expanded, 'selectedNav': isInvoice}" (click)="showPage('invoice')"><i foundation class="icon fa fa-file-text has-tip" data-allow-overlap="true" [ngClass]="{'iconColor': isInvoice}" data-tooltip data-position="right" data-alignment="top" data-click-open="false" data-disable-hover="false" title="Invoices"></i><div class="name">Invoices</div></a>
  </li>
  <li>
    <a ripple [ngClass]="{'collapsed': !expanded, 'selectedNav': isPayments}" (click)="showPage('payments')"><i foundation class="icon fa fa-credit-card has-tip" data-allow-overlap="true" [ngClass]="{'iconColor': isPayments}" data-tooltip data-position="right" data-alignment="top" data-click-open="false" data-disable-hover="false" title="Payments"></i><div class="name">Payments</div></a>
  </li>
  <!--<li>-->
  <!--<a ripple [ngClass]="{'collapsed': !expanded, 'selectedNav': isExpenses}" (click)="showPage('expenses')"><i foundation class="icon fa fa-money" [ngClass]="{'iconColor': isExpenses}" data-tooltip  data-click-open="false" data-disable-hover="false" title="Expenses"></i><div class="name">Expenses</div></a>-->
  <!--</li>-->
  <li>
    <a ripple [ngClass]="{'collapsed': !expanded, 'selectedNav': isTaxes}" (click)="showPage('taxes')"><i foundation class="icon fa fa-calendar has-tip" data-allow-overlap="true" [ngClass]="{'iconColor': isTaxes}" data-tooltip data-position="right" data-alignment="top" data-click-open="false" data-disable-hover="false" title="Tax"></i><div class="name">Tax</div></a>
  </li>
  <li>
    <a ripple [ngClass]="{'collapsed': !expanded, 'selectedNav': isReports}" (click)="showPage('report')"><i foundation class="icon glyphicon glyphicon-signal has-tip" data-allow-overlap="true" [ngClass]="{'iconColor': isReports}" data-tooltip data-position="right" data-alignment="top" data-click-open="false" data-disable-hover="false" title="Report"></i><div class="name">Report</div></a>
  </li>
  <li>
    <a ripple [ngClass]="{'collapsed': !expanded, 'selectedNav': isTools}" (click)="showPage('tools')"><i foundation style="font-size: 1.4em !important;" class="icon ion-wrench has-tip" data-allow-overlap="true" [ngClass]="{'iconColor': isTools}" data-tooltip data-position="right" data-alignment="top" data-click-open="false" data-disable-hover="false" title="Tools"></i><div class="name">Tools</div></a>
  </li>
  <li>
    <a ripple [ngClass]="{'collapsed': !expanded, 'selectedNav': isCollaboration}" (click)="showPage('collaboration')"><i foundation style="font-size: 1.4em !important;" class="material-icons pointer" data-allow-overlap="true" [ngClass]="{'iconColor': isTools}" data-tooltip data-position="right" data-alignment="top" data-click-open="false" data-disable-hover="false" title="Collaboration Wall">comment</i><div class="name">Collaboration</div></a>
  </li>
</ul>
