<div class="row post comments" style="margin-left:20px;" *ngFor="let comment of comments;">
  <div class="medium-12">
    <div class="row post-user">
      <div class="round" style="float: left;margin-right: 10px;padding: 2px 5px 0;height: 32px;">
        {{comment.user.firstName.charAt(0)}}{{comment.user.lastName.charAt(0)}}
      </div>
      <!--<div class="medium-1" style="max-width: 35px;margin-right:10px;"><div class="round">{{comment.user.firstName.charAt(0)}}{{comment.user.lastName.charAt(0)}}</div></div>-->
      <div class="medium-10">
        <span class="user">{{comment.user.firstName}}</span><span class="user">{{comment.user.lastName}}</span>
        <span>{{comment.message}}</span>
      </div>
      <div class="column text-right update-dropdown">
        <i class="fa fa-ellipsis-h" aria-hidden="true" attr.data-toggle="export-dropdown-subcommentupdate{{comment.id}}"></i>
        <div class="dropdown-pane bottom export-dropdown" id="export-dropdown-subcommentupdate{{comment.id}}" data-dropdown data-hover="true" data-hover-pane="true" foundation>
          <div class="export-option text-left pointer" *ngFor="let option of updateOptions; let i = index;" (click)="handleCommentAction(option,comment.id,comment.postID)">
            {{option}}
          </div>
        </div>
      </div>
    </div>
    <div class="row post-body" *ngIf="comment.documentName">
      <div class="column medium-4 attachment">
        <div class="row">
          <div class="column medium-1">
            <i class="material-icons commonColor1">attachment</i>
          </div>
          <div class="column medium-9 commonColor2 text-center">
            <div class="attachment_name">{{comment.documentName}}</div>
          </div>
          <div class="medium-1" (click)="downloadDocument(comment.documentID)">
            <i class="material-icons commonColor1">file_download</i>
          </div>
        </div>
      </div>
      <div class="column medium-6"></div>
    </div>
    <div class="row post-body">
      <div class="column medium-11">
        <span class="likeOptions commonColor1" (click)="like(comment.id,'comment')" *ngIf="!comment.likedByUser">Like</span>
        <span class="likeOptions commonColor2" (click)="unLike(comment.id)" *ngIf="comment.likedByUser">Like</span>
        <span class="likeSeparator likeOptions commonColor1">.</span>
        <span class="likeOptions commonColor1" (click)="showCommentInput(comment.id)" [ngClass] = "selectedCommentInput === 'comment_'+comment.id ?'commonColor2' : 'commonColor1'">Reply</span>
        <span class="likeSeparator likeOptions commonColor2">.</span>
        <span class="likeOptions commonColor2">{{getCommentTime(comment.createdDate)}}</span>
        <span class="likeOptions commonColor2" [style.right]="getRight(i)" *ngFor="let badge of comment.badges; let i = index;">
                  <a href="javascript:void (0)" class="button comment-status" [style.background-color]="getColor(badge)">{{badge}}</a>
                </span>
      </div>
      <div class="column medium-1 text-right">
      </div>
    </div>
    <div class="row" id="comment_{{comment.id}}" *ngIf="selectedCommentInput === 'comment_'+comment.id" style="background-color: #F6F7F9;padding-bottom:10px;padding-top: 20px;">
      <div class="column medium-12">
        <div class="row">
          <div class="column medium-12">
            <div class="round" style="float: left;margin-right: 10px;margin-left:7px;padding: 2px 5px 0;">
              {{user.first_name.charAt(0)}}{{user.last_name.charAt(0)}}
            </div>
            <div class="inputContainer" style="    bottom: 5px;position: relative;">
              <div style="flex-grow: 1;min-width: 0;word-break: break-word;">
                <textarea placeholder="Write A comment..." (keyup.enter)="onSubCommentEnter($event,comment.postID,comment.id)"></textarea>
              </div>
              <div class="inputAttachments">
                <span><i class="material-icons">insert_emoticon</i></span>
                <span class="float-left">
                      <label for="nativeFileUpload{{comment.id}}" class="button upload_button">
                        <span><i class="material-icons">attach_file</i></span>
                      </label>
                      <input type="file" id="nativeFileUpload{{comment.id}}" (change)="startUpload($event)" value="null" class="show-for-sr" ng2FileSelect [uploader]="uploader" multiple/>
                    </span>

                <span class="float-left new-comment">
                          <div attr.data-toggle="export-dropdown{{comment.id}}" (mouseenter)="updateBadges([])">
                            <i class="material-icons">dns</i>
                          </div>
                          <div class="dropdown-pane bottom export-dropdown badge-dropdown" id="export-dropdown{{comment.id}}" data-dropdown data-hover="true" data-hover-pane="true" foundation>
                            <div class="export-option" [style.background-color]="badge.color" *ngFor="let badge of badges; let i = index;">
                              <span><i class="material-icons">{{badge.icon}}</i></span>
                              <span>{{badge.name}}</span>
                              <span class="task-check float-right">
                        <input type="checkbox" class="checkbox" name="badgeOptions" [(ngModel)]="badge.selected">
                      </span>
                            </div>
                          </div>
                        </span>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <sub-comment [data]="comment.children" *ngIf="comment.children.length>0"></sub-comment>
  </div>
</div>
