<div class="row" foundation>
  <div class="column large-12 medium-12 small-12 foo-container">
    <div class="row add-share-buttons add-share-adjust" [style.visibility]="showDownloadIcon">
      <div class="column medium-12 text-right">
        <span class="pointer" (click)="showCreateVendor()">
          <i class="icon ion-ios-plus-outline"></i><span>Sub Customer</span>
        </span>
        <span class="footable-download">
          <i class="icon ion-ios-cloud-download-outline" data-toggle="export-dropdown"></i>
          <div class="dropdown-pane bottom export-dropdown" id="export-dropdown" data-dropdown data-hover="true" data-hover-pane="true" foundation >
            <div (click)="exportToExcel()" class="export-option pointer">Export To Excel</div>
            <div (click)="exportToPDF()" class="export-option pointer">Export To PDF</div>
          </div>
        </span>
      </div>
    </div>
    <foo-table #fooTableDir="fooTable" class="bills-footable" *ngIf="hasSubCustomersList" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
  </div>
  <div class="qount-off-canvas-menu">
    <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
      <section class="flyout-placeholder">
        <div class="flyout-body flyout-shadow-effect">
          <!--here comes actual flyout code-->
          <div #createVendor id="createVendor" class="create-vendor">
            <form *ngIf="showFlyout" (ngSubmit)="submit($event)" [formGroup]="subCustomerForm">

              <section class="form-section clearfix">

                <div class="row">
                  <div class="column medium-6" style="margin-left: 0.8rem;font-size: 14pt;color: #878787;">
                    Customer Details
                  </div>
                </div>
                <div class="row" style="margin-top: 1rem;">
                  <div class="small-12 medium-8 columns">
                    <div class="row">
                      <div class="column medium-6">
                        <label>Customer Name*
                          <input type="text" formControlName="customer_name"/>
                        </label>
                      </div>
                      <div class="column medium-1">

                      </div>
                      <div class="column medium-3">
                        <label>Ein*
                          <input type="text" formControlName="customer_ein"/>
                        </label>
                      </div>
                      <div class="column medium-3">
                        <label>COA*
                          <select combo-box #coaComboBoxDir="comboBox" title="" data-placeholder="Enter COA" formControlName="coa" [listObject]="chartOfAccounts" (valueChanged)="showCOA($event)">
                            <option *ngFor="let coa of chartOfAccounts" [value]="coa.name">{{coa.number}} - {{coa.name}}</option>
                          </select>
                        </label>
                      </div>
                      <div class="column medium-3">
                        <label>Country*
                          <select combo-box #vendorCountryComboBoxDir="comboBox" title="" data-placeholder="Enter Country" formControlName="customer_country" [listObject]="countries" (valueChanged)="showVendorProvince($event)">
                            <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                          </select>
                        </label>
                      </div>
                      <div class="column medium-1">

                      </div>
                      <div class="column medium-3">
                        <label>Terms*
                          <select formControlName="term" placeholder="Terms">
                            <option [value]="'net30'">Net 30</option>
                            <option [value]="'net45'">Net 45</option>
                            <option [value]="'net60'">Net 60</option>
                            <option [value]="'net30'">Net 90</option>
                            <option [value]="'custom'">Custom</option>
                          </select>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr style="max-width: 51rem;margin-left: 1rem;">
                <div class="row">
                  <div class="column medium-6" style="margin-left: 0.8rem;font-size: 14pt;color: #878787;">
                    Contact Details
                  </div>
                </div>
                <div class="row" style="margin-top: 1rem">
                  <div class="small-12 medium-8 columns" formArrayName="customer_contact_details">
                    <div class="row" *ngFor="let contactLine of subCustomerForm.controls.customer_contact_details.controls;let index=index;">
                      <div class="column medium-3">
                        <label>First Name*
                          <input type="text" [formControl]="contactLine.controls.first_name"/>
                        </label>
                      </div>
                      <div class="column medium-3">
                        <label>Last Name*
                          <input type="text" [formControl]="contactLine.controls.last_name"/>
                        </label>
                      </div>
                      <div class="column medium-1">

                      </div>
                      <div class="column medium-3">
                        <label>Mobile*
                          <input type="text" [formControl]="contactLine.controls.mobile"/>
                        </label>
                      </div>
                      <div class="column medium-6" style="margin-top: 1rem">
                        <label>Email*
                          <input type="text" [formControl]="contactLine.controls.email"/>
                        </label>
                      </div>
                      <div class="column medium-1">

                      </div>
                      <div class="column medium-3"  style="margin-top: 1rem">
                        <label>Office/Other
                          <input type="text" [formControl]="contactLine.controls.other"/>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-left: 1rem;">
                  <div>
                    <a (click)="addContactList()"><i class="icon ion-ios-plus-outline"></i> Add Secondary Contact</a>
                  </div>
                </div>
                <hr style="max-width: 51rem;margin-left: 1rem;">
                <div class="row">
                  <div class="column medium-6" style="margin-left: 0.8rem;font-size: 14pt;color: #878787;">
                    Address Details
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 medium-8 columns">
                    <div class="row">
                      <div class="column medium-6">
                        <label>Street1*
                          <input type="text" formControlName="street_1"/>
                        </label>

                      </div>
                      <div class="column medium-1">

                      </div>
                      <div class="column medium-3">
                        <label>Phone*
                          <input type="text" formControlName="phone_number"/>
                        </label>
                      </div>
                      <div class="column medium-6">
                        <label>
                          Street2
                          <input type="text" formControlName="street_2"/>
                        </label>
                      </div>
                      <div class="column medium-1">

                      </div>
                      <div class="column medium-3">
                        <label>Fax
                          <input type="text" formControlName="fax"/>
                        </label>
                      </div>
                      <div class="column medium-3">
                        <label>City*
                          <input type="text" formControlName="customer_city"/>
                        </label>
                      </div>
                      <div class="column medium-3">
                        <label>State/Province*
                          <input type="text" formControlName="customer_state"/>
                        </label>
                      </div>
                      <div class="column medium-1"></div>
                      <div class="column medium-3">
                        <label>Zip/Postal Code*
                          <input type="text" formControlName="customer_zipcode"/>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" style="margin-bottom:2rem;margin-top:1rem;">
                  <div class="small-12 medium-8 columns">
                    <div class="row">
                      <div class="small-4 medium-7 columns">
                      </div>
                      <div class="small-4 medium-2 columns">
                        <button class="button small" style="height: 45px;background-color: white !important;color: #878787;font-size: 14px;" (click)="hideFlyout()">Cancel</button>
                      </div>
                      <div class="small-2 medium-3 columns">
                        <button  class="button create small" style="width: 140px;height: 44px;font-size: 14px;" [disabled]="!subCustomerForm.valid" type="submit" (click)="submit($event)" data-close>{{editMode?"Update":"Add"}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
