<div class="qount-flyout SwitchCompany-reveal">
    <div class="column large-12 medium-12 small-12">
        <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasCompanyList" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
    </div>

    <button class="close-button " data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">
            <i class="ion-ios-close-empty"></i>
          </span>
    </button>
</div>

