<div class="user-profile-div">
  <div class="row">
    <div class="large-12 columns">
      <a class="ion-ios-close-empty user-profile-close-button" aria-label="Close" (click)="goToDashboard()"></a>
      <div class="user-profile-heading">Account Profile
      </div>
      <div class="user-profile-inputs large-9 columns">
        <label class="user-profile-label">First Name</label>
        <input class="user-profile-input-field" id="firstName" [(ngModel)]="user.firstName"/>
        <label class="user-profile-label">Last Name</label>
        <input class="user-profile-input-field" id="lastName" [(ngModel)]="user.lastName"/>
        <label class="user-profile-label">Phone Number</label>
        <input class="user-profile-input-field" id="phoneNumber" [(ngModel)]="user.phoneNumber"/>
        <label class="user-profile-label">Email</label>
        <input class="user-profile-input-field" id="email" [(ngModel)]="user.id"/>
        <label class="user-profile-label">Current Password</label>
        <input class="user-profile-input-field" id="currentPassword" type="password"/>
        <label class="user-profile-label">New Password</label>
        <input class="user-profile-input-field" id="newPassword" type="password"/>
        <div class="user-profile-progress-div">
          <div class="user-profile-progress-bar" id="progressBar"></div>
          <div class="user-profile-progress-space1-bar user-profile-progress-space-bar">&nbsp;&nbsp;</div>
          <div class="user-profile-progress-space2-bar user-profile-progress-space-bar">&nbsp;&nbsp;</div>
          <div class="user-profile-progress-space3-bar user-profile-progress-space-bar">&nbsp;&nbsp;</div>
        </div>
        <div class="user-profile-password-strength-label" id="passwordStrengthLabel"></div>
      </div>
      <div class="user-profile-image large-3 columns">
        <div class="user-profile-photo">
          <h1 class="user-profile-photo-label">{{initial}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row user-profile-action-buttons-row">
    <div class="large-2 columns"></div>
    <div class="large-8 columns"></div>
    <div class="large-2 columns">
      <button class="button large user-profile-save-button user-profile-action-button" id="saveChanges" (click)="saveChanges()" ripple>
        Save
      </button>
    </div>
  </div>
</div>
