<div foundation>
  <section class="reportheader">
    <header>
      <div class="columns small-12 right" [hidden]="!hideReportForm" >
        <button class="button small text-button" (click)="backToSearch()">
          <i class="ion-ios-close-empty"></i>
        </button>
      </div>
    </header>
  </section>
  <div class="report-wrapper">
    <report-search-criteria [reportName]="'Bill Payment History'" [reportDesc]="'Provides summary  of bills, credits payments  types with vendor and period level information.'"
                            [hideReportForm]="hideReportForm" [setReportType]="'paymentHistory'" class="reportheader"></report-search-criteria>

    <div [hidden]="!hideReportForm" class="printable-area" style="width:95%;" *ngIf="isDisplay" id="printableArea">
      <div class="columns report-icon-header">
        <div class="icon-wrapper" [hidden]="printmode">
          <span class="report-name">Bill Payment History</span>
          <span class="float-right icons">
            <i class="icon ion-ios-email-outline" (click)="openemail()"></i>
            <i class="icon ion-ios-cloud-download-outline" data-toggle="example-dropdown"></i>
            <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true" foundation>
              <ul>
                <li (click)="exportToExcel()" [hidden]="printmode"><a>Export To Excel</a></li>
                <li (click)="exportToPDF()" ><a id="pdf">Export To PDF</a></li>
              </ul>
            </div>
            <i class="icon ion-ios-printer-outline" data-open="printModal"></i>
          </span>
        </div>
      </div>
      <div class="columns display-report" *ngIf="isSuccess">
        <div style="text-align: center;padding-top: 10px;">
          <div [ngClass]="customObj.customizations.headerAlignment">
            <template [ngIf]="customObj.customizations.includeCompanyName">
              <span>
                <img src="./images/logo.png" [hidden]="!printmodes"/>
              </span>
              <span>
                <h4 class="report-heading ap-aging-report-heading">{{companyName}}</h4>
              </span>
            </template>
            <h5 class="report-heading ap-aging-report-heading" *ngIf="customObj.customizations.includeReportTitle">{{reportName}}</h5>
            <h6 class="report-heading ap-aging-report-heading" *ngIf="customObj.customizations.includeReportPeriod">As of {{displayDate}}</h6>
          </div>
          <table id="ap-aging-report-table">
            <thead>
            <tr>
              <th *ngFor="let column of columns" [innerHTML]="column"></th>
            </tr>
            </thead>
            <tbody >
              <tr *ngFor="let res of results;let i=index">
                <td *ngFor="let column of columns;let j=index" [ngClass]="{red: isNegativeValue(res[column])}">
                  {{res[column]}}
                </td>
              </tr>
            </tbody>
          </table>
          <footer [ngClass]="customObj.customizations.footerAlignment">
            <span *ngIf="customObj.customizations.includeDatePrepared">{{datePrepared}}</span>
            <span *ngIf="customObj.customizations.includeTimePrepared">{{timePrepared}}</span>
          </footer>
        </div>
      </div>
      <div class="columns report-failure" *ngIf="isFailure">
        <div style="text-align: center;padding-top: 10px;">
          <h4 class="report-heading">{{companyName}}</h4>
          <h5 class="report-heading">A/P Aging Summary</h5>
          <h6 class="report-heading">As of {{displayDate}}</h6>
          <div class="failure-text">This report does not contain any data.</div>
        </div>
      </div>
    </div>
    <div class="reveal large bill-modal-container print-modal" id="printModal" data-reveal data-close-on-click="false" data-animation-in="ease-in" data-animation-out="ease-out">
      <div class="row print-wrapper">
        <div class="col third">
          <select (change)="onChange($event.target.value)">
            <option value="Landscape">Landscape</option>
            <option value="Potrait">Potrait</option>
          </select>
        </div>
        <div class="col half" id="sucess">
          <div class="columns display-report" *ngIf="isSuccess">
            <div style="text-align: center;padding-top: 10px;">
              <div [ngClass]="customObj.customizations.headerAlignment">
                <template [ngIf]="customObj.customizations.includeCompanyName">
              <span>
                <img src="./images/logo.png" [hidden]="!printmodes"/>
              </span>
                  <span>
                <h4 class="report-heading">{{companyName}}</h4>
              </span>
                </template>
                <h5 class="report-heading" *ngIf="customObj.customizations.includeReportTitle">{{reportName}}</h5>
                <h6 class="report-heading" *ngIf="customObj.customizations.includeReportPeriod">As of {{displayDate}}</h6>
              </div>
              <table>
                <thead>
                <tr>
                  <th *ngFor="let column of columns" [innerHTML]="column"></th>
                </tr>
                </thead>
                <tbody >
                <tr *ngFor="let res of results;let i=index">
                  <td *ngFor="let column of columns;let j=index" [ngClass]="{red: isNegativeValue(res[column])}">
                    {{res[column]}}
                  </td>
                </tr>
                </tbody>
              </table>
              <footer [ngClass]="customObj.customizations.footerAlignment">
                <span *ngIf="customObj.customizations.includeDatePrepared">{{datePrepared}}</span>
                <span *ngIf="customObj.customizations.includeTimePrepared">{{timePrepared}}</span>
              </footer>
            </div>
            <button class="button float-right" (click)="printDiv()">Print</button>
          </div>
          <div class="columns report-failure" *ngIf="isFailure">
            <div style="text-align: center;padding-top: 10px;">
              <h4 class="report-heading">{{companyName}}</h4>
              <h5 class="report-heading">A/P Aging Summary</h5>
              <h6 class="report-heading">As of {{displayDate}}</h6>
              <div class="failure-text">This report does not contain any data.</div>
            </div>
          </div>
        </div>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>
    <!--<div id="displayReport">
    <div class="columns display-report" *ngIf="isSuccess">
      <div style="text-align: center;padding-top: 10px;">
        <div [ngClass]="customObj.customizations.headerAlignment">
          <template [ngIf]="customObj.customizations.includeCompanyName">
              <span>
                <img src="./images/logo.png" [hidden]="!printmodes"/>
              </span>
            <span>
                <h4 class="report-heading">{{companyName}}</h4>
              </span>
          </template>
          <h5 class="report-heading" *ngIf="customObj.customizations.includeReportTitle">{{reportName}}</h5>
          <h6 class="report-heading" *ngIf="customObj.customizations.includeReportPeriod">As of {{displayDate}}</h6>
        </div>
        <table>
          <thead>
          <tr>
            <th *ngFor="let column of columns" [innerHTML]="column"></th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let res of results;let i=index">
            <td *ngFor="let column of columns;let j=index" [ngClass]="{red: isNegativeValue(res[column])}">
              {{res[column]}}
            </td>
          </tr>
          </tbody>
        </table>
        <footer [ngClass]="customObj.customizations.footerAlignment">
          <span *ngIf="customObj.customizations.includeDatePrepared">{{datePrepared}}</span>
          <span *ngIf="customObj.customizations.includeTimePrepared">{{timePrepared}}</span>
        </footer>
      </div>
    </div>
      <div class="columns report-failure" *ngIf="isFailure">
        <div style="text-align: center;padding-top: 10px;">
          <h4 class="report-heading">{{companyName}}</h4>
          <h5 class="report-heading">A/P Aging Summary</h5>
          <h6 class="report-heading">As of {{displayDate}}</h6>
          <div class="failure-text">This report does not contain any data.</div>
        </div>
      </div>
      </div>-->
    <div class="reveal medium bill-modal-container" #reportMail id="EmailModal" style="width: 900px;height:700px;" data-reveal data-close-on-click="false" data-animation-in="ease-in" data-animation-out="ease-out">
      <form (ngSubmit)="doEmail($event)" novalidate [formGroup]="emailForm">
        <div class="row">
          <div style="font-size: larger;font-weight: 800">Email Report</div>
        </div>
        <div class="row">
          <pre><label for="ToAddress" style="font-weight: 700;margin-top: 20px;">To    </label><br /></pre>
          <div class="small-16 columns" style="margin-top: 20px;">
            <input formControlName="Toaddress" id="Toaddress" [tagsList]="[]" class="bighalf-tags,input, empty" name="name" type="text" value="" size="30" custom-tags /><br />
          </div>
        </div>
        <div class="row" *ngIf="showEmail">
          <pre><label for="cc" style="font-weight: 700">CC    </label><br /></pre>
          <div class="small-16 columns">
            <input formControlName="cc" id="cc" [tagsList]="emailAddress"  class="bighalf-tags,input, empty" name="email" type="text" size="30" custom-tags /><br />
          </div>
        </div>
        <div class="row">
          <pre><label for="Emailsubject" style="font-weight: 700">Subject</label><br /></pre>
          <div class="small-16 columns">
            <input formControlName="Emailsubject" id="Emailsubject" class="input" name="email" type="text" value="Your A/P Aging Summary" size="30" /><br />
          </div>
        </div>
        <div class="row">
          <pre><label style="font-weight: 700">Body   </label><br /></pre>
          <div class="small-16 columns">
        <textarea formControlName="EmailBody" rows="7" cols="50"  id="EmailBody">
Hello, &#13;&#10;
Attached is A/P Aging Summary &#13;&#10;
Regards,&#13;&#10;
{{user.firstName}} {{user.lastName}}
</textarea><br />
          </div>
        </div>
        <div class="row">
          <pre><label for="report" style="font-weight:bolder">Report </label><br /></pre>
          <div class="small-16 columns">
            <input id="report" class="input" name="Report" type="text" value="A/P Aging Summary report" size="30" /><br />
          </div>
        </div>
        <!--<button id="cancel_button" class="button" data-close aria-label="Close modal" style="float: left" >Cancel</button>-->
        <button class="button" style="float: right;" type="submit" data-close>Send</button>
      </form>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
