
<div class="row" foundation>
  <div class="column small-12 medium-6">
    <h6>Chart of Accounts</h6>
  </div>
  <div class="columns small-6 small-offset-6 right">

  </div>
</div>
<div class="row chart-of-accounts" foundation>
  <div class="column large-12 medium-12 small-12 foo-container">
    <div class="foo-toolbar">
      <button class="button small" (click)="showAddCOA()"><i class="icon ion-plus-round"></i> COA</button>
    </div>
    <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasCOAList" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
  </div>
  <div>
    <div class="small reveal" id="addCOA" #addCOA data-reveal data-close-on-click="false" style="min-height: 90%;">
      <h6>
        {{editMode ? "Update COA" : "Add COA"}}
      </h6>
      <form *ngIf="newFormActive" [formGroup]="coaForm">
        <div class="row">
          <div class="small-12 medium-6 columns">
            <label>Name
              <input type="text" formControlName="name" placeholder="Name*"/>
              <div class="error" [hidden]="coaForm.controls.name.untouched || coaForm.controls.name.valid">Name is required.</div>
            </label>
            <label>Number
              <input type="text" formControlName="number" placeholder="Number*"/>
              <div class="error" [hidden]="coaForm.controls.number.untouched || coaForm.controls.number.valid">Number is required.</div>
            </label>
          </div>
          <div class="small-12 medium-6 columns">
            <label>Description
              <textarea formControlName="desc" style="height: 110px;" placeholder="Description"></textarea>
              <div class="error" [hidden]="coaForm.controls.desc.untouched || coaForm.controls.desc.valid">Description is required.</div>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 columns">
            <label>Type
              <i class="icon ion-ios-information-outline type-info" data-tooltip aria-haspopup="true" data-click-open="false" data-disable-hover="false" title="You can't change the type and subtype untill it has a parent."></i>
              <select formControlName="type" placeholder="Category type" *ngIf="!hasParentOrChild" (change)="populateSubtypes($event)">
                <option *ngFor="let category of categoryTypes" [value]="category.value">{{category.name}}</option>
              </select>
              <select formControlName="type" disabled *ngIf="hasParentOrChild">
                <option *ngFor="let category of categoryTypes" [value]="category.value">{{category.name}}</option>
              </select>
              <div class="error" [hidden]="coaForm.controls.type.untouched || coaForm.controls.type.valid">Category type is required.</div>
            </label>
          </div>
          <div class="small-12 medium-6 columns">
            <label>Sub type
              <select formControlName="subType" placeholder="Sub type" *ngIf="!hasParentOrChild" (change)="selectSubtype($event)">
                <option value="{{subtype.value}}" *ngFor="let subtype of displaySubtypes">{{subtype.name}}</option>
              </select>
              <select formControlName="subType" disabled *ngIf="hasParentOrChild">
                <option value="{{subtype.value}}" *ngFor="let subtype of displaySubtypes">{{subtype.name}}</option>
              </select>
              <div class="error" [hidden]="coaForm.controls.subType.untouched || coaForm.controls.subType.valid">Sub type is required.</div>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 columns description" [innerHTML]="description">
          </div>
          <div class="small-12 medium-6 columns">
            <div class="subaccount-wrapper">
              <input type="checkbox" formControlName="subAccount" (change)="changeStatus()"/>
              <span>Sub Account</span>
            </div>
            <div [hidden]="!subAccount" *ngIf="combo" >
              <select combo-box #parentAccountComboBoxDir="comboBox" data-placeholder="Enter parent account" formControlName="parentID" [listObject]="parentAccounts" (valueChanged)="updateParent($event)">
                <option *ngFor="let parentAccount of parentAccounts" [value]="parentAccount.id">{{parentAccount.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row save-btn float-right">
          <div class="columns">
            <button class="button small float-right" [disabled]="!coaForm.valid" (click)="saveCOA($event)">Save</button>
          </div>
        </div>
      </form>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
