<div foundation>
<div class="row">
  <div class="column small-12 medium-6">
    <h6>Companies</h6>
  </div>
  <div class="column small-12 medium-6 text-right">
    <a [routerLink]="['/addCompany']" class="button small"><i class="icon ion-plus-round"></i>Company</a>
  </div>
</div>
<!--<div class="row">
  <div class="name">{{currentCompanyName}}
    <i class="icon ion-ios-arrow-down" (click)="showCompaniesDropdown($event)" data-toggle="switchCompany1"></i>
  </div>
</div>-->
  <div class="row">
    <div class="column small-3 medium-2">
      <label> Change a company
        <select [(ngModel)]="companyName" (change)="changeCompany($event.target.value)">
          <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
        </select>
      </label>
    </div>
  </div>
<div class="row">
  <div class="column large-12 medium-12 small-12">

    <foo-table class="bighalf-footable" *ngIf="hasCompanyList" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)">
    </foo-table>
  </div>
</div>

<div class="dropdown-pane bottom float-left" id="switchCompany1" data-dropdown>
  <span>Switch to:</span>
  <ul>
    <li *ngFor="let company of companies" (click)="changeCompany(company.id)" [hidden]="company.id == currentCompanyId">{{company.name}}</li>
  </ul>
</div>
</div>
