
<div class="row">
  <div class="column small-12 medium-6">
    <h6>Companies</h6>
  </div>
  <div class="column small-12 medium-6 text-right">
    <a [routerLink]="['/addCompany']" class="button small"><i class="icon ion-plus-round"></i>Company</a>
  </div>
</div>
<div class="row">
  <div class="column large-12 medium-12 small-12">

    <foo-table class="bighalf-footable" *ngIf="hasCompanyList" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)">
    </foo-table>
  </div>
</div>
