<div foundation>
<div class="row">
  <div class="column small-12 medium-6">
    <h5>Companies</h5>
  </div>
  <div class="column small-12 medium-6 text-right">

  </div>
</div>
  <!--<div class="row">
    <div class="column small-3 medium-2">
      <label> Change a company
        <select [(ngModel)]="companyName" (change)="changeCompany($event.target.value)">
          <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
        </select>
      </label>
    </div>
  </div>-->
<div class="row">
  <div class="column large-12 medium-12 small-12 foo-container">
    <div class="foo-toolbar">
     <a [routerLink]="['/addCompany']" class="button small" [hidden]="!isAdmin"><i class="icon ion-plus-round"></i>Company</a>
    </div>
    <foo-table class="bighalf-footable" *ngIf="hasCompanyList" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)">
    </foo-table>
  </div>
</div>
</div>
