<div class="row collapsed qount-custom-tag" >
  <div class="small-12 custom-tag-div" [formGroup]="group">
      <input class="new-item-input" name="newItem" type="{{inputType}}"
             (keydown.enter)="addItem($event)" placeholder="{{placeholder}}">
      <input class="new-item-input" name="{{controlName}}" [formControlName]="controlName" type="hidden">
    <ul [style.height]="height">
      <li class="item" *ngFor="let item of _list | filterByValue:newItem; let i = index;">
        <span class=" desc-item" title="{{item}}">{{item}}</span>
        <span class="remove-item float-right" (click)="removeItem(i)"><i class="ion-trash-b"></i></span>
      </li>
    </ul>
  </div>
</div>
