
<div class="row" foundation>
    <div class="column small-12 medium-6">
        <h5>Dimensions</h5>
    </div>
    <div class="columns small-6 small-offset-6 right">

    </div>
</div>
<div class="row chart-of-accounts" foundation>
    <div class="column large-12 medium-12 small-12 foo-container">
        <div class="foo-toolbar">
            <button class="button small" (click)="showAddDimension()"><i class="icon ion-plus-round"></i> Dimension</button>
        </div>
        <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasDimensions" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
    </div>
    <div>
        <div class="small reveal" id="addDimension" #addDimension data-reveal data-close-on-click="false">
            <h6>
                {{editMode ? "Update Dimension" : "Add Dimension"}}
            </h6>
            <form *ngIf="newFormActive" [formGroup]="dimensionForm">
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <div class="row">
                            <div class="small-12 medium-12 columns">
                                <label>Name
                                    <input type="text" formControlName="name" placeholder="Name*"/>
                                    <div class="error" [hidden]="dimensionForm.controls.name.untouched || dimensionForm.controls.name.valid">Name is required.</div>
                                </label>
                            </div>
                            <div class="small-12 medium-12 columns">
                                <label>Description
                                    <textarea formControlName="desc" style="height: 110px;" placeholder="Description"></textarea>
                                    <div class="error" [hidden]="dimensionForm.controls.desc.untouched || dimensionForm.controls.desc.valid">Description is required.</div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <div class="row">
                            <div class="small-12 medium-12 columns">
                                <label>Value
                                    <ul class="bighalf-tags" id="dimensionValues"  type="text" [tagsList]="tempValues" custom-tags></ul>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="small-12 medium-12 columns">
                        <button class="button small float-right" [disabled]="!dimensionForm.valid" (click)="submit($event)">Save</button>
                    </div>
                </div>
            </form>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
