
<div class="row" foundation>
    <div class="column small-12 medium-6">
        <h5>Dimensions</h5>
    </div>
    <div class="columns small-6 small-offset-6 right">

    </div>
</div>
<div class="row chart-of-accounts" foundation>
    <div class="column large-12 medium-12 small-12 foo-container">
        <div class="foo-toolbar">
            <button class="button small" (click)="showAddDimension()"><i class="icon ion-plus-round"></i> Dimension</button>
        </div>
        <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasDimensions" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
    </div>
    <div class="qount-off-canvas-menu">
        <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
            <section class="flyout-placeholder">
                <header class="flyout-header">
                    <h6>{{editMode ? "Update Dimension" : "Add Dimension"}}</h6>
                </header>
                <div class="flyout-body flyout-shadow-effect">
                    <!--here comes actual flyout code-->
                    <div #addDimension id="addDimension" class="create-vendor">
                        <form *ngIf="showFlyout" (ngSubmit)="submit($event)" [formGroup]="dimensionForm">

                            <section class="form-section clearfix">
                                <div class="row">
                                    <div class="small-12 medium-12 columns">
                                        <div class="form-section-left">
                                            <header class="form-section-header">Basic Info</header>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Name</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="name" placeholder="Name*"/>
                                                    <div class="error" [hidden]="dimensionForm.controls.name.untouched || dimensionForm.controls.name.valid">Name is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Description</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <textarea formControlName="desc" rows="3" placeholder="Description"></textarea>
                                                    <div class="error" [hidden]="dimensionForm.controls.desc.untouched || dimensionForm.controls.desc.valid">Description is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Value</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <ul class="bighalf-tags" id="dimensionValues"  type="text" [tagsList]="tempValues" custom-tags></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-section-left">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-12 medium-12 columns">
                                        <button class="button small float-right" [disabled]="!dimensionForm.valid" (click)="submit($event)">Save</button>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
                <button class="close-flyout" aria-label="Close modal" type="button" (click)="hideFlyout()">
                <span aria-hidden="true">
                  <i class="ion-ios-close-empty"></i>
                </span>
                </button>
            </section>
        </div>
    </div>
</div>
