    <div class="qount-off-canvas-menu">
        <div class="flyout expanded" [ngClass]="{'expanded':true}">
            <section class="flyout-placeholder">
                <header class="flyout-header">
                    <h6> {{newExpense ? "Create Expense" : "Update expense"}}</h6>
                </header>
                <div class="flyout-body flyout-shadow-effect">
                    <form (ngSubmit)="submit($event)" [formGroup]="expenseForm">
                        <section class="form-section clearfix">
                            <div class="row">
                                <div class="small-12 medium-12 columns">
                                    <div class="form-section-left">
                                        <header class="form-section-header">Expense Info</header>
                                        <div class="row">
                                            <div class="small-4 columns">
                                                <label class="text-right">Title</label>
                                            </div>
                                            <div class="small-6 columns">
                                                <input type="text" formControlName="title" placeholder="Title*"/>
                                                <div class="error" [hidden]="expenseForm.controls.title.untouched || expenseForm.controls.title.valid">Expense Title is required</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="small-4 columns">
                                                <label class="text-right">Due Date</label>
                                            </div>
                                            <div class="small-6 columns">
                                                <input type="text" custom-datepicker [format]="'MM/DD/YYYY'" (valueChanged)="setDueDate($event)" formControlName="due_date" placeholder="Due Date*">
                                                <div class="error" [hidden]="expenseForm.controls.due_date.untouched || expenseForm.controls.due_date.valid">Due Date is required</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="small-4 columns">
                                                <label class="text-right">Amount</label>
                                            </div>
                                            <div class="small-6 columns">
                                                <input type="text" formControlName="amount" placeholder="Amount*"/>
                                                <div class="error" [hidden]="expenseForm.controls.amount.untouched || expenseForm.controls.amount.valid">Amount is required</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="small-4 columns">
                                                <label class="text-right">Bank Account</label>
                                            </div>
                                            <div class="small-6 columns custom-qount-form-field">
                                                <select combo-box #accountComboBoxDir="comboBox" data-placeholder="Select Account" [listObject]="accounts" formControlName="bank_account_id" (valueChanged)="setBankAccount($event)">
                                                    <option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
                                                </select>
                                                <div class="error" [hidden]="expenseForm.controls.bank_account_id.untouched || expenseForm.controls.bank_account_id.valid">Please select bank account</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="small-4 columns">
                                            </div>
                                            <div class="small-6 columns custom-qount-form-field">
                                                <div class="switch tiny">
                                                    <input class="switch-input" id="isPaid" type="checkbox" formControlName="is_paid" (change)="togglePaidStatus($event)"/>
                                                    <label class="switch-paddle" for="isPaid">
                                                        <span class="show-for-sr">Paid status switch</span>
                                                    </label>
                                                </div> Is already Paid?
                                                <div class="error" [hidden]="expenseForm.controls.is_paid.untouched || expenseForm.controls.is_paid.valid">Please paid status</div>
                                            </div>
                                        </div>
                                        <div class="row" [hidden]="!isExpensePaid">
                                            <div class="small-4 columns">
                                                Paid date
                                            </div>
                                            <div class="small-6 columns custom-qount-form-field">
                                                <input type="text" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setPaidDate($event)" formControlName="paid_date" placeholder="Paid Date*">
                                                <div class="error" [hidden]="expenseForm.controls.paid_date.untouched || expenseForm.controls.paid_date.valid">Paid date is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-section-left">
                                        <header class="form-section-header">Expense Items Info</header>
                                        <div class="text-right">
                                            <span (click)="addNewItem()">
                                                <i class="icon ion-ios-plus-outline"></i> Item
                                            </span>
                                        </div>
                                        <div formArrayName="expense_items" *ngIf="expenseForm.controls.expense_items.controls.length != 0">
                                            <div class="row" *ngFor="let itemForm of expenseForm.controls.expense_items.controls;let index=index;" (dblclick)="editItem(itemForm)">
                                                <div *ngIf="!itemForm.editable">
                                                    {{itemForm.controls.title.value}} -
                                                    {{itemForm.controls.amount.value}} -
                                                    {{itemForm.controls.chart_of_account_id.value}} -
                                                    {{itemForm.controls.vendor_id.value}} -
                                                    {{itemForm.controls.notes.value}}
                                                </div>
                                                <div *ngIf="itemForm.editable">
                                                    <input type="text" [formControl]="itemForm.controls.title"/>
                                                    <input type="text" [formControl]="itemForm.controls.amount"/>
                                                    <select id="coa-{{index}}" combo-box data-placeholder="Select Chart of Account" [listObject]="chartOfAccounts" [formControl]="itemForm.controls.chart_of_account_id" (valueChanged)="setCOA($event, index)">
                                                        <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.name}}</option>
                                                    </select>
                                                    <select id="vendor-{{index}}" combo-box data-placeholder="Select Vendor" [listObject]="vendors" [formControl]="itemForm.controls.vendor_id" (valueChanged)="setVendor($event, index)">
                                                        <option *ngFor="let vendor of vendors" [value]="vendor.id">{{vendor.name}}</option>
                                                    </select>
                                                    <textarea [formControl]="itemForm.controls.title"></textarea>
                                                    <span (click)="updateItem(itemForm)">
                                                        <i class="icon ion-edit"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="addNewItemFlag">
                                            <form (ngSubmit)="submit($event)" [formGroup]="newLineForm">
                                                <label>Title
                                                    <input type="text" formControlName="title"/>
                                                </label>
                                                <label>Amount
                                                    <input type="text" formControlName="amount"/>
                                                </label>
                                                <label>Chart Of account
                                                    <select combo-box #newCOAComboBoxDir="comboBox" data-placeholder="Select Chart of Account" [listObject]="chartOfAccounts" formControlName="chart_of_account_id" (valueChanged)="setCOAForNewItem($event)">
                                                        <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.name}}</option>
                                                    </select>
                                                </label>
                                                <label>Vendor
                                                    <select combo-box #newVendorComboBoxDir="comboBox" data-placeholder="Select Vendor" [listObject]="vendors" formControlName="vendor_id" (valueChanged)="setVendorForNewItem($event)">
                                                        <option *ngFor="let vendor of vendors" [value]="vendor.id">{{vendor.name}}</option>
                                                    </select>
                                                </label>
                                                <label>Notes
                                                    <textarea formControlName="notes"></textarea>
                                                </label>
                                            </form>
                                        </div>
                                        <div *ngIf="expenseForm.controls.expense_items.controls.length == 0 || addNewItemFlag">
                                            <div class="text-center">
                                                No expense items
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
                <button class="close-flyout" aria-label="Close modal" type="button" (click)="showExpensesPage()">
                    <span aria-hidden="true">
                      <i class="ion-ios-close-empty"></i>
                    </span>
                </button>
            </section>
        </div>
    </div>