
<div class="row" foundation>
    <div class="column small-12 medium-6">
        <h5>Financial Accounts</h5>
    </div>
    <div class="columns small-6 small-offset-6 right">

    </div>
</div>
<div class="row financial-accounts" foundation>
    <div class="column large-12 medium-12 small-12 foo-container">
        <div class="foo-toolbar">
            <button class="button small" (click)="showAddAccount()"><i class="icon ion-plus-round"></i> Account</button>
        </div>
        <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasAccounts" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
    </div>
    <div class="qount-off-canvas-menu">
        <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
            <section class="flyout-placeholder">
                <header class="flyout-header">
                    <h6> {{editMode ? "Update Account" : "Add Account"}}</h6>
                </header>
                <div class="flyout-body flyout-shadow-effect">
                    <!--here comes actual flyout code-->
                    <div id="addAccount" #addAccount class="create-vendor">
                        <form *ngIf="showFlyout" (ngSubmit)="submit($event)" [formGroup]="accountForm">

                            <section class="form-section clearfix">
                                <div class="row">
                                    <div class="small-12 medium-12 columns">
                                        <!--<div class="row">
                                            <div class="small-12 medium-8 large-centered columns">
                                                <div class="row">
                                                    <div class="small-12 medium-6 columns">
                                                        <input type="radio" name="importType" formControlName="importType" value="AUTO" (click)="setImportType('AUTO')"/><label>Auto Import</label>
                                                    </div>
                                                    <div class="small-12 medium-6 columns">
                                                        <input type="radio" name="importType" formControlName="importType" value="MANUAL" (click)="setImportType('MANUAL')"/><label>Manual Import</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="form-section-left">
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Name</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="name" placeholder="Name*"/>
                                                    <div class="error" [hidden]="accountForm.controls.name.untouched || accountForm.controls.name.valid">Name is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Select bank</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <select formControlName="bank_id">
                                                        <option *ngFor="let bank of banks;" value="{{bank.id}}">{{bank.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Account Holder Type</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <select formControlName="account_holder_type" placeholder="Account Holder Type">
                                                        <option value="company">Company</option>
                                                        <option value="individual">Individual</option>
                                                    </select>
                                                    <div class="error" [hidden]="accountForm.controls.account_holder_type.untouched || accountForm.controls.account_holder_type.valid">Type is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Type</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <select formControlName="type" placeholder="Account Holder Type">
                                                        <option value="paypal">Paypal</option>
                                                        <option value="stripe">Stripe</option>
                                                        <option value="credit">Credit</option>
                                                        <option value="checking">Checking</option>
                                                        <option value="savings">Savings</option>
                                                    </select>
                                                    <div class="error" [hidden]="accountForm.controls.type.untouched || accountForm.controls.type.valid">Type is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Name on Account</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="signatory" placeholder="Name On Account*"/>
                                                    <div class="error" [hidden]="accountForm.controls.signatory.untouched || accountForm.controls.signatory.valid">Signatory is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Routing Number</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="routing_number" placeholder="Routing Number*"/>
                                                    <div class="error" [hidden]="accountForm.controls.routing_number.untouched || accountForm.controls.routing_number.valid">Routing number is required.</div>
                                                </div>
                                            </div>
                                            <div class="row" >
                                                <div class="small-4 columns">
                                                    <label class="text-right">Account Number</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="account_number" placeholder="Account Number*"/>
                                                    <div class="error" [hidden]="accountForm.controls.account_number.untouched || accountForm.controls.account_number.valid">Account number is required.</div>
                                                </div>
                                            </div>


                                            <!--<div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right"></label>
                                                </div>
                                                <div class="small-6 columns custom-qount-form-field">
                                                    <input type="checkbox" formControlName="is_payment_accout_type" /> Payment Account
                                                    <div class="error" [hidden]="accountForm.controls.is_payment_accout_type.untouched || accountForm.controls.is_payment_accout_type.valid">Payment type is required</div>
                                                </div>
                                            </div>-->


                                        </div>

                                        <div class="form-section-left">
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Chart of Account</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <select combo-box #coaComboBoxDir="comboBox" title="" data-placeholder="Enter COA" formControlName="chart_of_account_id" [listObject]="chartOfAccounts" (valueChanged)="updateChartOfAccount($event)">
                                                        <option *ngFor="let coa of chartOfAccounts" [value]="coa.id">{{coa.number}} - {{coa.name}}</option>
                                                    </select>
                                                    <div class="error" [hidden]="accountForm.controls.chart_of_account_id.untouched || accountForm.controls.chart_of_account_id.valid">COA is required</div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 15px">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Transit COA</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <select combo-box #transitCOAComboBoxDir="comboBox" title="" data-placeholder="Enter COA" formControlName="transit_chart_of_account_id" [listObject]="chartOfAccounts" (valueChanged)="updateTransitChartOfAccount($event)">
                                                        <option *ngFor="let coa of chartOfAccounts" [value]="coa.id">{{coa.number}} - {{coa.name}}</option>
                                                    </select>
                                                    <div class="error" [hidden]="accountForm.controls.transit_chart_of_account_id.untouched || accountForm.controls.transit_chart_of_account_id.valid">Transit COA is required</div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 15px">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Starting Balance</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="starting_balance" placeholder="Starting Balance"/>
                                                    <div class="error" [hidden]="accountForm.controls.starting_balance.untouched || accountForm.controls.starting_balance.valid">Starting Balance is required.</div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 15px">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Starting Balance Date</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setBalanceDate($event)" formControlName="starting_balance_date" placeholder="Starting Balance Date"/>
                                                    <div class="error" [hidden]="accountForm.controls.starting_balance_date.untouched || accountForm.controls.starting_balance_date.valid">Starting balance date is required.</div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 15px">
                                                <div class="small-10 columns">.
                                                </div>
                                            </div>

                                            <div class="row" *ngIf="importType == 'AUTO'">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Username</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="user_name" placeholder="Username"/>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="importType == 'AUTO'">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Password</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="password" formControlName="password" placeholder="Password"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-12 medium-12 columns">
                                        <button class="button small float-right" [disabled]="!accountForm.valid && isValid(accountForm)" (click)="submit($event)">Save</button>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
                <button class="close-flyout" aria-label="Close modal" type="button" (click)="hideFlyout()">
                <span aria-hidden="true">
                  <i class="ion-ios-close-empty"></i>
                </span>
                </button>
            </section>
        </div>
    </div>
</div>
