
<div class="row" foundation>
    <div class="column small-12 medium-6">
        <h5>Financial Accounts</h5>
    </div>
    <div class="columns small-6 small-offset-6 right">

    </div>
</div>
<div class="row financial-accounts" foundation>
    <div class="column large-12 medium-12 small-12 foo-container">
        <div class="foo-toolbar">
            <button class="button small" (click)="showAddAccount()"><i class="icon ion-plus-round"></i> Account</button>
        </div>
        <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasAccounts" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
    </div>
    <div>
        <div class="small reveal" id="addAccount" #addAccount data-reveal data-close-on-click="false">
            <h6>
                {{editMode ? "Update Account" : "Add Account"}}
            </h6>
            <form *ngIf="newFormActive" [formGroup]="accountForm">
                <div class="row">
                    <div class="small-12 medium-8 large-centered columns">
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <input type="radio" name="importType" formControlName="importType" value="AUTO" (click)="setImportType('AUTO')"/><label>Auto Import</label>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <input type="radio" name="importType" formControlName="importType" value="MANUAL" (click)="setImportType('MANUAL')"/><label>Manual Import</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>Name
                            <input type="text" formControlName="name" placeholder="Name*"/>
                            <div class="error" [hidden]="accountForm.controls.name.untouched || accountForm.controls.name.valid">Name is required.</div>
                        </label>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <label>Starting Balance
                            <input type="text" formControlName="starting_balance" placeholder="Starting Balance"/>
                            <div class="error" [hidden]="accountForm.controls.starting_balance.untouched || accountForm.controls.starting_balance.valid">Starting Balance is required.</div>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>Select bank
                            <select formControlName="id">
                                <option *ngFor="let bank of banks;" value="{{bank.id}}">{{bank.name}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <label>Starting Balance Date
                            <input type="text" custom-datepicker [format]="'DD/MM/YYYY'" [mindate]="'past'" (valueChanged)="setBalanceDate($event)" formControlName="starting_balance_date" placeholder="Starting Balance Date"/>
                            <div class="error" [hidden]="accountForm.controls.starting_balance_date.untouched || accountForm.controls.starting_balance_date.valid">Date is required.</div>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>Username
                            <input type="text" disabled *ngIf="importType != 'AUTO'"/>
                            <input type="text" formControlName="user_name" *ngIf="importType == 'AUTO'" placeholder="Username"/>
                        </label>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <label>Password
                            <input type="text" disabled *ngIf="importType != 'AUTO'"/>
                            <input type="password" formControlName="password" *ngIf="importType == 'AUTO'" placeholder="Password"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns"></div>
                    <div class="small-12 medium-6 columns">
                        <input type="checkbox" id="credit-account" formControlName="is_credit_account"/><label for="credit-account">Credit Account</label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-12 columns">
                        <button class="button small float-right" [disabled]="!accountForm.valid && isValid(accountForm)" (click)="submit($event)">Save</button>
                    </div>
                </div>
            </form>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
