<div [formGroup]="addressForm">

    <div class="column small-12 medium-4 large-4">
        <label>Address
            <div>
                <input type="text" formControlName="customer_address" placeholder="Address*" />
                <div class="error" [hidden]="addressForm.controls.customer_address.untouched || addressForm.controls.customer_address.valid">Customer Address is required.</div>
            </div>
        </label>
    </div>
    <div class="column small-12 medium-4 large-3">
        <label>City
            <div>
                <input type="text" formControlName="customer_city" placeholder="City*"/>
                <div class="error" [hidden]="addressForm.controls.customer_city.untouched || addressForm.controls.customer_city.valid">City is required.</div>
            </div>
        </label>
    </div>
    <div class="column small-12 medium-4 large-3">
        <label>State
            <div>
                <input type="text" formControlName="customer_state" placeholder="State*"/>
                <div class="error" [hidden]="addressForm.controls.customer_state.untouched || addressForm.controls.customer_state.valid">State is required.</div>
            </div>
        </label>
    </div>
    <div class="column small-12 medium-2 large-2">
        <label>Pin Code
            <div>
                <input type="text" formControlName="customer_zipcode" placeholder="Zip Code*"/>
                <div class="error" [hidden]="addressForm.controls.customer_zipcode.untouched || addressForm.controls.customer_zipcode.valid">Pin code is required.</div>
            </div>
        </label>
    </div>

</div>
