<div class="address-component" [formGroup]="addressForm">
    <div class="column small-12 medium-4 large-4">
        <label>Address
            <div>
                <input type="text" formControlName="line" placeholder="Address*" />
                <div class="error" [hidden]="addressForm.controls.line.untouched || addressForm.controls.line.valid">Customer Address is required.</div>
            </div>
        </label>
    </div>
    <div class="column small-12 medium-4 large-3">
        <label>City
            <div>
                <input type="text" formControlName="city" placeholder="City*"/>
                <div class="error" [hidden]="addressForm.controls.city.untouched || addressForm.controls.city.valid">City is required.</div>
            </div>
        </label>
    </div>
    <div class="column small-12 medium-4 large-3">
        <label>State
            <div>
                <input type="text" formControlName="state" placeholder="State*"/>
                <div class="error" [hidden]="addressForm.controls.state.untouched || addressForm.controls.state.valid">State is required.</div>
            </div>
        </label>
    </div>
    <div class="column small-12 medium-2 large-2">
        <label>Pin Code
            <div>
                <input type="text" formControlName="pincode" placeholder="Pin Code*"/>
                <div class="error" [hidden]="addressForm.controls.pincode.untouched || addressForm.controls.pincode.valid">Pin code is required.</div>
            </div>
        </label>
    </div>
    <div class="small-12 medium-4 columns">
        <label>Phone Number
            <div>
                <input type="text" formControlName="phone_number" placeholder="Phone Number*"/>
                <div class="error" [hidden]="addressForm.controls.phone_number.untouched || addressForm.controls.phone_number.valid">Phone number is required.</div>
            </div>
        </label>
    </div>
    <div class="small-12 medium-4 columns">

    </div>
</div>
