<div class="address-component" [formGroup]="addressForm">
    <div class="row">
        <div class="small-3 columns">
            <label class="text-right middle">Address</label>
        </div>
        <div class="small-6 columns">
            <input type="text" formControlName="line" placeholder="Address*" />
            <div class="error" [hidden]="addressForm.controls.line.untouched || addressForm.controls.line.valid">Customer Address is required</div>
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <label class="text-right">City</label>
        </div>
        <div class="small-6 columns">
            <input type="text" formControlName="city" placeholder="City*"/>
            <div class="error" [hidden]="addressForm.controls.city.untouched || addressForm.controls.city.valid">City is required</div>
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <label class="text-right">State</label>
        </div>
        <div class="small-6 columns">
            <input type="text" formControlName="state" placeholder="State*"/>
            <div class="error" [hidden]="addressForm.controls.state.untouched || addressForm.controls.state.valid">State is required</div>
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <label class="text-right">Pin Code</label>
        </div>
        <div class="small-6 columns">
            <input type="text" formControlName="pincode" placeholder="Pin Code*"/>
            <div class="error" [hidden]="addressForm.controls.pincode.untouched || addressForm.controls.pincode.valid">Pin code is required</div>
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <label class="text-right">Phone Number</label>
        </div>
        <div class="small-6 columns">
            <input type="text" formControlName="phone_number" placeholder="Phone Number*"/>
            <div class="error" [hidden]="addressForm.controls.phone_number.untouched || addressForm.controls.phone_number.valid">Phone number is required</div>
        </div>
    </div>
</div>
