<div class="qount-off-canvas-menu">
    <div class="flyout expanded" [ngClass]="{'expanded':true}">
        <section class="flyout-placeholder">
            <header class="flyout-header">
                <h6> {{newJournalEntry ? "Create Journal Entry" : "Update Journal Entry"}}</h6>
            </header>
            <div class="flyout-body flyout-shadow-effect">
                <form *ngIf="active" (ngSubmit)="submit($event)" novalidate [formGroup]="jeForm">
                    <section class="form-section clearfix">
                        <div class="row">
                            <div class="small-12 medium-12 columns">
                                <div class="form-section-left expense-row">
                                    <header class="form-section-header">Journal Details</header>
                                    <div class="row">
                                        <div class="small-12 medium-8 columns">
                                            <div class="small-12 medium-3 columns">
                                                <label>Number
                                                    <input type="text" formControlName="number" placeholder="Journal Number*" *ngIf="!isSystemCreatedJE">
                                                    <input type="text" formControlName="number" placeholder="Journal Number*" readonly *ngIf="isSystemCreatedJE">
                                                    <div class="error" [hidden]="jeForm.controls.number.untouched || jeForm.controls.number.valid"><small>Journal Number is required.</small></div>
                                                </label>
                                            </div>
                                            <div class="small-12 medium-3 columns">
                                                <label>Category
                                                    <select formControlName="category" placeholder="Category" *ngIf="!isSystemCreatedJE">
                                                        <option value="depreciation">Depreciation, Tax Adj, Other</option>
                                                        <option value="payroll">Payroll</option>
                                                        <option value="apBalance">AP balance</option>
                                                        <option value="arBalance">AR balance</option>
                                                        <option value="inventoryBalance">Inventory Balance</option>
                                                        <option value="credit">Credit</option>
                                                        <option value="bill">Bill</option>
                                                        <option value="billPayment">Payment</option>
                                                        <option value="deposit">Deposit</option>
                                                        <option value="expense">Expense</option>
                                                    </select>
                                                    <select formControlName="category" placeholder="Category" *ngIf="isSystemCreatedJE" disabled>
                                                        <option value="depreciation">Depreciation, Tax Adj, Other</option>
                                                        <option value="payroll">Payroll</option>
                                                        <option value="apBalance">AP balance</option>
                                                        <option value="arBalance">AR balance</option>
                                                        <option value="inventoryBalance">Inventory Balance</option>
                                                        <option value="credit">Credit</option>
                                                        <option value="bill">Bill</option>
                                                        <option value="billPayment">Bill Payment</option>
                                                        <option value="deposit">Deposit</option>
                                                        <option value="expense">Expense</option>
                                                    </select>
                                                    <div class="error" [hidden]="jeForm.controls.category.untouched || jeForm.controls.category.valid"><small>Please select category.</small></div>
                                                </label>
                                            </div>
                                            <div class="small-12 medium-3 columns">
                                                <label>Date
                                                    <input type="text" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setJournalDate($event)" formControlName="date" placeholder="Journal Date*" *ngIf="!isSystemCreatedJE">
                                                    <input type="text" formControlName="date"  *ngIf="isSystemCreatedJE" readonly>
                                                    <div class="error" [hidden]="jeForm.controls.date.untouched || jeForm.controls.date.valid"><small>Enter Journal date.</small></div>
                                                </label>
                                            </div>
                                            <div class="small-12 medium-3 columns">
                                                <!--<div class="small-4 medium-3 columns">
                                                    <label>Auto Reverse
                                                        <div class="switch tiny">
                                                            <input class="switch-input" id="auto-reverse" type="checkbox" formControlName="autoReverse" (click)="toggleAutoReverse($event)"/>
                                                            <label class="switch-paddle" for="auto-reverse">
                                                                <span class="show-for-sr">Auto Reverse switch</span>
                                                            </label>
                                                        </div>
                                                        <div class="error" [hidden]="jeForm.controls.autoReverse.untouched || jeForm.controls.autoReverse.valid"><small>Please select auto reverse.</small></div>
                                                    </label>
                                                </div>
                                                <div class="small-8 medium-9 columns">
                                                </div>-->
                                                <label>Reversal Date
                                                    <input type="text" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setReversalDate($event)" formControlName="reversalDate" placeholder="Reversal Date*" *ngIf="!isSystemCreatedJE"/>
                                                    <input type="text" formControlName="reversalDate" *ngIf="isSystemCreatedJE" readonly>
                                                    <div class="error" [hidden]="jeForm.controls.autoReverse.untouched || jeForm.controls.autoReverse.valid"><small>Please select Reversal Date.</small></div>
                                                </label>
                                            </div>
                                            <div class="small-12 medium-3 columns">
                                                <label>Recurring
                                                    <div class="switch tiny">
                                                        <input class="switch-input" id="recurring" type="checkbox" formControlName="recurring" (change)="toggleRecurring($event)" *ngIf="!isSystemCreatedJE"/>
                                                        <input class="switch-input" type="checkbox" formControlName="recurring"  *ngIf="isSystemCreatedJE" readonly/>
                                                        <label class="switch-paddle" for="recurring">
                                                            <span class="show-for-sr">Recurring switch</span>
                                                        </label>
                                                    </div>
                                                    <div class="error" [hidden]="jeForm.controls.recurring.untouched || jeForm.controls.recurring.valid"><small>Recurring is required.</small></div>
                                                </label>
                                            </div>
                                            <div class="small-12 medium-3 columns">
                                                <label [hidden]="disableRecurring">Next JE Date
                                                    <input type="text" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setNextJEDate($event)" formControlName="nextJEDate" placeholder="Next JE Date*">
                                                    <div class="error" [hidden]="jeForm.controls.nextJEDate.untouched || jeForm.controls.nextJEDate.valid"><small>Next JE Date is required.</small></div>
                                                </label>
                                                <label [hidden]="!disableRecurring">Next JE Date
                                                    <input type="text" disabled placeholder="Next JE Date*"/>
                                                </label>
                                            </div>
                                            <div class="small-12 medium-3 columns">
                                                <label [hidden]="disableRecurring">Frequency
                                                    <select formControlName="recurringFrequency">
                                                        <option value="daily">Daily</option>
                                                        <option value="weekly">Weekly</option>
                                                        <option value="monthly">Monthly</option>
                                                        <option value="quarterly">Quarterly</option>
                                                        <option value="yearly">Yearly</option>
                                                    </select>
                                                    <div class="error" [hidden]="jeForm.controls.recurringFrequency.untouched || jeForm.controls.recurringFrequency.valid"><small>Please select Frequency.</small></div>
                                                </label>
                                                <label [hidden]="!disableRecurring">Frequency
                                                    <select disabled>
                                                        <option value=""></option>
                                                    </select>
                                                </label>
                                            </div>
                                            <div class="small-12 medium-3 columns">
                                                <label [hidden]="disableRecurring">End Date
                                                    <input type="text" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setEndDate($event)" formControlName="endDate" placeholder="End Date*">
                                                    <div class="error" [hidden]="jeForm.controls.endDate.untouched || jeForm.controls.endDate.valid"><small>End Date is required.</small></div>
                                                </label>
                                                <label [hidden]="!disableRecurring">End Date
                                                    <input type="text" disabled placeholder="End Date*"/>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="small-12 medium-4 columns">
                                            <label>Description
                                                <textarea formControlName="desc" style="height: 130px;" *ngIf="!isSystemCreatedJE"></textarea>
                                                <textarea formControlName="desc" style="height: 130px;" *ngIf="isSystemCreatedJE" readonly></textarea>
                                                <div class="error" [hidden]="jeForm.controls.desc.untouched || jeForm.controls.desc.valid"><small>Please enter Description.</small></div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="columns" *ngIf="!isSystemCreatedJE">
                                            <label class="float-right">
                                                <i class="icon ion-ios-plus-outline" (click)="showNewLine()"></i> Line
                                            </label>
                                        </div>
                                    </div>
                                    <table class="stack line-table">
                                        <thead>
                                            <tr>
                                                <th width="15%">Title</th>
                                                <th width="15%">COA</th>
                                                <th width="10%">Entry Type</th>
                                                <th width="10%">Amount</th>
                                                <!--<th width="17%">Memo</th>-->
                                                <th width="5%"></th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="journalLines" *ngIf="jeForm.controls.journalLines.controls.length != 0">
                                            <tr *ngFor="let lineListItem of jeForm.controls.journalLines.controls;let index=index;" (dblclick)="editLine(lineListItem, index)">
                                                <td [hidden]="lineListItem.editable">{{lineListItem.controls.title.value}}</td>
                                                <td [hidden]="!lineListItem.editable">
                                                    <input type="text" [formControl]="lineListItem.controls.title" placeholder="Title"/>
                                                </td>
                                                <td [hidden]="lineListItem.editable">{{getCOAName(lineListItem.controls.coa.value)}}</td>
                                                <td [hidden]="!lineListItem.editable">
                                                    <select id="coa-{{index}}" combo-box #coaComboBoxDir="comboBox" data-placeholder="Select COA" [listObject]="chartOfAccounts" (valueChanged)="updateLineCOA($event, index)">
                                                        <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                                                    </select>
                                                </td>
                                                <td [hidden]="lineListItem.editable">
                                                    {{lineListItem.controls.entryType.value}}
                                                </td>
                                                <td [hidden]="!lineListItem.editable">
                                                    <select [formControl]="lineListItem.controls.entryType">
                                                        <option value="Credit">Credit</option>
                                                        <option value="Debit">Debit</option>
                                                    </select>
                                                </td>
                                                <td [hidden]="lineListItem.editable">
                                                    {{lineListItem.controls.amount.value?(lineListItem.controls.amount.value|number : '1.2-2'):null}}
                                                </td>
                                                <td [hidden]="!lineListItem.editable">
                                                    <input type="text" [formControl]="lineListItem.controls.amount" placeholder="Amount" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
                                                </td>
                                                <!--<td [hidden]="lineListItem.editable">{{lineListItem.controls.memo.value}}</td>
                                                <td [hidden]="!lineListItem.editable">
                                                    <textarea [formControl]="lineListItem.controls.memo"></textarea>
                                                </td>-->
                                                <td>
                                                    <i class="icon ion-checkmark-circled" (click)="updateLine(lineListItem, index)" *ngIf="lineListItem.editable"></i>
                                                    <i class="icon ion-close" *ngIf="lineListItem.editable" (click)="toggleLineEdit(lineListItem)"></i>
                                                    <i class="icon ion-edit" *ngIf="!lineListItem.editable" (click)="showFlyout('UPDATE', index)"></i>
                                                    <i class="icon ion-ios-trash-outline" *ngIf="!lineListItem.editable && !isSystemCreatedJE" (click)="deleteLine(index)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="addNewLineFlag" [formGroup]="newJournalLineForm">
                                            <tr>
                                                <td>
                                                    <input type="text" formControlName="title"/>
                                                </td>
                                                <td>
                                                    <select combo-box #newCOAComboBoxDir="comboBox" data-placeholder="Select COA" formControlName="coa" [listObject]="chartOfAccounts" (valueChanged)="updateNewLineCOA($event)">
                                                        <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select formControlName="entryType">
                                                        <option value="Credit">Credit</option>
                                                        <option value="Debit">Debit</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="amount" placeholder="Amount" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
                                                </td>
                                                <td>
                                                    <i class="icon ion-ios-checkmark-outline" (click)="saveNewItem()"></i>
                                                    <i class="icon ion-ios-close-outline" (click)="hideNewItem()"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="jeForm.controls.journalLines.controls.length == 0 && !addNewLineFlag">
                                            <tr>
                                                <td colspan="6" class="text-center">No lines found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row" *ngIf="!newJournalEntry&&!isSystemCreatedJE">
                                        <div class="columns">
                                            <button type="submit" class="button small float-right" [disabled]="!jeForm.valid" (click)="submit($event)"><i class="icon ion-edit"></i>Journal</button>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="isSystemCreatedJE">
                                        <div class="columns">
                                            <span class="label float-right vew-only"  ><i class="icon ion-edit"></i>View Only</span>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="newJournalEntry">
                                        <div class="columns">
                                            <button type="submit" class="button small float-right" [disabled]="!jeForm.valid" (click)="submit($event)">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
                <button class="close-flyout" aria-label="Close modal" type="button" (click)="goToPreviousPage()">
                    <span aria-hidden="true">
                      <i class="ion-ios-close-empty"></i>
                    </span>
                </button>
            </div>
        </section>
    </div>
</div>
<div class="report-wrapper journal-flyout">
    <div class="sidenav customization-panel" [ngClass]="dimensionFlyoutCSS" foundation>
        <button class="close-button " data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">
              <i class="ion-ios-close-empty" (click)="hideFlyout()"></i>
            </span>
        </button>
        <div class="row collapse dimension-flyout">
            <div class="row">
                <div class="small-12 medium-12 small-centered column">
                    <h5>Line Details</h5>
                </div>
            </div>
        </div>
        <form *ngIf="lineActive" novalidate [formGroup]="lineForm">
            <div class="row collapse dimension-flyout">
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <div class="row">
                            <div class="small-12 medium-6 column">
                                <label>Title
                                    <input type="text" formControlName="title" placeholder="Title" readonly *ngIf="isSystemCreatedJE"/>
                                    <input type="text" formControlName="title" placeholder="Title" *ngIf="!isSystemCreatedJE"/>
                                </label>
                            </div>
                            <div class="small-12 medium-6 column">
                                <label [hidden]="isSystemCreatedJE">Chart of Account
                                    <select combo-box #newCoaComboBoxDir="comboBox" data-placeholder="Select COA" [listObject]="chartOfAccounts"  formControlName="coa" (valueChanged)="updateChartOfAccount($event)">
                                        <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                                    </select>
                                </label>
                                <label *ngIf="isSystemCreatedJE">Chart of Account
                                    <input type="text" placeholder="Chart of account" readonly value="{{getCOAName(lineForm.controls.coa.value)}}"/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 medium-6 column">
                                <label>Entry Type
                                    <select formControlName="entryType" disabled *ngIf="isSystemCreatedJE">
                                        <option value="Credit">Credit</option>
                                        <option value="Debit">Debit</option>
                                    </select>
                                    <select formControlName="entryType" *ngIf="!isSystemCreatedJE">
                                        <option value="Credit">Credit</option>
                                        <option value="Debit">Debit</option>
                                    </select>
                                </label>
                            </div>
                            <div class="small-12 medium-6 column">
                                <label>Amount
                                    <input type="text" placeholder="Amount" *ngIf="!isSystemCreatedJE" formControlName="amount" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
                                    <input type="text" placeholder="Amount" *ngIf="isSystemCreatedJE" readonly formControlName="amount" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 medium-12 column">
                                <label>Notes
                                    <textarea formControlName="notes" *ngIf="isSystemCreatedJE" readonly></textarea>
                                    <textarea formControlName="notes" *ngIf="!isSystemCreatedJE"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <label>Dimensions
                            <div class="row dimension-grids" (click)="doNothing($event)">
                                <div class="small-12 medium-4 columns dimension-grid" *ngFor="let dimension of dimensions">
                                    <div class="dimension-header">
                                        <div>
                                            <span class="float-left">{{dimension.name}}</span>
                                            <span class="float-right">
                                                <i class="icon ion-checkmark-circled" [ngClass]="{'selected': isDimensionSelected(dimension.name)}"
                                                   (click)="selectDimension($event, dimension.name)"></i>
                                            </span>
                                        </div>
                                        <div class="bottom" [ngClass]="{'selected': isDimensionSelected(dimension.name)}"></div>
                                    </div>
                                    <div class="dimension-values" [ngClass]="{'selected': isDimensionSelected(dimension.name)}">
                                        <div class="dimension-value" *ngFor="let value of dimension.values; let index = index;">
                                            <label (click)="selectValue($event, dimension, value)">
                                                <input type="checkbox" [checked]="isValueSelected(dimension, value)"/>{{value}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-12 columns">
                        <input *ngIf="!isSystemCreatedJE" type="button" class="button small float-right" value="Save" (click)="saveLine()"/>
                        <span *ngIf="isSystemCreatedJE" class="label float-right vew-only">View Only</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
