<div  [hidden]="!resetPasswordHidden">
  <div class="login-form-cotainer  row" [hidden]="!showLoginPage">
    <div class="column small-12 medium-6 large-5 medium-centered">
      <div class="form">
        <header>
          <div class="logo">
          </div>
          <h4>Welcome, you can log in securely below.</h4>
        </header>
        <div *ngIf="fpStatus" class="formstatus">
          <span [ngClass]="{'success': fpStatus?.success, 'error': fpStatus?.error}">{{fpMessage}}</span>
        </div>
        <form *ngIf="active" (ngSubmit)="onSubmit($event)" [formGroup]="loginForm">
          <div *ngIf="status" class="formstatus">
            <span [ngClass]="{'success': status.success, 'error': status.error}">{{message}}</span>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input formControlName="id" type="text" placeholder="Email *">
              <div class="error text-center" [hidden]="loginForm.controls.id.untouched || loginForm.controls.id.valid">
                <small>Please enter valid email address.</small>
              </div>
            </div>
            <div class="small-12 columns ">
              <input formControlName="password" type="password" placeholder="Password *">
              <div class="error text-center" [hidden]="loginForm.controls.password.untouched || loginForm.controls.password.valid">
                <small>Please enter password.</small>
              </div>
            </div>
            <div class="small-12 column">
              <input id="rememberMe" type="checkbox"><label for="rememberMe">Remember Me</label>
            </div>
          </div>
          <div class="row align-middle">
            <div class="small-6 column">
              <button type="submit" class="hollow button button-style" [disabled]="!checkValidity()"
                      [ngClass]="{'disabled' : !checkValidity()}" (click)="submit($event)">Login
              </button>
            </div>
            <div class="small-6 column help-text-links">
              <a (click)="showLoginPage = !showLoginPage">Forgot your password?</a>
            </div>
          </div>
        </form>

        <div class="footer" >Don't have a Qount account?
          <a  [routerLink]="['/signUp']" >Sign up now!</a>
        </div>
      </div>
    </div>


  </div>
  <div class="login-form-cotainer row" [hidden]="showLoginPage">
    <div class="column   small-12 medium-6 large-5 medium-centered">
    <div class="form">
      <form (ngSubmit)="changePassword($event)" [formGroup]="forgotPasswordForm">
        <header>
          <div class="logo">
          </div>
          <h6>Not to worry. Enter your email below and we'll send you instructions on how to reset your password.</h6>
        </header>

        <div class="row">
          <div class="small-12 columns">
            <input formControlName="id" type="text" placeholder="Email *"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <div class="error text-center"
                 [hidden]="forgotPasswordForm.controls.id.untouched || forgotPasswordForm.controls.id.valid">
              <small>Enter a valid email address.</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 column">
            <button type="submit" class="hollow button-style button button-style" [disabled]="!checkForgotPasswordValidity()"
                    [ngClass]="{'disabled' : !checkForgotPasswordValidity()}" (click)="changePassword($event)">Send
            </button>
          </div>
        </div>
        <div class="row">
          <div class="small-12 column footer">
            <a (click)="showLoginPage = !showLoginPage;"><i class="ion-android-arrow-back"></i> Back to Login</a>
          </div>
        </div>
      </form>


    </div>
    </div>
  </div>
</div>


<div [hidden]="resetPasswordHidden">
  <div class="login-form-cotainer row">
    <div class="column   small-12 medium-6 large-5 medium-centered">
    <div class="form">
      <div class="heading">Reset Password</div>
      <div class="row">
        <div class="small-12 columns">
          <input id="resetPassword" type="password" placeholder="Password">
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <input id="resetPasswordConfirmation" type="password"
                 placeholder="PasswordConfirmation">
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns input-group">
          <a class="button" (click)="resetPassword()">Reset password</a>
        </div>
      </div>
      <div *ngIf="fpStatus" class="formstatus">
        <span [ngClass]="{'success': fpStatus?.success, 'error': fpStatus?.error}">{{fpMessage}}</span>
      </div>
    </div>
    </div>
  </div>
</div>
