<div class="row" foundation>
    <div class="column small-12 medium-6">
        <h5>Modules</h5>
    </div>
    <div class="row tools-grids">
        <div class="column small-12 medium-12 large-12">
            <!--<div>-->
                <!--<label attr.for="moduleId-{{moduleIndex}}">-->
                    <!--<input id="modileId-{{moduleIndex}}" [(ngModel)]="module.isSelected" (click)="onModuleSelect(moduleIndex)" type="checkbox"/> {{module.name}}-->
                <!--</label>-->
            <!--</div>-->
            <!--<div class="column small-12 medium-12 large-12" *ngFor="let submodule of module.submodule;let subModuleIndex=index;">-->
                <!--<div>-->
                    <!--<label attr.for="subModuleId-{{subModuleIndex}}">-->
                        <!--<input id="subModuleId-{{subModuleIndex}}" [(ngModel)]="submodule.isSelected" (click)="onSubModuleSelect(moduleIndex, subModuleIndex)" type="checkbox" /> {{submodule.name}}-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
            <ul foundation class="accordion" data-accordion *ngIf="modulesList.length != 0" data-allow-all-closed="true" style="background-color: #EFEFEF">
                <li class="accordion-item" data-accordion-item *ngFor="let module of modulesList;let moduleIndex=index;">
                    <a class="accordion-title">
                        <label attr.for="moduleId-{{moduleIndex}}">
                        <input id="modileId-{{moduleIndex}}" [(ngModel)]="module.isSelected" (click)="onModuleSelect(moduleIndex, $event)" type="checkbox"/>{{module.name}}
                        </label>
                    </a>
                    <div class="accordion-content" data-tab-content>
                        <div *ngFor="let submodule of module.submodule;let subModuleIndex=index;" class="content active">
                            <label attr.for="subModuleId-{{subModuleIndex}}">
                                <input id="subModuleId-{{subModuleIndex}}" [(ngModel)]="submodule.isSelected" (click)="onSubModuleSelect(moduleIndex, subModuleIndex)" type="checkbox" /> {{submodule.name}}
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
    <button class="button create small "
            type="submit" (click)="submit($event)" *ngIf="isLoaded">Submit</button>
    <div>
    </div>
</div>
