<div class="payment-dashboard">
    <div style="float: right">
        <button class="close-flyout" aria-label="Close modal" type="button" (click)="hideFlyout()">
            <span aria-hidden="true">
              <i class="icon ion-ios-close-empty"></i>
            </span>
        </button>
    </div>
    <header>
        <div class="header">
            <div class="row">
                <div class="small-6" *ngIf="billstatus"><h5>{{billstate}}</h5></div>
            </div>
        </div>
    </header>
    <div class="column large-12 medium-12 small-12 foo-container chart_search">
        <div class="foo-toolbar">
        </div>
        <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasItemCodes" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
    </div>

</div>