<div foundation class="reports">
  <ul class="reports tabs" data-tabs id="report-tabs">
    <li class="reports tabs-title is-active"><a href="#recommended" aria-selected="true"><h6>Recommended</h6></a></li>
    <!--<li class="reports tabs-title"><a href="#management"><h6>Management</h6></a></li>-->
  </ul>
  <div class="reports tabs-content" data-tabs-content="report-tabs">
    <div class="reports tabs-panel is-active" id="recommended">
      <div class="row" data-equalizer data-equalize-on="medium" >
        <div class="small-12 medium-4 large-4 columns">
          <div class="report-callout" data-equalizer-watch>
            <div class="report-header">A/P Aging Summary</div>
            <div class="report-body" >Provides a sum of all unpaid bill amounts by Vendor aged into buckets of 30,60,90,120 and 120+. Helps to identify how far the vendor balances are behind payment due date.</div>
            <div class="report-footer"><span style="cursor: pointer;" (click)="goToReports('/reports/ap-aging')">Run</span></div>
          </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
          <div class="report-callout" data-equalizer-watch>
            <div class="report-header">A/P Aging Detail</div>
            <div class="report-body" >Provides a detailed list of unpaid bills and credits by Vendor aged into buckets of 30,60,90,120 and 120+. Helps to identify how far the vendor bills and credits are behind payment due date.</div>
            <div class="report-footer"><span style="cursor: pointer;" (click)="goToReports('/reports/ap-aging-details')">Run</span></div>
          </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
          <div class="report-callout" data-equalizer-watch>
            <div class="report-header">Bills and Payments Summary</div>
            <div class="report-body" >Provides summary  of bills, credits payments  types with vendor and period level information</div>
            <div class="report-footer"><span style="cursor: pointer;" (click)="goToReports('/reports/vendor-expense-amounts-by-period')">Run</span></div>
          </div>
        </div>
      </div>
      <div class="row" data-equalizer data-equalize-on="medium"  >
        <div class="small-12 medium-4 large-4 columns">
          <div class="report-callout" data-equalizer-watch>
            <div class="report-header">Bills and Payments Details</div>
            <div class="report-body" > Analysis of Bills, Payments and Credits that are Paid / Unpaid by Vendor by period</div>
            <div class="report-footer"><span style="cursor: pointer;" (click)="goToReports('/reports/vendor-paid-unpaid-bills')">Run</span></div>
          </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
          <div class="report-callout" data-equalizer-watch>
            <div class="report-header">Bills Payment History</div>
            <div class="report-body">History of bills

            </div>
            <div class="report-footer"><span style="cursor: pointer;" (click)="goToReports('/reports/bills-payment-history')">Run</span></div>
          </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
          <div class="report-callout" data-equalizer-watch>
            <div class="report-header">Expense Category Details</div>
            <div class="report-body" >Vendor expense details report bases on the expense types </div>
            <div class="report-footer"><span style="cursor: pointer;" (click)="goToReports('/reports/vendor-expense-by-expense-type')">Run</span></div>
          </div>
        </div>
      </div>
      <div class="row" data-equalizer data-equalize-on="medium"  >


        <div class="small-12 medium-4 large-4 columns">
          <div class="report-callout" data-equalizer-watch>
            <div class="report-header">Foreign Currency Report</div>
            <div class="report-body" >Provides details of bills that have been paid in foreign currency and the foreign currency gain or loss on those bills</div>
            <div class="report-footer"><span style="cursor: pointer;" (click)="goToReports('/reports/foreign-currency-report')">Run</span></div>
          </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
          <div class="report-callout" data-equalizer-watch>
            <div class="report-header">Payment Register Report</div>
            <div class="report-body" >Provides bills payment register details</div>
            <div class="report-footer"><span style="cursor: pointer;" (click)="goToReports('/reports/payment-register-report')">Run</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
