
<div class="row" foundation>
    <div class="column small-12 medium-6">
        <h5>Rules</h5>
    </div>
    <div class="columns small-6 small-offset-6 right">

    </div>
</div>
<div class="row chart-of-accounts" foundation>
    <div class="column large-12 medium-12 small-12 foo-container">
        <div class="foo-toolbar">
            <button class="button small" (click)="showAddRule()"><i class="icon ion-plus-round"></i> Rule</button>
        </div>
        <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasRuleList" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
    </div>
    <div class="qount-off-canvas-menu rule-flyout">
        <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
            <section class="flyout-placeholder">
                <header class="flyout-header">
                    <h6>{{editMode ? "Update Rule" : "Add Rule"}}</h6>
                </header>
                <div class="flyout-body flyout-shadow-effect">
                    <!--here comes actual flyout code-->
                    <section class="form-section clearfix">
                        <form *ngIf="showFlyout" novalidate [formGroup]="ruleForm">
                            <div class="row">
                                <div class="small-12 medium-12 columns">
                                    <div class="form-section-left">
                                    <header class="form-section-header">Rule</header>
                                    <div class="row">
                                        <div class="small-12 medium-12 columns rule-row">

                                            <table id="ruletable" style="width:40%;border-color:white;border:0px;border-color:white;margin-top: 10px;">
                                                <tbody style="border-color: white">
                                                <tr style="border:0px;border-color:white;">
                                                    <td><label>Type</label></td>
                                                    <td><span><input  style="margin-top:5px;" value="Expense" type="radio" formControlName="sourceType" name="sourceType"  type="radio" checked/>Expense</span></td>
                                                    <td><span><input style="margin-top:5px;"  value="Deposit" type="radio" formControlName="sourceType" name="sourceType"  type="radio" />Deposit</span></td>
                                                </tr>
                                                <tr style="border:0px;border-color:white">
                                                    <td><label style="margin-top: 21px;">Source</label></td>
                                                    <td><select style="margin-top: 15px;" formControlName="source">
                                                        <option *ngFor="let bank of banks;"  value="{{bank.name}}">{{bank.name}}</option>
                                                    </select></td>
                                                </tr>
                                                <tr style="border:0px;border-color:white">
                                                    <td><label>Title</label></td>
                                                    <td>
                                                    <select style="margin-top: 15px;" class="condition" formControlName="comparisionType">
                                                        <option *ngFor="let comparisiontype of conparisionArray;" value="{{comparisiontype}}" >{{comparisiontype}}</option>
                                                    </select>
                                                    </td>
                                                    <td>
                                                    <input style="margin-top: 15px;" type="text" class="condition-value" formControlName="comparisionValue" />
                                                    </td>
                                                </tr>
                                                <tr style="border:0px;border-color:white">
                                                    <td><label>Amount</label></td>
                                                    <td><select style="margin-top: 15px;" class="condition" formControlName="comparisionType1">
                                                        <option *ngFor="let comparisiontype of conparisionArray;" value="{{comparisiontype}}" >{{comparisiontype}}</option>
                                                    </select></td>
                                                    <td><input style="margin-top: 15px;" type="text" formControlName="comparisionValue1" class="condition-value"/>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                        </div>
                                    <div class="form-section-left"><div class="small-12 medium-12 columns rule-row">

                                        <table id="coa" style="width:60%;border-color:white;border:0px;border-color:white;margin-top:100px;">
                                            <tbody style="border-color: white">
                                            <tr>
                                            </tr>
                                            <tr></tr>
                                            <tr></tr>
                                            <tr style="border:0px;border-color:white;">
                                                <td>
                                                    <label value="chartOfAccount">Chart Of Account</label>
                                               </td>
                                                <td> <label style="margin-left: -3px;">
                                                    <select  title="" data-placeholder="Enter Chart of account" formControlName="chartOfAccount"  (valueChanged)="updateActionValue($event, index, 'chartOfAccount')">
                                                        <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.name">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                                                    </select>
                                                </label></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="actions-form" formArrayName="actions">
                                        <div class="row action-row" *ngFor="let actionForm of ruleForm.controls.actions.controls;let index=index;">
                                            <div class="small-12 medium-12 columns">
                                                <table id="coa2" style="width:60%;border-color:white;border:0px;border-color:white;">
                                                    <tbody style="border-color: white">
                                                    <tr style="border:0px;border-color:white;">
                                                        <td>
                                                    <label value="dimension" >Dimension</label>
                                                </td>
                                               <td></td>
                                                        <td></td>
                                               <td><label  class="combo-box" style="margin-right:56px;">
                                                    <select id="dimension-{{index}}" combo-box #coaComboBoxDir="comboBox" title="" data-placeholder="Enter Dimension" [formControl]="actionForm.controls.actionValue" [listObject]="dimensions" (valueChanged)="updateActionValue($event, index, 'dimension')">
                                                        <option *ngFor="let dimension of dimensions" [value]="dimension.name">{{dimension.name}}</option>
                                                    </select>
                                                </label></td>
                                                    <td>
                                                <div>
                                                <i style="margin-left:90px;" class="icon ion-trash-b" *ngIf="actions.length != 1" (click)="deleteAction(index)"></i>
                                                </div></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                        <div class="small-12 medium-12 columns">
                                    <div class="row add-action">
                                        <div class="small-2 medium-3 columns">
                                            <a (click)="addNewAction()"><i class="icon ion-plus-round"></i> Action</a>
                                        </div>
                                    </div>
                                            <table id="coa1" style="width:50%;border-color:white;border:0px;border-color:white;margin-top: 10px;">
                                                <tbody style="border-color: white">
                                                <tr style="border:0px;border-color:white;">
                                                    <td><label style="margin-top: -14px;margin-left:6px;">Rule Date</label></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input class="float-left" custom-datepicker (valueChanged)="setDate($event)" [format]="'YYYY-MM-DD'" [mindate]="'past'" style="margin-left:-27px;" value="{{todaysDate}}"   type="text" formControlName="effectiveDate" placeholder="Action Date*"/></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                    <div class="row">

                                    </div>
                                        </div>
                                </div>

                                <div class="small-2 medium-12 columns">
                                    <button type="submit" class="button create small float-right" [disabled]="isValid(ruleForm)" (click)="submit($event)">Save</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <button class="close-flyout" aria-label="Close modal" type="button" (click)="hideFlyout()">
                    <span aria-hidden="true">
                      <i class="ion-ios-close-empty"></i>
                    </span>
                </button>
            </section>
        </div>
    </div>
</div>
