
<div class="row" foundation>
    <div class="column small-12 medium-6">
        <h5>Rules</h5>
    </div>
    <div class="columns small-6 small-offset-6 right">

    </div>
</div>
<div class="row chart-of-accounts" foundation>
    <div class="column large-12 medium-12 small-12 foo-container">
        <div class="foo-toolbar">
            <button class="button small" (click)="showAddRule()"><i class="icon ion-plus-round"></i> Rule</button>
        </div>
        <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasRuleList" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
    </div>
    <div class="qount-off-canvas-menu rule-flyout">
        <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
            <section class="flyout-placeholder">
                <header class="flyout-header">
                    <h6>{{editMode ? "Update Rule" : "Add Rule"}}</h6>
                </header>
                <div class="flyout-body flyout-shadow-effect">
                    <!--here comes actual flyout code-->
                    <section class="form-section clearfix">
                        <form *ngIf="showFlyout" novalidate [formGroup]="ruleForm">
                            <div class="row">
                                <div class="small-12 medium-12 columns">
                                    <header class="form-section-header">Rule</header>
                                    <div class="row">
                                        <div class="small-12 medium-12 columns rule-row">
                                            <label style="margin-top: 21px;">When a</label>
                                            <select style="margin-top: 15px;" class="source" formControlName="sourceType" (change)="expesevalue()">
                                               <option *ngFor="let deposit of depositlist;" value="{{deposit}}">{{deposit}}</option>
                                            </select>
                                            <label style="margin-top: 21px;">is created and the</label>
                                            <label style="margin-top: 21px;">source</label>
                                            <select style="margin-top: 15px;">
                                                <option *ngFor="let bank of banks;" value="{{bank.id}}">{{bank.name}}</option>
                                            </select>
                                            <select style="margin-top: 15px;" class="column-condition" formControlName="attributeName" (change)="selectChange()">
                                                <option *ngFor="let exp of expenxeArrayvalue;" value="{{exp}}" >{{exp}}</option>

                                            </select>
                                            <select style="margin-top: 15px;" class="condition" formControlName="comparisionType">
                                                <option *ngFor="let comparisiontype of conparisionArray;" value="{{comparisiontype" >{{comparisiontype}}</option>
                                            </select>
                                            <input style="margin-top: 15px;" type="text" class="condition-value" value="comparisionValue" formControlName="comparisionValue" />
                                            <select style="margin-top: 15px;" class="column-condition" formControlName="attributeName">
                                                <option value="TITLE">AND</option>
                                                <option value="AMOUNT">OR</option>
                                            </select>
                                            <select style="margin-top: 15px;" class="column-condition" formControlName="attributeName" (change)="selectChange()">
                                                <option *ngFor="let exp of expenxeArrayvalue;" value="{{exp}}" >{{exp}}</option>

                                            </select>
                                            <select style="margin-top: 15px;" class="condition" formControlName="comparisionType">
                                                <option *ngFor="let comparisiontype of conparisionArray;" value="comparisiontype" >{{comparisiontype}}</option>
                                            </select>
                                            <input style="margin-top: 15px;" type="text" class="condition-value"/>
                                        </div>
                                    </div>
                                    <header class="form-section-header">Actions:</header>
                                    <div class="actions-form" formArrayName="actions">
                                        <div class="row action-row" *ngFor="let actionForm of ruleForm.controls.actions.controls;let index=index;">
                                            <div class="small-12 medium-6 columns">
                                                <label>Then add</label>
                                                <select class="action" [formControl]="actionForm.controls.action">
                                                    <option value="chartOfAccount">Chart of account</option>
                                                    <option value="dimension">Dimension</option>
                                                </select>
                                                <label *ngIf="isActionCOA(actionForm)" class="combo-box">
                                                    <select id="coa-{{index}}" combo-box #coaComboBoxDir="comboBox" title="" data-placeholder="Enter Chart of account" [formControl]="actionForm.controls.actionValue" [listObject]="chartOfAccounts" (valueChanged)="updateActionValue($event, index, 'chartOfAccount')">
                                                        <option *ngFor="let chartOfAccount of chartOfAccounts" [value]="chartOfAccount.id">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                                                    </select>
                                                </label>
                                                <label *ngIf="isActionDimension(actionForm)" class="combo-box">
                                                    <select id="dimension-{{index}}" combo-box #coaComboBoxDir="comboBox" title="" data-placeholder="Enter Dimension" [formControl]="actionForm.controls.actionValue" [listObject]="dimensions" (valueChanged)="updateActionValue($event, index, 'dimension')">
                                                        <option *ngFor="let dimension of dimensions" [value]="dimension.name">{{dimension.name}}</option>
                                                    </select>
                                                </label>
                                            </div>
                                            <div class="small-12 medium-1 columns">
                                                <i class="icon ion-close" *ngIf="actions.length != 1" (click)="deleteAction(index)"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row add-action">
                                        <div class="small-2 medium-3 columns">
                                            <a (click)="addNewAction()"><i class="icon ion-plus-round"></i> Action</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-2 medium-6 columns">
                                            <button type="submit" class="button small float-left" (click)="submit($event, 'NO_DATE')">Save</button>
                                            <div class="date-wrapper float-left" (click)="submit($event, 'WITH_DATE')">
                                                <a class="button small float-left">Save and apply to all {{getSourceName()}}s since</a>
                                            </div>
                                            <input class="float-left" custom-datepicker [mindate]="'past'" [format]="'MM/DD/YYYY'" type="text" formControlName="effectiveDate" placeholder="Deposits Date*"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <button class="close-flyout" aria-label="Close modal" type="button" (click)="hideFlyout()">
                    <span aria-hidden="true">
                      <i class="ion-ios-close-empty"></i>
                    </span>
                </button>
            </section>
        </div>
    </div>
</div>
