<div class="qount-off-canvas-menu">
    <div class="flyout expanded" [ngClass]="{'expanded':true}">
        <section class="flyout-placeholder">
            <header class="flyout-header">
                <h6>Search</h6>
            </header>
            <div class="flyout-body flyout-shadow-effect">
                <section class="form-section clearfix search-reveal" *ngIf="!showSearchCriteria">
                    <div class="row">
                        <div class="small-12 medium-12 columns">
                            <div class="form-section-left expense-row">
                                <header class="form-section-header float-left">Search Criteria</header>
                                <button class="float-right button small" (click)="showSearchCriteria = !showSearchCriteria">Expand</button>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="form-section clearfix search-reveal" *ngIf="showSearchCriteria">
                    <div class="row">
                        <div class="small-12 medium-12 columns">
                            <div class="form-section-left expense-row">
                                <div class="row">
                                    <div class="small-12 medium-4 columns">
                                        <label>Search in
                                            <div class="stacked-for-small small button-group">
                                                <a class="button" [ngClass]="isCompSelected('bill')" (click)="selectComponent('bill')">Bill</a>
                                                <a class="button" [ngClass]="isCompSelected('expense')" (click)="selectComponent('expense')">Expense</a>
                                                <a class="button" [ngClass]="isCompSelected('deposit')" (click)="selectComponent('deposit')">Deposit</a>
                                                <a class="button" [ngClass]="isCompSelected('journal')" (click)="selectComponent('journal')">Journal</a>
                                                <a class="button" [ngClass]="isCompSelected('payment')" (click)="selectComponent('payment')">Payments</a>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 medium-4 columns">
                                        <label>Amount
                                            <div class="amount">
                                                <div class="small-12 medium-4 columns">
                                                    <select [(ngModel)]="amountCondition">
                                                        <option value=""></option>
                                                        <option value="greaterthan">&gt;</option>
                                                        <option value="lessthan">&lt;</option>
                                                        <option value="equals">=</option>
                                                        <option value="between">between</option>
                                                    </select>
                                                </div>
                                                <div class="small-12 medium-8 columns between" [hidden]="amountCondition == 'between'">
                                                    <div class="small-12 medium-5 columns">
                                                        <input type="text" [(ngModel)]="amount" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
                                                    </div>
                                                </div>
                                                <div class="small-12 medium-8 columns between" [hidden]="amountCondition != 'between'">
                                                    <div class="small-12 medium-5 columns">
                                                        <input type="text" [(ngModel)]="lowerLimit" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
                                                    </div>
                                                    <div class="small-12 medium-2 columns text-center">and</div>
                                                    <div class="small-12 medium-5 columns">
                                                        <input type="text" [(ngModel)]="upperLimit" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 medium-4 columns">
                                        <label>Title/Number/Notes
                                            <div class="amount">
                                                <div class="small-12 medium-4 columns">
                                                    <select [(ngModel)]="textCondition">
                                                        <option value=""></option>
                                                        <option value="beginsWith">Begins with</option>
                                                        <option value="endsWith">Ends with</option>
                                                        <option value="contains">Contains</option>
                                                    </select>
                                                </div>
                                                <div class="small-12 medium-8 columns">
                                                    <input type="text" [(ngModel)]="text" placeholder="Enter value"/>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 medium-5 columns">
                                        <label>Date
                                            <div class="amount">
                                                <div class="small-12 medium-4 columns">
                                                    <select [(ngModel)]="dateCondition">
                                                        <option value=""></option>
                                                        <option value="before">before</option>
                                                        <option value="after">after</option>
                                                        <option value="between">between</option>
                                                    </select>
                                                </div>
                                                <div class="small-12 medium-8 columns between" [hidden]="dateCondition == 'between'">
                                                    <div class="small-12 medium-5 columns">
                                                        <input type="text" [(ngModel)]="date" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setDate($event, 'date')" placeholder="Date"/>
                                                    </div>
                                                </div>
                                                <div class="small-12 medium-8 columns between" [hidden]="dateCondition != 'between'">
                                                    <div class="small-12 medium-5 columns">
                                                        <input type="text" [(ngModel)]="beginDate" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setDate($event, 'beginDate')" placeholder="Begin Date"/>
                                                    </div>
                                                    <div class="small-12 medium-2 columns text-center">and</div>
                                                    <div class="small-12 medium-5 columns">
                                                        <input type="text" [(ngModel)]="endDate" custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setDate($event, 'endDate')" placeholder="End Date"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 medium-3 columns">
                                        <label>Chart of Accounts
                                            <select combo-box #coaComboBoxDir="comboBox" data-placeholder="Select COA" [listObject]="chartOfAccounts" (valueChanged)="setChartOfAccount($event)">
                                                <option *ngFor="let account of chartOfAccounts" [value]="account.id">{{account.name}}</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="small-12 medium-2 columns">
                                        <label>Vendors
                                            <select combo-box #vendorComboBoxDir="comboBox" data-placeholder="Select Vendor" [listObject]="vendors" (valueChanged)="setVendor($event)">
                                                <option *ngFor="let vendor of vendors" [value]="vendor.id">{{vendor.name}}</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="small-12 medium-2 columns">
                                        <label>Customers
                                            <select combo-box #customerComboBoxDir="comboBox" data-placeholder="Select Customer" [listObject]="customers" (valueChanged)="setCustomer($event)">
                                                <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="small-12 medium-6 columns">

                                    </div>
                                </div>
                                <div class="columns small-12 right">
                                    <button class="button small float-right" style="margin-left: 10px;" (click)="showSearchCriteria = !showSearchCriteria">Hide Criteria</button>
                                    <button class="button small float-right" (click)="doSearch()">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="form-section clearfix search-reveal" *ngIf="hasSearchResults">
                    <div class="row">
                        <div class="small-12 medium-12 columns">
                            <div class="form-section-left expense-row">
                                <header class="form-section-header">Search Results</header>
                                <div class="column large-12 medium-12 small-12 foo-container">
                                    <foo-table #fooTableDir="fooTable" [ngClass]='{"search-right": true}' class="bighalf-footable" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <button class="close-flyout" aria-label="Close modal" type="button" (click)="showPreviousPage()">
                    <span aria-hidden="true">
                      <i class="ion-ios-close-empty"></i>
                    </span>
                </button>
            </div>
        </section>
    </div>
</div>