<div class="switchCompanyModal">

    <div class="switchCompany-modal-name" data-toggle="SwitchCompany-modal">
        <span>{{currentCompanyName}}</span>
    </div>

    <div class="full reveal qount-flyout SwitchCompany-reveal" id="SwitchCompany-modal" data-reveal>
        <h5>Hop from {{currentCompanyName}} to ....</h5>
        <div class="column large-12 medium-12 small-12 foo-container">
            <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasCompanyList" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
        </div>

        <button class="close-button " data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">
            <i class="ion-ios-close-empty"></i>
          </span>
        </button>
    </div>
</div>

