<div class="miniSwitchCompany">
    <div class="miniSwitchCompany-selector float-right" data-toggle="miniSwitchCompany-dropdown">
        <span class="miniSwitchCompany-selector-icon"></span>
        <span class="miniSwitchCompany-selector-name">{{currentCompany.name}}</span>
        <span class="miniSwitchCompany-selector-arrow"><i class="ion-chevron-down"></i></span>
    </div>
    <div class="dropdown-pane bottom" id="miniSwitchCompany-dropdown" data-dropdown>
        <h6>Current Company</h6>
        {{currentCompany.name}}
        <hr>
        <select combo-box title="" data-placeholder="Search company"
                [listObject]="allCompanies" (valueChanged)="changeCompany($event)">
            <option *ngFor="let company of allCompanies" [value]="company.name">{{company.name}}</option>
        </select>
    </div>

</div>


