<div class="tandc">
    <div class="login-form-cotainer row">
        <div class="column small-12 medium-6 large-5 medium-centered">
            <div class="form">
                <div class="heading">Terms And Conditions</div>
                <div class="row">
                    <div class="small-12 medium-6 large-centered columns">
                        <input type="button" class="button small float-left" value="Decline" (click)="decline()"/>
                    </div>
                    <div class="small-12 medium-6 large-centered columns">
                        <input type="button" class="button small float-right" value="Accept" (click)="accept()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
