<div class="row" foundation>
    <div class="column small-12 medium-6">
        <h5>Tools</h5>
    </div>

    <div class="row tools-grids">
        <div class="column tool-grid" (click)="showPage('companies', $event)">
            <div class="grid-icon companies"></div>
            <span class="grid-qount" [hidden]="companyCount == 0">{{companyCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Companies</div>
        </div>
        <div class="column tool-grid" (click)="showPage('vendors', $event)">
            <div class="grid-icon vendors"></div>
            <span class="grid-qount" [hidden]="vendorCount == 0">{{vendorCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Vendors</div>
        </div>
        <div class="column tool-grid" (click)="showPage('customers', $event)">
            <div class="grid-icon customers"></div>
            <span class="grid-qount" [hidden]="customerCount == 0">{{customerCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Customers</div>
        </div>
        <div class="column tool-grid" (click)="showPage('taxes', $event)">
            <div class="grid-icon billing"></div>
            <span class="grid-qount" [hidden]="taxesCount == 0">{{taxesCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Taxes</div>
        </div>
        <div class="column tool-grid" (click)="showPage('items', $event)">
            <div class="grid-icon items"></div>
            <span class="grid-qount" [hidden]="itemCount == 0">{{itemCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Items</div>
        </div>
    </div>
    <div class="row tools-grids">
        <div class="column tool-grid" (click)="showPage('chartofaccounts', $event)">
            <div class="grid-icon chart-of-accounts"></div>
            <span class="grid-qount" [hidden]="coaCount == 0">{{coaCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Chart of Accounts</div>
        </div>
        <div class="column tool-grid" (click)="showPage('expensecode', $event)">
            <div class="grid-icon expense-codes"></div>
            <div class="grid-qount" [hidden]="expenseCodeCount == 0">{{expenseCodeCount}}</div>
            <div class="clear"></div>
            <div class="thumb-label">Expense codes</div>
        </div>
        <div class="column tool-grid" (click)="showPage('billing', $event)">
            <div class="grid-icon billing"></div>
            <div class="grid-qount" [hidden]="billCount == 0">{{billCount}}</div>
            <div class="clear"></div>
            <div class="thumb-label">Billing</div>
        </div>
        <div class="column tool-grid" (click)="showPage('reports', $event)">
            <div class="grid-icon reports"></div>
            <!--<div class="grid-qount">3</div>-->
            <div class="clear"></div>
            <div class="thumb-label">Reports</div>
        </div>
        <div class="column tool-grid" (click)="showPage('workflow', $event)">
            <div class="grid-icon payment-workflow"></div>
            <!--<div class="grid-qount">3</div>-->
            <div class="clear"></div>
            <div class="thumb-label">Payment Workflow</div>
        </div>
    </div>
    <div class="row tools-grids">
        <div class="column tool-grid" (click)="showPage('dimensions', $event)">
            <div class="grid-icon chart-of-accounts"></div>
            <span class="grid-qount" [hidden]="dimensionCount == 0">{{dimensionCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Dimensions</div>
        </div>
        <div class="column tool-grid" (click)="showPage('users', $event)">
            <div class="grid-icon employees"></div>
            <span class="grid-qount" [hidden]="usersCount == 0">{{usersCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Users</div>
        </div>
        <div class="column tool-grid" (click)="showPage('accounts', $event)">
            <div class="grid-icon chart-of-accounts"></div>
            <span class="grid-qount" [hidden]="accountsCount == 0">{{accountsCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Financial Accounts</div>
        </div>
        <div class="column tool-grid" (click)="showPage('modules', $event)">
            <div class="grid-icon chart-of-accounts"></div>
            <span class="grid-qount" [hidden]="modulesCount==0 ">{{modulesCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Modules</div>
        </div>
        <div class="column tool-grid" (click)="showPage('rules', $event)">
            <div class="grid-icon rules"></div>
            <span class="grid-qount" [hidden]="rulesCount == 0">{{rulesCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Rules</div>
        </div>
    </div>
    <div class="row tools-grids">
        <div class="column tool-grid" (click)="showPage('invoice_settings', $event)">
            <div class="grid-icon chart-of-accounts"></div>
            <span class="grid-qount" [hidden]="true"></span>
            <div class="clear"></div>
            <div class="thumb-label">Invoice Settings</div>
        </div>
        <div class="column tool-grid">
            <div class="grid-icon employees" (click)="showPage('employees', $event)"></div>
            <span class="grid-qount" [hidden]="employeesCount == 0">{{employeesCount}}</span>
            <div class="clear"></div>
            <div class="thumb-label">Employees</div>
        </div>
        <div class="column tool-grid">
            <div class="grid-icon chart-of-accounts" (click)="showPage('lock', $event)"></div>
            <span class="grid-qount" [hidden]="true"></span>
            <div class="clear"></div>
            <div class="thumb-label">Lock</div>
        </div>
        <div class="column tool-grid" (click)="showPage('documents', $event)">
            <div class="grid-icon chart-of-accounts"></div>
            <span class="grid-qount" [hidden]="true"></span>
            <div class="clear"></div>
            <div class="thumb-label">Documents</div>
        </div>
        <div class="column tool-grid" (click)="showPage('budget', $event)">
            <div class="grid-icon chart-of-accounts"></div>
            <span class="grid-qount" [hidden]="true"></span>
            <div class="clear"></div>
            <div class="thumb-label">Budget</div>
        </div>


    </div>

</div>
